.edu-intro {
  margin-top: 64px;
  padding-right: 60%;
  padding-bottom: 60px;

  background: url("intro.svg") no-repeat top right;
  background-size: 528px auto;
  min-height: 400px;
}

.edu-feature-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 48px;
}

.edu-feature-list__item {
  padding-bottom: 48px;
  width: 31.67%;
}

.edu-feature-list__item::before {
  display: block;
}

.edu-feature-list__item_type_android::before {
  content: url("features/android.svg");
}

.edu-feature-list__item_type_recognize::before {
  content: url("features/recognize.svg");
}

.edu-feature-list__item_type_popular::before {
  content: url("features/popular.svg");
}

.edu-feature-list__item_type_easy::before {
  content: url("features/easy.svg");
}

.edu-feature-list__item_type_paradigms::before {
  content: url("features/paradigms.svg");
}

.edu-feature-list__item_type_interoperable::before {
  content: url("features/interoperable.svg");
}

.edu-feature-list__item_type_modern::before {
  content: url("features/modern.svg");
}

.edu-feature-list__item_type_supports::before {
  content: url("features/supports.svg");
}

.edu-feature-list__item_type_tooling::before {
  content: url("features/tooling.svg");
}

.edu-feature-list__title {
  display: block;

  font-weight: bold;
  font-size: 18px;
  line-height: 28px;

  margin-top: 16px;
  margin-bottom: 16px;
}

.edu-feature-list__para {
  font-size: 14px;
  line-height: 24px;
  color: rgba(39, 40, 44, 0.7);
}