/* Buttons */
.btn {
    position: relative;
    display: inline-block;
    padding: 8px 19px;
    background: #f1f1f1;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    -webkit-transition: 0.07s linear;
            transition: 0.07s linear;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    }
.btn::-moz-focus-inner { border: none; padding: 0 1px }


/* + SIZE */
/* small */
.btn._sm {
    padding: 4px 12px 5px;
}

/* large */
.btn._lg {
    padding: 18px 22px 19px;
    min-width: 200px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
/* - SIZE */


/* + COLOR */
/* primary */
.btn._primary {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#68c0ff), to(#4ea9ff));
    background-image: -webkit-linear-gradient(#68c0ff 0%, #4ea9ff);
    background-image:    -moz-linear-gradient(#68c0ff 0%, #4ea9ff);
    background-image:      -o-linear-gradient(#68c0ff 0%, #4ea9ff);
    background-image:         linear-gradient(#68c0ff 0%, #4ea9ff);
    color: #fff;
    }
.btn._primary:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80d1ff), to(#5fb6ff));
    background-image: -webkit-linear-gradient(#80d1ff 0%, #5fb6ff);
    background-image:    -moz-linear-gradient(#80d1ff 0%, #5fb6ff);
    background-image:      -o-linear-gradient(#80d1ff 0%, #5fb6ff);
    background-image:         linear-gradient(#80d1ff 0%, #5fb6ff);
}

/* authorization */
.btn._auth {
    min-width: 83px;
    background: #e1ebf2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.3, #e1ebf2), to(#d5dfe8));
    background-image: -webkit-linear-gradient(#e1ebf2 30%, #d5dfe8);
    background-image:    -moz-linear-gradient(#e1ebf2 30%, #d5dfe8);
    background-image:      -o-linear-gradient(#e1ebf2 30%, #d5dfe8);
    background-image:         linear-gradient(#e1ebf2 30%, #d5dfe8);
    color: #3b414f;
    -webkit-transition: .3s;
            transition: .3s;
    }
.btn._auth:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7e9f6), to(#cddfef));
    background-image: -webkit-linear-gradient(#d7e9f6 0%, #cddfef);
    background-image:    -moz-linear-gradient(#d7e9f6 0%, #cddfef);
    background-image:      -o-linear-gradient(#d7e9f6 0%, #cddfef);
    background-image:         linear-gradient(#d7e9f6 0%, #cddfef);
}

/* orange */
.btn._orange {
    background-color: #ee9f2e;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee9f2e), to(#d18319));
    background-image: -webkit-linear-gradient(#ee9f2e 0%, #d18319);
    background-image:    -moz-linear-gradient(#ee9f2e 0%, #d18319);
    background-image:      -o-linear-gradient(#ee9f2e 0%, #d18319);
    background-image:         linear-gradient(#ee9f2e 0%, #d18319);
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    text-shadow: 0 -1px rgba(197,84,0,.75);
    color: #fff;
    -webkit-transition: .3s;
            transition: .3s;
    }
.btn._orange:hover {
    background-color: #fa9300;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa9300), to(#dd7200));
    background-image: -webkit-linear-gradient(#fa9300 0%, #dd7200);
    background-image:    -moz-linear-gradient(#fa9300 0%, #dd7200);
    background-image:      -o-linear-gradient(#fa9300 0%, #dd7200);
    background-image:         linear-gradient(#fa9300 0%, #dd7200);
    }

/* blue */
.btn._blue {
    background-color: #5085a5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5085a5), to(#407798));
    background-image: -webkit-linear-gradient(#5085a5 0%, #407798);
    background-image:    -moz-linear-gradient(#5085a5 0%, #407798);
    background-image:      -o-linear-gradient(#5085a5 0%, #407798);
    background-image:         linear-gradient(#5085a5 0%, #407798);
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    text-shadow: 0 -1px rgba(0,0,0,.75);
    color: #fff;
    -webkit-transition: .3s;
            transition: .3s;
    }
.btn._blue:hover {
    background-color: #508eb3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#508eb3), to(#437ea1));
    background-image: -webkit-linear-gradient(#508eb3 0%, #437ea1);
    background-image:    -moz-linear-gradient(#508eb3 0%, #437ea1);
    background-image:      -o-linear-gradient(#508eb3 0%, #437ea1);
    background-image:         linear-gradient(#508eb3 0%, #437ea1);
    }
/* - COLOR */



/* Btn group */
.btn-group {}
    .btn-group .btn-round {
        float: left;
        margin: 0 10px 0 0;
        }

.btn-group .btn:first-child { border-radius: 3px 0 0 3px }
.btn-group .btn:last-child { border-radius: 0 3px 3px 0 }

/* Btn round */
.btn-round {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 3px solid #7a9dbc;
    border-radius: 50%;
    vertical-align: top;
    }
    .btn-round .icon {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        }
    .btn-round .icon._jetbrains {
        bottom: 1px;
    }

.btn-round._sm {
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.btn-round._mute {
    opacity: .3;
    -webkit-transition: opacity .4s;
            transition: opacity .4s;
}
.btn-round._mute:hover,
a:hover .btn-round._mute {
    opacity: 1;
}

.btn-round._color {
    border-color: #294967;
    -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.3);
            box-shadow: inset 0 3px 3px rgba(0,0,0,.3);
    }
.btn-round._color._mute {
    opacity: .6;
}
.btn-round._color._mute:hover {
    opacity: 1;
}


/* donwload */
.btn._download,
.btn._select {
    background-color: #8097ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8097ae), to(#5e6f80));
    background-image: -webkit-linear-gradient(#8097ae 0%, #5e6f80);
    background-image:    -moz-linear-gradient(#8097ae 0%, #5e6f80);
    background-image:      -o-linear-gradient(#8097ae 0%, #5e6f80);
    background-image:         linear-gradient(#8097ae 0%, #5e6f80);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.btn._download:hover,
.btn._select:hover {
    background: #708499;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#839db8), to(#66788a));
    background-image: -webkit-linear-gradient(#839db8 0%, #66788a);
    background-image:    -moz-linear-gradient(#839db8 0%, #66788a);
    background-image:      -o-linear-gradient(#839db8 0%, #66788a);
    background-image:         linear-gradient(#839db8 0%, #66788a);
}

.btn._download:active,
.btn._select:active,
.btn._select._active {
    background: #708499;
    -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.24);
       -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.24);
            box-shadow: inset 0 5px 5px rgba(0,0,0,.24);
}


/* OS Selector */
.btn-group._select-os {
    position: relative;
    display: block;
}
    .btn-group._select-os .btn._download {
        display: block;
        margin-right: 44px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-group._select-os .btn._select {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 44px;
    }

    .btn._select {
        position: relative;
        -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
           -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
                box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border-left: 1px solid #5f7081;
        background-repeat: repeat-x;
        -webkit-border-radius: 0 3px 3px 0;
           -moz-border-radius: 0 3px 3px 0;
                border-radius: 0 3px 3px 0;
        -webkit-box-shadow: inset 1px 0 0 #a7bed4;
           -moz-box-shadow: inset 1px 0 0 #a7bed4;
                box-shadow: inset 1px 0 0 #a7bed4;
    }

    .btn._select:after {
        position: absolute;
        top: 35px;
        left: 50%;
        margin-left: -5px;
        width: 9px;
        height: 6px;
        background: url("../assets/images/btn-download-sprite.png") no-repeat -190px -240px;
        content: '';
    }
    .btn._select:before {
        position:absolute;
        top: 11px;
        left: 50%;
        margin-left: -9px;
        width: 18px;
        height: 18px;
        background: url("../assets/images/btn-download-sprite.png") no-repeat 50px 50px;
        content: '';
    }
    .btn._select._win:before   { background-position: -150px -240px }
    .btn._select._mac:before   { background-position: -150px -270px; height: 20px; top: 10px }
    .btn._select._linux:before { background-position: -150px -300px; height: 21px; top: 9px }
    .btn._select._java:before  { background-position: -150px -330px; height: 26px; top: 5px}


/* Os-dropdown */
.os-dropdown {
    margin: 15px 0 0;
    padding: 0;
    min-width: 160px;
    background: #fff;
    border: 1px solid #808080;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
            box-shadow: 0 0 5px rgba(0,0,0,.2);
    }
.btn-group._select-os .os-dropdown {
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
            transition: opacity .4s;
    }
.btn._select:active + .os-dropdown,
.btn._select._active + .os-dropdown,
.os-dropdown._active {
    visibility: visible;
    opacity: 1;
    }
    .os-dropdown:before {
        position: absolute;
        top: -9px;
        right: 12px;
        z-index: 1;
        display: block;
        width: 0;
        border-color: #fff transparent;
        border-style: solid;
        border-width: 0 9px 9px;
        content: '';
        }
    .os-dropdown:after,
    .os-dropdown__item:first-child:hover:before {
        position: absolute;
        top: -10px;
        right: 11px;
        z-index: 0;
        display: block;
        width: 0;
        border-color: #7a90a6 transparent;
        border-style: solid;
        border-width: 0 10px 10px;
        content: '';
        }

    .os-dropdown__item {
        position: relative;
        z-index: 2;
        padding: 0.2em 3em 0.2em 1em;
        background: url("../assets/images/icoSelectOS.png") no-repeat 97% 0.5em;
        white-space: nowrap;
        line-height: 1.8;
        text-align: right;
        cursor: pointer;
        }
    .os-dropdown__item._mac   { background-position: 97% -27px }
    .os-dropdown__item._linux { background-position: 97% -57px }
    .os-dropdown__item._java  { background-position: 97% -87px }

    .os-dropdown__item:hover {
        background-color: #73909e;
        color: #fff;
    }