.keyword {
    background-color: #c5eaff;
    color: #808080;
    padding: 5px;
    border-width: thin;
    border-style: dotted;
    font-style: normal;
}

.error {
    background-color: #ff0000;
}

.warning {
    background-color: #ffff00;
}