.card {
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;

  @media (width <= 616px) {
    padding: 24px;
  }
}

.logos {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  width: auto;
  height: auto;
  max-height: 64px;
  object-fit: contain;
}

.mediaImage {
  display: block;
  width: 100%;
  height: auto;
}

.description {
  & h2 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 35px;
    line-height: 42px;
    font-weight: 600;
  }

  & p {
    margin-top: 0;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.name {
  font-weight: 600;
}

.platforms {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 12px;
  height: 24px;
  margin-left: -2px; /* visual compensation */
}

.link {
  display: inline-block;
  align-self: flex-start;
  --_rs-typography-link-after-margin-left-final: 4px;
}
