@import '../../_config';
@import '../../_utils';
@import '../_bits/_header';
@import '../_bits/_table';

.events-table {
    .event-title-col {
        width: 190px;
        padding-right: 15px;
        float: left;
    }

    .event-date-col {
        width: 150px;
        padding-top: 6px;
        padding-right: 15px;
        float: left;
    }

    .event-info-col {
        overflow: hidden;
    }

    .events-list {
        margin-left: 160px;
    }
}

.events-table-row {
    border-top: 1px solid #ECEFF3;
}

.events-table-row-title {
    float: left;
    padding-top: 10px;
    font-size: 18px;
    line-height: 22px;
}

.events-list {
    .event:last-child {
        border-bottom: none;
    }
}

.event {
    @include clearfix;
    padding: 8px 0 8px 10px;
    border-bottom: 1px solid #eceff3;

    &:hover {
        background-color: #F7FCFF;
    }
}

.event-date-container {
    display: flex;
    line-height: 20px;
}

.event-date {
    font-size: 12px;
    line-height: 15px;
    color: #666;
    white-space: nowrap;
}

.event-title {
    font-size: 18px;
    line-height: 22px;
}

.event-location {
    font-size: 12px;
    line-height: 22px;
}

.event-subject {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #4c4c4c;

    .text {
        padding-right: 8px;
    }
}

.event-info-indicators {
    //position: absolute;
    display: inline-block;
}

.event-content-item {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    background-image: url('../layout/images/main-sprite.png');
    background-repeat: no-repeat;

    @include adapt_retina {
        background-image: url('../layout/images/main-sprite@2x.png');
        background-size: 150px auto;
    }

    &:hover {
    }
}

.event-content-item._slides {
    top: 1px;
    width: 24px;
    height: 16px;
    background-position: 0 -250px;
}

.event-content-item:hover._slides {
    background-position: -50px -250px;
}

.event-content-item._video {
    top: 1px;
    width: 27px;
    height: 15px;
    background-position: 0 -200px;
}

.event-content-item._video:hover {
    background-position: -100px -200px;
}

.event-content-item._article {
    top: 2px;
    width: 16px;
    height: 19px;
    background-position: 0 -350px;
}

.event-content-item._article:hover {
    background-position: -50px -350px;
}

.event-content-item._pdf {
    top: 2px;
    width: 18px;
    height: 18px;
    background-position: 0 -300px;
}

.event-content-item._pdf:hover {
    background-position: -50px -300px;
}

.event-content-item._examples {
    top: 2px;
    width: 20px;
    height: 20px;
    background-position: -50px 0;
}

.event-content-item._examples:hover {
    background-position: 0 0;
}

.event-lang {
    padding: 0 4px;
    margin-left: 8px;
    background-color: #a8a8a8;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 100%;
    font-size: 10px;
}

.book-lang {
    position: relative;
    display: inline-block;
    padding: 0 4px;
    background-color: #a8a8a8;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 100%;
    font-size: 10px;
}

.event-speaker {
    font-size: 12px;
    line-height: 22px;
    color: #666;
}