.wrapper {
    position: relative;
    overflow: hidden;
    padding: 96px 0;
}

.content {
    position: relative;
    z-index: 2;
}

.backgroundImage {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin-right: -150px;
    z-index: 1;
}

.card {
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 32px 32px 40px 32px;
    box-sizing: border-box;
    border-radius: 16px;
}

@media (max-width: 1024px) {
    .mobileSpacer {
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .mobileSpacer {
        margin-top: 16px;
    }
}
