.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 4px;
}

@media (min-width: 768px) {
    .wrapper {
        justify-content: flex-start;
    }
}
