@import '../../config';
@import '../../utils';


.toc {
    margin-bottom: 30px !important;
}


.toc ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.toc ul > li {
    margin-bottom: 0;
}


.toc-item_level_1 > a {
    font-weight: bold;
}

