.why-teach-grid {
  &__nav {
    display: none;
  }
  @media (min-width: 1200px) {
    display: flex;
    &__content {
      max-width: 70%;
    }
    &__nav {
      display: block;
      margin-left: 96px;
    }
  }
}

.why-teach-nav {
  position: sticky;
  top: 96px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__link {
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.quote-section {
  &__info {
    display: none;
  }
  @media (min-width: 768px) {
    &__grid {
      display: flex;
    }
    &__content {
      max-width: 70%;
    }
    &__info {
      display: block;
      margin-left: 32px;
    }
  }
}

.ktl-with-anchor {
  &:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 96px;
    margin-top: -96px;
  }
}

.ktl-link {
  text-decoration: none;
  color: rgba(39, 40, 44, 0.5);
  transition: color .3s;
  &:hover {
    text-decoration: none;
    color: rgba(39, 40, 44, 1);
  }
  .rs-link {
    --rs-link-color: rgba(39, 40, 44, .5);
    --rs-underline-color: rgba(39, 40, 44, .5);
    &:hover {
      --rs-link-color: rgba(39, 40, 44, 1);
      --rs-underline-color: rgba(39, 40, 44, 1);
    }
  }
}