<section class="kotlin-overview-section _code-examples">
    <div class="kotlin-overview-code-example-tabs">
        <div class="g-layout">
            <div class="tab is_active js-tab" data-tab-id="kotlin-code-example-simplest"><div class="text">Simplest Version</div></div>
            <div class="tab js-tab" data-tab-id="kotlin-code-example-name-reading"><div class="tab-text">Name Reading</div></div>
            <div class="tab js-tab" data-tab-id="kotlin-code-example-object-oriented"><div class="tab-text">An “Object-oriented” Hello</div></div>
        </div>

    </div>

    <h2 class="section-header">What does it look like?</h2>
    <p class="section-description">Concise, simple and very easy to read (and write)</p>
    <div class="section-content">

        <!-- code example -->
        <div class="kotlin-overview-code-example" id="kotlin-code-example-simplest">

            <div class="code-line">
                <div class="code"><span class="keyword">package</span> hello

</div>
                <div class="code-legend align_right">
                    <div class="code-legend-line"></div>
                    <div class="code-legend-text">
                        Optional package header
                    </div>
                </div>
            </div>


            <div class="code-line">
                <div class="code"><span class="keyword">fun</span> <span class="func-name">main</span>(<span class="var-name">args</span>: Array&lt;String&gt;) {</div>
                <div class="code-legend align_right">
                    <div class="code-legend-line"></div>
                    <div class="code-legend-text">
                        Package-level function, which returns Unit and takes an Array
                        of strings as a parameter
                    </div>
                </div>

            </div>

            <div class="code-line">
                <div class="code">   <span class="buildin-func-name">println</span>(<span class="string-literal">"Hello World!"</span>)
}


</div>
                <div class="code-legend align_right">
                    <div class="code-legend-line-marker"></div>
                    <div class="code-legend-line" style="
                        -webkit-transform: rotate(29deg);
                        -ms-transform: rotate(29deg);
                        transform: rotate(29deg);
                        top: 70px;
                        left: 23px;
                        right: -12px;
                    "></div>

                    <div class="code-legend-text" style="top: 100px;">
                        Have you noticed?<br> Semicolons are optional
                    </div>
                </div>

            </div>

        </div>
        <!--/ code example -->

        <!-- code example -->
        <div class="kotlin-overview-code-example is_hidden" id="kotlin-code-example-name-reading">
            <div class="code-line"><div class="code"><span class="keyword">fun</span> <span class="func-name">main</span>(<span class="var-name">args</span>: Array&lt;String&gt;) {
   <span class="keyword">if</span> (<span class="var-name">args</span>.size == <span class="number">0</span>) {
      println(<span class="string-literal">"Provide a name"</span>)
      <span class="keyword">return</span>
   }</div></div>

            <div class="code-line">
                <div class="code">   println(<span class="string-literal">"Hello, <span class="string-literal-var-substitution">${</span><span class="var-name">args</span><span class="generic-code">[</span><span class="number">0</span><span class="generic-code">]<span class="string-literal-var-substitution">}</span></span><span class="string-literal-var-substitution"></span>!"</span>)
</div>
                <div class="code-legend align_right">
                    <div class="code-legend-line"></div>
                    <div class="code-legend-text">
                        String Interpolation to cut down ceremony.
                    </div>
                </div>

            </div>

            <div class="code-line">
                <div class="code">}</div>
            </div>
        </div>
        <!--/ code example -->

        <!-- code example -->
        <div class="kotlin-overview-code-example is_hidden" id="kotlin-code-example-object-oriented" style="left: 50px; max-width: 700px;">
            <div class="code-line">
                <div class="code"><span class="keyword">class</span> <span class="class-name">Greeter</span>(<span class="keyword">val</span> <span class="var-name">name</span>: String) {</div>
                <div class="code-legend align_left">
                    <div class="code-legend-line"></div>
                    <div class="code-legend-text">
                        Class with a primary constructor and a member function
                    </div>
                </div>
            </div>

            <div class="code-line">
                <div class="code">   <span class="keyword">fun</span> <span class="func-name">greet</span>() { 
      <span class="buildin-func-name">println</span>(<span class="string-literal">&quot;Hello, <span class="string-literal-var-substitution">$<span class="var-name">name</span></span>&quot;</span>)
   }
}

</div>
                </div>

            <div class="code-line">
                <div class="code"><span class="keyword">fun</span> <span class="func-name">main</span>(<span class="var-name">args</span>: Array&lt;String&gt;) {
<span class="class-name">   Greeter</span>(<span class="var-name">args</span>[<span class="number">0</span>]).greet()</div>
            </div>

            <div class="code-line">
                <div class="code">}  </div>
                <div class="code-legend align_right">
                    <div class="code-legend-line">
                        <div style="
                            position: absolute;
                            width: 1px;
                            background: #fff;
                            bottom: 1px;
                            height: 17px;
                        "></div>
                    </div>
                    <div class="code-legend-text">
                        Note that there's no new keyword
                        used to create an object
                    </div>
                </div>
            </div>

            <div class="code-line">
                <div class="code">
</div>
            </div>

        </div>
        <!--/ code example -->

        <div class="more-link-wrap">
            <a href="{{ site.baseurl }}{{ site.data._nav.main.docs.url }}" class="more-link">More examples, grammar and everything in documentation</a>
        </div>

    </div>
</section>
