<section class="kotlin-overview-section _community">
    <h2 class="section-header">Stay in touch</h2>
    <div class="section-content">
        <ul class="links-list">
            <li class="links-list-item">
                <a href="http://blog.jetbrains.com/kotlin" class="link" target="_blank">
                    <span class="link-icon _blog"></span>
                    <span class="link-text">Blog</span>
                </a>
            </li>

            <li class="links-list-item">
                <a href="community.html" class="link">
                    <span class="link-icon _forum"></span>
                    <span class="link-text">Community</span>
                </a>
            </li>

            <li class="links-list-item">
                <a href="{{ site.twitter_url }}" class="link" target="_blank">
                    <span class="link-icon _twitter"></span>
                    <span class="link-text">Twitter</span>
                </a>
            </li>

            <li class="links-list-item">
                <a href="http://youtrack.jetbrains.com/issues/KT" class="link" target="_blank">
                    <span class="link-icon _issue-tracker">
                        <div class="jetbrains-logo _logo-youtrack _size-2"></div>
                    </span>
                    <span class="link-text">Issue Tracker</span>
                </a>
            </li>
        </ul>
    </div>
</section>
