{% assign features = site.data.kotlin-features %}

<div class="kotlin-overview-section _features">
    <h2 class="section-header">Why Kotlin?</h2>
    <p class="section-description">Simple. Pleasurable. Powerful. Why not? Seriously though, let&#700;s see why...</p>
    <div class="section-content">

        <div class="kotlin-features-carousel-wrap" id="features-carousel">

            <div class="kotlin-features-carousel js-carousel">
                <ul class="kotlin-features-list">
                    {% for item in features %}
                        {% assign feature_id = item[0] %}
                        {% assign feature = item[1] %}

                        <li class="kotlin-feature _{{ feature_id }} js-popup-open-button"
                            data-popup-id="kotlin-feature_{{ feature_id }}">
                            <div class="feature-image"><div class="feature-icon _{{ feature_id }}"></div></div>
                            <h3 class="feature-title">{{ feature.title }}</h3>
                            <p class="feature-description">{{ feature.description }}</p>
                            <span class="feature-example-link">See example</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="kotlin-features-carousel-nav _prev js-carousel-nav-prev is_disabled"></div>
            <div class="kotlin-features-carousel-nav _next js-carousel-nav-next"></div>
        </div>
    </div>

    {% for item in features %}
        {% assign feature_id = item[0] %}
        {% assign feature = item[1] %}

        <div class="overview-popup _hidden js-popup"
             id="kotlin-feature_{{ feature_id }}">
            <div class="popup-content">
                {% markdown %}{% include {{feature.content_file}} %}{% endmarkdown %}
            </div>

            <div class="popup-close-button js-popup-close-button"
                 data-popup-id="kotlin-feature_{{ feature_id }}"></div>
        </div>
        <div class="overview-popup-overlay"></div>
    {% endfor %}

</div>