<div class="kotlin-overview-section _get-kotlin" id="get-kotlin">
    <h2 class="section-header">Get Kotlin</h2>

    <p class="section-description">Well, to get Kotlin, you have to study it at
        least for couple of hours. But for starters, download it first.</p>

    <div class="section-content">
        <div class="get-kotlin-options-list">
            <div class="option-item _standalone-compiler">
                <div class="option-image _standalone-compiler"></div>
                <div class="option-title-pre-text">Kotlin as</div>
                <h3 class="option-title">Standalone Compiler</h3>

                <p class="option-description">
                    A standalone complier, which is basically is a command line
                    with a few commands, can be downloaded directly.
                </p>

                <a href="http://confluence.jetbrains.com/display/Kotlin/Getting+Started"
                   class="option-link"
                   target="_blank">Download compiler</a>
            </div>

            <div class="option-item _intellij-idea">
                <div class="option-image _intellij-idea"></div>
                <div class="option-title-pre-text">Kotlin in</div>
                <h3 class="option-title">IntelliJ IDEA</h3>

                <p class="option-description">
                    There are a few ways, how to plug in Kotlin into IntelliJ
                    IDEA: manually, using milestone or nightly builds.
                </p>

                <a href="http://www.jetbrains.com/idea/download/"
                   class="option-link"
                   target="_blank">
                    Get IntelliJ IDEA
                </a>
            </div>

            <div class="option-item _source-code">
                <div class="option-image _source-code"></div>
                <div class="option-title-pre-text">Or just get</div>
                <h3 class="option-title">Source Code</h3>

                <p class="option-description">
                    Kotlin libraries project is all Kotlin code and used to
                    create the standard library, tests and associated tools.
                </p>

                <a href="https://github.com/JetBrains/kotlin"
                   class="option-link"
                   target="_blank">
                    Download source code
                </a>
            </div>
        </div>


        <div class="overview-popup _hidden js-popup"
             id="setting-up-idea-option-popup">
            <div class="popup-content">
                <h3>Setting Up IntelliJ IDEA</h3>

                <h4>Milestone Versions</h4>
                <p>
                    A stable milestone version of Kotlin can be obtained from JetBrains <a href="#">Plugin Repository</a>.
                    <br>
                    In IDEA navigate to: Settings -> Plugins -> Browse Repositories
                    <br>
                    Select the Kotlin plugin and then Download and Install.
                </p>

                <h4>Using the Kotlin Nightly Builds</h4>
                <p>In IDEA navigate to: Preferences -> Plugins -> Browse Repositories. Enter:</p>
                <ul>
                    <li>
                        for IntelliJ IDEA 13 EAP:<br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.5: <br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml?branch=idea12</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.4 and below: download manually, see instructions below.
                    </li>
                </ul>

                <p>Then you should be able to select the Kotlin plugin and Download and Install. The repository above contains nightly builds published automatically.</p>
            </div>

            <div class="popup-close-button js-popup-close-button"
                 data-popup-id="setting-up-idea-option-popup"></div>
        </div>
    </div>
</div>