<section class="kotlin-overview-section _get-kotlin" id="get-kotlin">
    <h2 class="section-header">Try Kotlin</h2>

    <p class="kotlin-version">{{ site.data.releases.latest.version }}</p>

    <p class="section-description">You have many ways to start playing with Kotlin. Make sure you check out the <a href="/docs/tutorials">Tutorials</a>
    <div class="section-content">
        <div class="get-kotlin-options-list">
            <div class="option-item _standalone-compiler">
                <div class="option-image _standalone-compiler"></div>
                <div class="option-title-pre-text">Standalone</div>
                <h3 class="option-title">Compiler</h3>

                <p class="option-description">
                    A Standalone Compiler and tools for build systems such as Ant, Gradle and Maven.
                </p>

                <div class="option-link-wrap">
                    <a href="{{ site.data.releases.latest.url }}"
                       class="option-link"
                       target="_blank">Download compiler</a>
                </div>
            </div>

            <div class="option-item _intellij-idea">
                <div class="option-image _intellij-idea"></div>
                <div class="option-title-pre-text">Use</div>
                <h3 class="option-title">IntelliJ IDEA</h3>

                <p class="option-description">
                    You can use either the OSS Community Edition or IntelliJ IDEA Ultimate.
                </p>

                <div class="option-link-wrap">
                    <a href="http://www.jetbrains.com/idea/download/"
                       class="option-link"
                       target="_blank">
                        Get IntelliJ IDEA
                    </a>
                </div>

            </div>

            <div class="option-item _source-code">
                <div class="option-image _source-code"></div>
                <div class="option-title-pre-text">Download</div>
                <h3 class="option-title">Source Code</h3>

                <p class="option-description">
                    Get the latest version of the compiler and tooling from
                    GitHub and contribute to Kotlin.
                </p>

                <div class="option-link-wrap">
                    <a href="https://github.com/JetBrains/kotlin"
                       class="option-link"
                       target="_blank">
                        Download source code
                    </a>
                </div>
            </div>

            <div class="option-item _try-online">
                <div class="option-image _try-online"></div>
                <div class="option-title-pre-text">In the browser</div>
                <h3 class="option-title">Try Online</h3>

                <p class="option-description">
                    Try Kotlin online directly in the browser without
                    having to install anything
                </p>


                <div class="option-link-wrap">
                    <a href="http://kotlin-demo.jetbrains.com"
                       class="option-link"
                       target="_blank">
                        Try Online
                    </a>
                </div>
            </div>
        </div>


        <div class="overview-popup _hidden js-popup"
             id="setting-up-idea-option-popup">
            <div class="popup-content">
                <h3>Setting Up IntelliJ IDEA</h3>

                <h4>Milestone Versions</h4>
                <p>
                    A stable milestone version of Kotlin can be obtained from JetBrains <a href="#">Plugin Repository</a>.
                    <br>
                    In IDEA navigate to: Settings -> Plugins -> Browse Repositories
                    <br>
                    Select the Kotlin plugin and then Download and Install.
                </p>

                <h4>Using the Kotlin Nightly Builds</h4>
                <p>In IDEA navigate to: Preferences -> Plugins -> Browse Repositories. Enter:</p>
                <ul>
                    <li>
                        for IntelliJ IDEA 13 EAP:<br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.5: <br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml?branch=idea12</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.4 and below: download manually, see instructions below.
                    </li>
                </ul>

                <p>Then you should be able to select the Kotlin plugin and Download and Install. The repository above contains nightly builds published automatically.</p>
            </div>

            <div class="popup-close-button js-popup-close-button"
                 data-popup-id="setting-up-idea-option-popup"></div>
        </div>
    </div>
</section>