<section class="kotlin-overview-section _get-kotlin" id="get-kotlin">
    <h2 class="section-header">Try Kotlin</h2>

    <p class="kotlin-version">{{ site.data.releases.latest.version }}</p>

    <div class="section-content">
        <div class="get-kotlin-options-list">
            <div class="option-item _try-online">
                <div class="option-image _try-online"></div>
                <div class="option-title-pre-text">In the browser</div>
                <h3 class="option-title">Try Online</h3>

                <p class="option-description">
                    Explore Kotlin code samples and solve problems directly in your browser.
                </p>


                <div class="option-link-wrap">
                    <a href="http://try.kotlinlang.org"
                       class="option-link">
                        Try Online
                    </a>
                </div>
            </div>

            <div class="option-item _standalone-compiler">
                <div class="option-image _standalone-compiler"></div>
                <div class="option-title-pre-text">Standalone</div>
                <h3 class="option-title">Compiler</h3>

                <p class="option-description">
                    Compile your code from the command line or use build tools such as Ant, Gradle and Maven.
                </p>

                <div class="option-link-wrap">
                    <a href="{{ site.baseurl }}/docs/tutorials/command-line.html"
                       class="option-link">Download Compiler</a>
                </div>
            </div>

            <div class="option-item _intellij-idea">
                <div class="option-image">
                    <div class="jetbrains-logo _logo-intellij-idea _size-2"></div>
                </div>
                <div class="option-title-pre-text">Use</div>
                <h3 class="option-title">IntelliJ IDEA</h3>

                <p class="option-description">
                    Kotlin works with the free Community Edition, IntelliJ IDEA Ultimate or Android Studio.
                </p>

                <div class="option-link-wrap">
                    <a href="{{ site.baseurl }}/docs/tutorials/getting-started.html"
                       class="option-link">
                      Setup Plugin
                    </a>
                </div>

            </div>

            <div class="option-item _source-code">
                <div class="option-image _source-code"></div>
                <div class="option-title-pre-text">Use</div>
                <h3 class="option-title">Eclipse</h3>

                <p class="option-description">
                    Get a preview version of the Kotlin plugin for Eclipse Luna.
                </p>

                <div class="option-link-wrap">
                    <a href="{{ site.baseurl }}/docs/tutorials/getting-started-eclipse.html"
                       class="option-link">
                      Setup Plugin
                    </a>
                </div>
            </div>
        </div>


        <div class="overview-popup _hidden js-popup"
             id="setting-up-idea-option-popup">
            <div class="popup-content">
                <h3>Setting Up IntelliJ IDEA</h3>

                <h4>Milestone Versions</h4>
                <p>
                    A stable milestone version of Kotlin can be obtained from JetBrains <a href="#">Plugin Repository</a>.
                    <br>
                    In IDEA navigate to: Settings -> Plugins -> Browse Repositories
                    <br>
                    Select the Kotlin plugin and then Download and Install.
                </p>

                <h4>Using the Kotlin Nightly Builds</h4>
                <p>In IDEA navigate to: Preferences -> Plugins -> Browse Repositories. Enter:</p>
                <ul>
                    <li>
                        for IntelliJ IDEA 13 EAP:<br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.5: <br>
                        <small>http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml?branch=idea12</small>
                    </li>
                    <li>
                        for IntelliJ IDEA 12.1.4 and below: download manually, see instructions below.
                    </li>
                </ul>

                <p>Then you should be able to select the Kotlin plugin and Download and Install. The repository above contains nightly builds published automatically.</p>
            </div>

            <div class="popup-close-button js-popup-close-button"
                 data-popup-id="setting-up-idea-option-popup"></div>
        </div>
    </div>
</section>