<div class="kotlin-overview-section _video-overview">
    <div class="section-content">
        <div class="video-player-wrap js-video-player-wrap" id="how-to-use-video">

            <a href="http://www.youtube.com/watch?v=viiDaLpPfN4" class="video-thumb js-video-thumb">
                <span class="video-description">
                    <span class="title">See Kotlin in action</span>
                    <span class="description"></span>
                </span>

                <span class="video-player-play-button js-play-video-button"></span>

                <img src="{{ site.baseurl }}/assets/images/index/how-to-use-kotlin-video-thumb.png"
                     alt="Getting Started with Kotlin in 2 minutes"
                     height="540"
                >
            </a>

            <div class="video-player js-video-player">

            </div>
        </div>
    </div>
</div>