.content {
    margin: 48px 0;
    max-width: 712px;
}

.text {
    margin-top: 48px;
}

.image {
    display: none;
}

@media (min-width: 768px) {
    .content {
        margin: calc(2 * var(--ktl-grid-gutter)) 0;
    }
}

@media (min-width: 1280px) {
    .content {
        margin: 96px 496px 108px 0;
        max-width: 724px;
    }

    .banner {
        position: relative;
    }

    .image {
        position: absolute;
        display: block;
        width: 476px;
        right: 0;
        top: -64px;
    }
}
