.wrapper {
    padding: 0;
    font-family: var(--ktl-font-family-inter);
}

/* Features section */
.feature img {
    display: block;
}

.featureContent {
    display: block;
}

@media (min-width: 1200px) {
    .featureContent {
        padding-right: 32px;
    }
}

/* Top buttons */
.topMobileButtons {
    display: grid;
    grid-gap: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

@media (min-width: 768px) {
    .topMobileButtons {
        display: none;
    }
}

.topButtons {
    display: none;
}

@media (min-width: 768px) {
    .topButtons {
        display: grid;
        grid-gap: 16px;
        grid-template-areas: "a a";
        grid-auto-columns: min-content;
    }
}

/* Universities section */
.universitiesTopInner .universitiesTopNumbers {
    display: none;
}

@media (min-width: 768px) {
    .universitiesTopInner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .universitiesTopInner .universitiesTopNumbers {
        display: flex;
    }

    .universitiesTopTitleMobile {
        display: none;
    }
}

.universitiesLogos {
    border-top: 1px solid rgba(39, 40, 44, 0.2);
    display: block;
    padding: 32px 0;
}

.universitiesBottom {
    display: none;
}

.universitiesBottom br {
    display: none;
}

.universitiesMobileButton {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .universitiesBottom {
        text-align: center;
        display: block;
    }

    .universitiesMobileButton {
        display: none;
    }
}

@media (min-width: 1400px) {
    .universitiesBottom br {
        display: block;
    }
}

/* Logos */
.logos img {
    display: block;
}

.logosStanford {
    height: 42px;
}

.logosHopkins {
    height: 56px;
}

.logosCambridge {
    height: 26px;
}

.logosImperial {
    height: 32px;
}

.logosChicago {
    height: 26px;
}

@media (min-width: 768px) {
    .logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* Resources section */
.resourcesTopImage {
    width: 116px;
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    .resourcesTop {
        display: flex;
        align-items: center;
    }

    .resourcesTopImage {
        margin-bottom: 0;
        margin-right: 26px;
        margin-top: 24px;
    }
}

/* Links section */
.links {
    display: grid;
    grid-gap: 32px;
    font-size: 16px;
    line-height: 24px;
}

.links a {
    text-decoration: none;
    color: rgba(39, 40, 44, 1);
}

.links a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .links {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 48px;
        grid-template-areas:
            "left center1 right1"
            "left center2 right2";
    }

    .linksFirstList {
        grid-area: left;
    }

    .linksSecondList {
        grid-area: center1;
    }

    .linksThirdList {
        grid-area: center2;
    }

    .linksFourthList {
        grid-area: right1;
    }

    .linksFifthList {
        grid-area: right2;
    }
}

.listItem:not(:last-child) {
    margin-bottom: 8px;
}

.sublist {
    margin-left: 16px;
    margin-top: 8px;
}

/* Video section */
.video .videoInner {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #e3e3e3;
}

/* Mobile styles */
@media (max-width: 767px) {
    .features {
        display: grid;
        grid-gap: 32px;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .logosItem {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
    }

    .logosItem:last-child {
        width: 100%;
    }

    .subscriptionSection {
        padding-left: 0;
        padding-right: 0;
    }

    .mapWrapper {
        display: none;
    }

    .universitiesTopTitle {
        display: none;
    }
}

/* CTA buttons */
.ctaButtons {
    display: grid;
    grid-template-areas: "a a";
    grid-auto-columns: min-content;
    grid-gap: 16px;
}

@media (max-width: 768px) {
    .ctaButtons {
        display: flex;
        flex-direction: column;
    }

    .ctaButtons > button,
    .ctaButtons > a {
        font-size: 16px;
        padding: 8px 24px;
    }
}
