@import '../../_config';
@import '../../_utils';
@import '../_icon/_icon';

.global-footer {
  color: rgba(39, 40, 44, 0.75);

  .header {
    font-family: $font-family-serif;
    font-size: 24px;
    color: #7c7979;
    margin-bottom: $unit*3;
  }

  a {
    color: rgba(39, 40, 44, 0.75);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.global-footer-terms {
  @include box-sizing;
  @include clearfix;
  padding: 32px 0;
  background-color: #F4F4F4;
  color: rgba(39, 40, 44, 0.75);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid rgba(39, 40, 44, 0.2);

  .global-footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .g-footer-layout {
    width: 960px;
    margin: auto;
  }

  .global-footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .global-footer-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .license-footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 960px;
  }

  .terms-social {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .terms-social__item {
    display: flex;
    align-items: center;
    padding: 0 4px;
    margin-right: 20px;
  }

  .terms-kit {
    color: rgba(39, 40, 44, 0.75);
    font-size: 16px;
    line-height: 24px;

    &:hover {
      border-bottom-color: #27282c;
      color: #27282c;
      text-decoration: none;
    }
  }

  .terms-foundation {
    color: rgba(39, 40, 44, 0.5);
    font-family: Inter, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
  }

  .terms-foundation_link {
    color: rgba(39, 40, 44, 0.5);
    border-bottom: 1px solid rgba(39, 40, 44, 0.2);
    text-decoration: none;

    &:active,
    &:visited {
      border-bottom: 1px solid rgba(39, 40, 44, 0.4);
    }

    &:hover {
      border-bottom-color: #27282c;
      color: #27282c;
      text-decoration: none;
    }
  }

  .terms-para {
    margin-bottom: 16px;
    padding: 0 12px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
    }
  }

  .terms-sponsor {
    height: 100%;
    display: flex;
    color: rgba(39, 40, 44, 0.5);
    font-size: 13px;
    line-height: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    text-align: right;

    .jetbrains-link {
      position: relative;

      &:before {
        position: absolute;
        top: -80px;
        right: 0;
        content: "";
        background-image: url('images/socials/jetbrains-logo.svg');
        background-repeat: no-repeat;
        display: block;
        width: 60px;
        height: 60px;
        background-size: 60px;
      }
    }

    .sponsor_jetbrains {
      display: inline-block;
      vertical-align: middle;
      margin-left: 3px;
      width: 72px;
      height: 72px;
      font-size: 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.divider {
  position: relative;
  min-width: 1px;
  max-width: 1px;
  height: 12px;
  background-color: rgba(39, 40, 44, 0.5);
}
