@import '../../_config';
@import '../../_utils';
@import '../_icon/_icon';

.global-footer {
  color: rgba(39, 40, 44, 0.7);
  width: 100%;
  flex: 0 0 auto;
}

.global-footer-terms {
  @include clearfix;
  padding: 32px 22px;
  background-color: #F4F4F4;
  color: rgba(39, 40, 44, 0.7);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
  border-top: 1px solid rgba(39, 40, 44, 0.2);

  @media (max-width: 425px) {
    padding: 32px 16px
  }

  .g-footer-layout {
    min-width: 960px;
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 960px) {
      max-width: 960px;
      margin: 0 auto;
    }
  }

  .footer-info-block {
    display: flex;
    flex-direction: column;
  }

  .global-footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .global-footer-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 700px;
    margin-bottom: 16px;

    @media (max-width: 1024px) {
      width: auto;
    }

    .divider {
      position: relative;
      min-width: 1px;
      max-width: 1px;
      height: 12px;
      background-color: rgba(39, 40, 44, 0.5);
      margin-right: 7px;
    }
  }

  .license-footer-row {
    display: flex;
    flex-direction: row;
    max-width: 650px;
    align-items: flex-end;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      width: auto;
    }

    @media (max-width: 450px) {
      .jetbrains-link-mobile {
        background-image: url('images/socials/jetbrains-logo.svg');
        background-repeat: no-repeat;
        display: block;
        width: 75px;
        height: 75px;
        background-size: 75px;
      }
    }

    @media (max-width: 320px) {
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .sponsored-block {
    flex-basis: 250px;

    @media (max-width: 450px) {
      display: none;
    }
  }

  .terms-social {
    box-sizing: border-box;
    margin: 0 -4px 10px -4px;
    display: flex;
    flex-wrap: wrap;
  }

  .terms-social__item {
    display: flex;
    align-items: center;
    padding: 6px;
    margin-right: 15px;
    height: 36px;
    width: 36px;
    box-sizing: border-box;

    &:hover,
    &:focus {
      background: rgba(39, 40, 44, .05);
      border-radius: 50%;
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }

  .terms-kit {
    color: rgba(39, 40, 44, 0.7);
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-right: 7px;

    &:hover {
      border-bottom-color: #27282c;
      color: #27282c;
      text-decoration: none;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
    }
  }

  .terms-foundation {
    color: rgba(39, 40, 44, 0.4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;

    @media (max-width: 450px) {
      max-width: 300px;
      margin-right: 17px;
    }

    @media (max-width: 375px) {
      max-width: 240px;
    }

    @media (max-width: 320px) {
      max-width: 200px;
    }

    .terms-sponsor-mobile {
      display: none;

      @media (max-width: 450px) {
        display: inline;
      }
    }
  }

  .terms-foundation_link {
    color: rgba(39, 40, 44, 0.5);
    border-bottom: 1px solid rgba(39, 40, 44, 0.2);
    text-decoration: none;

    &:active,
    &:visited {
      border-bottom: 1px solid rgba(39, 40, 44, 0.4);
    }

    &:hover {
      border-bottom-color: #27282c;
      color: #27282c;
      text-decoration: none;
    }
  }

  .terms-sponsor {
    height: 100%;
    display: flex;
    color: rgba(39, 40, 44, 0.5);
    font-size: 13px;
    line-height: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    text-align: right;

    .jetbrains-link {
      position: relative;

      &:before {
        position: absolute;
        top: -80px;
        right: 0;
        content: "";
        background-image: url('images/socials/jetbrains-logo.svg');
        background-repeat: no-repeat;
        display: block;
        width: 60px;
        height: 60px;
        background-size: 60px;
      }
    }

    .sponsor_jetbrains {
      display: inline-block;
      vertical-align: middle;
      margin-left: 3px;
      width: 72px;
      height: 72px;
      font-size: 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
