@import '../../_config';
@import '../../_utils';
@import '../_icon/_icon';
@import '../_bits/_button';
@import 'slides';

.global-header {
  @include clearfix;
  background-color: #27282c;
  background-size: cover;
  min-width: 960px;

  .g-layout {
    position: relative;
  }

  .banner-main {
    background-color: #e4e4e4;
  }

  .banner-promo {
    text-align: center;
    font-size: 0;
    line-height: 0;
  }

  .banner-video-promo__player {
    width: 978px;
    height: 550px;
  }

  .banner-header {
    font-family: $font-family-serif;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 35px;
  }

  .kotlin-whats {
    color: white;
    text-decoration: none;
  }

  .kotlin-info {
    display: flex;
    flex-direction: row;
    margin-top: $unit;
    height: 314px;
    /* background: url('assets/images/index/banners/kotlinconf_2020.png') no-repeat; */
    background-size: contain;
    text-indent: -9999px;

    .info-row-1 {
      display: flex;
      width: 40%;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 70px;
    }
    .info-row-2 {
      display: flex;
      width: 60%;
    }

    .kotlin-info-button {
      cursor: pointer;
      height: 36px;
      margin-right: 45px;
      width: 121px;
      display: inline-flex;
      background: transparent url('images/main_button_default.svg') no-repeat;
      &:hover {
        background: transparent url('images/main_button_hover.svg') no-repeat;
      }
    }
  }

}

.page_index .global-header {
  box-sizing: border-box;

  .get-kotlin-button {
    @extend %button_call-to-action;
    @extend %button_call-to-action%size_big;
    text-transform: uppercase;
  }
}

.global-header-panel {
  @include clearfix;
  box-sizing: border-box;
  padding: $unit 0;
  height: 60px;
  .page_index & {
    background-color: #393939;
  }
}

.global-header-logo {
  @include transition(0.3s all);
  display: inline-block;
  margin-top: 12px;
  min-width: 103px;
  height: 22px;
  background: url('images/logos-sprite.png') no-repeat;
  font-size: 0;
  text-decoration: none;

  @include adapt_retina {
    background-image: url('images/logos-sprite@2x.png');
    background-size: 200px 100px;
  }
}

.global-header-logo__version,
.global-header-logo__version:any-link {
  display: inline-block;
  text-decoration: none;
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #fff;
}

.global-header-logo__version:hover,
.global-header-logo__version:active {
  color: #fff;
  text-decoration: underline;
}
