@import '../../_config';
@import '../../_utils';
@import '../_icon/_icon';
@import '../_bits/_button';


.global-header {
    @include clearfix;
    @include linear-gradient($from: #6481A1, $to: #4E7196);
    background-color: #6481A1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .g-layout {
        position: relative;
    }

    .try-kotlin-button {
        @extend %button_default;
        top: -1px;
    }

    .get-kotlin-button {
        @extend %button_default;
        top: -2px;

        .version {
            font-size: 12px;
        }
    }

    .kotlin-info {
        padding-top: 120px;
        text-align: left;
    }

    .release-banner {
        display: inline-block;
        color: white;
        background: rgba(103, 133, 163, 0.4);
        opacity: 0.9;
        height: 54px;
        line-height: 52px;
        padding: 0 50px;
        margin-left: 250px;
        font-family: $font-family-serif;
        font-size: 28px;
        border-radius: 3px;
    }

    .release-banner__link {
        color: white;
        margin-left: 15px;
        font-size: 18px;
    }

    .current-version {
        display: inline-block;
        line-height: 32px;
        height: 34px;
        padding: 0 32px;
        text-align: center;
        color: white;
    }

    .kotlin-info-description {
        margin-bottom: $unit*3;
        color: #fff;
        font-size: $unit*6;
        line-height: $unit*6 + 2px;
        font-family: $font-family-serif;
        text-shadow:
            1px 1px 0px rgba(0, 0, 0, 0.2),
            -1px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .kotlin-info-description-extra {
        position: relative;
        margin-bottom: $unit*9;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);

        @media (max-width: 810px) {
            & {
                margin-bottom: $unit*5;
            }
        }
    }
}

.page_index .global-header {
    box-sizing: border-box;
    height: 530px;
    background-image: url('images/index-page-header-bg.jpg');
    background-position: top center;

    .get-kotlin-button {
        @extend %button_call-to-action;
        @extend %button_call-to-action%size_big;
        text-transform: uppercase;
    }
}

.global-header-panel {
    @include clearfix;
    box-sizing: border-box;
    padding: $unit 0;
    height: 60px;
    background-color: #49525E;

    .page_index & {
        background-color: #182333;
        background-color: rgba(24, 35, 51, 0.7);
    }
}

.global-header-logo {
    @include transition(0.3s all);
    position: relative;
    top: 12px;
    float: left;
    width: 103px;
    height: 22px;
    background: url('images/logos-sprite.png') no-repeat;
    font-size: 0;
    text-decoration: none;

    @include adapt_retina {
        background-image: url('images/logos-sprite@2x.png');
        background-size: 200px 100px;
    }
}