@import '../../_config';

.kotlin-slides {
  display: flex;
  height: 100%;
  padding-top: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slides-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.slide-item {
  cursor: pointer;
  margin: 10px 15px 0;
  height: 130px;
  width: 180px;

  &:active {
    transform: scale(0.95, 0.95);
  }
}

.slide-item a {
  font-size: 18px;
  font-family: $font-family-serif;
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
}

.slide-item > div {
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  line-height: normal;
}

.slide-1 {
  background-color: rgb(38, 38, 38);
}

.slide-item:hover div {
  transform: scale(0.95, 0.95);
}

.slide-2 {
  background-color: rgb(38, 38, 38);
}

.slide-3 {
  background-color: rgb(60, 101, 169);
}

.slide-4 {
  background-color: rgb(38, 38, 38);
}
