@import '../../_config';

.kotlin-slides {
  display: flex;
  height: 100%;
  padding-top: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slides-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.slide-item {
  cursor: pointer;
  height: 140px;
  width: 230px;
  border-radius: 5px;

  &:active {
    transform: scale(0.95, 0.95);
  }
}

.slide-item a {
  font-size: 20px;
  font-family: $font-family-serif-bold;
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-footer {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.slide-1 {
  margin-right: 5px;
  background-color: rgb(38, 38, 38);
}

.slide-item:hover {
  background-color: rgb(61, 100, 154);
}

.slide-2 {
  margin-right: 5px;
  background-color: rgb(38, 38, 38);
}

.slide-3 {
  margin-right: 5px;
  background-color: rgb(38, 38, 38);
}

.slide-4 {
  background-color: rgb(38, 38, 38);
}
