@import '../../config';
@import '../../utils';

.section-nav {

    .nav-item {
        display: block;
        border-bottom: 1px solid #efefef;

        &:first-child {
            border-top: 1px solid #efefef;
        }

        &.is_active {
            background-color: #f9f9f9;
        }

        .subnav-items-list {
            display: none;
        }
        &.is_active .subnav-items-list {
            display: block;
        }
    }
    .nav-item.is_active + .nav-item {
        border-top-color: transparent;
    }

    .nav-item-text {
        @include user-select(none);
        position: relative;
        color: $base-link-color;
        display: block;
        cursor: pointer;
        padding: $unit 16px;

        &:hover {
            background-color: #f2f5f8;
            text-decoration: underline;
        }

        &:before {
            position: absolute;
            top: 15px;
            left: 7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 5px;
            border-color: transparent transparent transparent $base-link-color;
            content: '';
        }
    }
    .nav-item.is_active .nav-item-text {
        color: $base-color;

        &:hover {
            background-color: #F5F5F5;
            text-decoration: none;
            border-left-color: $base-color;
        }

        &:before {
            //@include transform(rotate(45deg));
            left: 5px;
            border-width: 0 0 6px 6px;
            border-color: transparent transparent  $base-color transparent;
        }
    }

    .subnav-items-list {
        margin-top: $unit;
        margin-right: $unit*2;
        margin-left: 23px;
        margin-bottom: $unit;
    }

    .subnav-items-list-item {
        position: relative;
        margin-bottom: $unit;

        .text {

        }
        &.is_active .text {
            font-weight: bold;
        }
    }
}