/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
.docs-pages-list .list-item {
  margin-bottom: 16px; }
  .docs-pages-list .list-item.is_active {
    font-weight: bold; }

.docs-page-nav {
  font-size: 0;
  margin-right: -20px;
  margin-bottom: 48px;
  list-style-type: none; }
  .docs-page-nav .nav-item {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 14px;
    margin-right: 20px;
    width: 176px; }
  .docs-page-nav .nav-item {
    background-image: -moz-linear-gradient(#fafafa, #e4e4e4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#e4e4e4));
    background-image: -webkit-linear-gradient(#fafafa, #e4e4e4);
    background-image: -o-linear-gradient(#fafafa, #e4e4e4);
    display: inline-block;
    padding: 0;
    margin-left: 0;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    background-color: #e1e1e1;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 50px; }
    .docs-page-nav .nav-item:hover {
      background-image: -moz-linear-gradient(#f0f0f0, #dadada);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#dadada));
      background-image: -webkit-linear-gradient(#f0f0f0, #dadada);
      background-image: -o-linear-gradient(#f0f0f0, #dadada);
      box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
      background-color: #D0D0D0; }
    .docs-page-nav .nav-item.is_active {
      box-shadow: none;
      margin-top: 2px;
      margin-bottom: -2px;
      background-image: none;
      background-color: #f9f9f9; }
  .docs-page-nav .nav-item-text {
    position: relative;
    display: block;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #3164a0;
    font-size: 16px;
    text-decoration: none; }
  .docs-page-nav .nav-item.is_active .nav-item-text {
    border-color: #6995d6;
    box-shadow: inset 0px 3px 6px -1px rgba(0, 0, 0, 0.2);
    color: #333333;
    text-decoration: none; }
    .docs-page-nav .nav-item.is_active .nav-item-text:before, .docs-page-nav .nav-item.is_active .nav-item-text:after {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -15px;
      border-style: solid;
      border-width: 19px 15px 0 15px;
      border-color: transparent;
      content: ''; }
    .docs-page-nav .nav-item.is_active .nav-item-text:before {
      border-top-color: #6995d6; }
    .docs-page-nav .nav-item.is_active .nav-item-text:after {
      margin-top: -3px;
      border-top-color: #f9f9f9; }
