@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";
@import "@rescui/typography/lib/mixins.p.css";

.card {
    background: transparent;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ktl-box-section-m);
    padding: 0 !important;

    border-radius: var(--ktl-box-section-s);

    @media (--ktl-ts-less) {
        border-radius: var(--ktl-box-block-l);
    }
}

.cover, .text {
    padding: 0;
    margin: 0;
}

.cover {
    position: relative;
    overflow: hidden;
    text-align: center;

    padding-block: 0 var(--ktl-box-section-m);

    @media (--ktl-tl-more) {
        padding-block: var(--ktl-box-section-l);
    }
}

.content, .content:active {
    padding-block: var(--ktl-box-section-l);

    @media (--ktl-ts-less) {
        padding-block: var(--ktl-box-section-s);
    }
}
.content, .content:active, .cover {
    padding-inline: var(--ktl-box-section-l);

    @media (--ktl-ts-less) {
        padding-inline: var(--ktl-box-section-s);
    }
}

.title {
    --rs-h2-font-size: 28px;
    --rs-h2-line-height: 1.25;

    margin: 0;
    padding: 0;
}

.text {
    margin-block: var(--ktl-box-section-s) var(--ktl-box-section-m);
}

@media (--ktl-tl-more) {
    .card {
        flex-direction: row;
        gap: 0;

        .cover {
            padding-inline: var(--choose-share-what-card-padding-inline);
        }

        .image {
            max-width: var(--choose-share-what-card-width);
        }
    }

    .cover {
        order: -1;
    }

    .content {
        flex: 1 0;
    }
}

@media (--ktl-ds-in) {
    .card {
        --choose-share-what-card-padding-inline: 28px;
        --choose-share-what-card-width: 420px;
    }
}

@media (--ktl-ds-more) {
    .card {
        --choose-share-what-card-padding-inline: 35px;
        --choose-share-what-card-width: 530px;
    }
}

.card:first-of-type {
    .image {
        position: relative;
        bottom: -4px;
    }

    @media (--ktl-ds-less) {
        .cover {
            padding: 0;
        }
    }

    @media (--ktl-tl-more) {
        --choose-share-what-card-padding-inline: 0px;

        .cover {
            padding-block: 0;
            align-self: end;

            max-width: calc(
                    var(--choose-share-what-card-width) +
                    2 * var(--choose-share-what-card-padding-inline)
            );
        }
    }

    @media (--ktl-ds-in) {
        --choose-share-what-card-width: 476px;
        .image {
            max-width: 505px;
        }
    }

    @media (--ktl-ds-more) {
        --choose-share-what-card-width: 600px;
    }
}