@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";
@import "@rescui/typography/lib/mixins.p.css";

.card {
    background: transparent;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ktl-box-section-m);
    padding: 0 !important;
}

.content, .content:active {
    padding: var(--ktl-box-section-l);

    @media (--ktl-ts-less) {
        padding: var(--ktl-box-section-s);
    }
}

.cover, .text {
    padding: 0;
    margin: 0;
}

.cover {
    position: relative;
    overflow: hidden;

    @media (--ktl-tl-more) {
        padding-top: var(--ktl-box-section-l);
    }
}

.card:first-of-type .cover {
    align-self: end;
}

.title {
    --rs-h2-font-size: 28px;
    --rs-h2-line-height: 1.25;
}

.image {
    position: relative;
    bottom: -4px;
}

.text {
    margin-block: var(--ktl-box-section-s) var(--ktl-box-section-m);
}

@media (--ktl-tl-more) {
    .card {
        flex-direction: row;
        gap: 0;
    }

    .cover, .content {
        box-sizing: border-box;
        width: 50%;
    }

    .cover {
        order: -1;
    }
}

.title {
    margin: 0;
    padding: 0;
}
