/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
.videos-list-item {
  position: relative;
  display: block;
  margin-bottom: 16px; }
  .videos-list-item .video-thumbnail-image {
    max-width: 100%; }
  .videos-list-item .video-thumbnail-link {
    display: block; }
  .videos-list-item .video-info-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center; }
    .videos-list-item .video-info-wrap:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; }
  .videos-list-item .video-info {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: relative;
    display: inline-block;
    max-width: 400px;
    vertical-align: middle;
    text-align: left;
    color: #fff;
    opacity: 1; }
  .videos-list-item .video-thumbnail-link:hover .video-info {
    color: #ed7615; }
  .videos-list-item .video-title {
    display: block;
    margin-bottom: 8px;
    font-family: "GraublauSlab Regular", Georgia, serif;
    font-size: 45px;
    line-height: 50px; }
  .videos-list-item .video-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300; }
  .videos-list-item .video-play-button {
    position: absolute;
    top: -10px;
    right: 100%;
    width: 69px;
    height: 69px;
    margin-right: 20px;
    background: url("../kotlin-overview/images/video-player-play-button.png") no-repeat; }
  .videos-list-item .video-player {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }
