module.exports = {
  env: {
    browser: true,
    es2021: true
  },
  extends: [
    'plugin:react/recommended',
    'plugin:@typescript-eslint/recommended',
    'prettier',
  ],
  parser: '@typescript-eslint/parser',
  parserOptions: {
    project: ['./tsconfig.json'],
    ecmaFeatures: {
      jsx: true
    },
    ecmaVersion: 12,
    sourceType: 'module'
  },
  plugins: [
    'react',
    '@typescript-eslint',
    'eslint-plugin-import',
    'eslint-plugin-react',
    'eslint-plugin-react-hooks'
  ],
  rules: {
    'import/no-extraneous-dependencies': ['error', { 'devDependencies': true }],
    'react/prop-types': 'off',
    'import/prefer-default-export': 'off'
  }
};
