obj/
_ReSharper.*
out/
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.user
*.dotsettings
*.dotsettings.*
~$*
.DS_Store/
.idea/*
!.idea/kotlin-web-site.iml
!.idea/modules.xml
~$*
lib/kotlin-runtime.jar
_site/
Gemfile.lock
vendor
.bundle
build
.gradle
workspace.xml
uiDesigner.xml
*.css.map
api/
node_modules
