obj/
_ReSharper.*
out/
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.user
*.dotsettings
*.dotsettings.*
~$*
.DS_Store/
.idea/workspace.xml
.idea/uiDesigner.xml
~$*
lib/kotlin-runtime.jar
_site/
Gemfile.lock
.bundle
build
.gradle
workspace.xml
uiDesigner.xml
*.css.map
api/
.idea
*.iml
