@webteam:registry=https://packages.jetbrains.team/npm/p/wt/npm/
//packages.jetbrains.team/npm/p/wt/npm/:_authToken=${WEBTEAM_UI_NPM_TOKEN}
//packages.jetbrains.team/npm/p/wt/npm/:always-auth=true
legacy-peer-deps=true
