* @zoobestik @nikpachoo @krutilov

# Community events
/data/events.yml @MKrishtal
/data/user-groups.yml @MKrishtal @meilalina
/data/universities.yml @Belosnegova

# Tech Writers Team
/docs/ @JetBrains/kotlin-technical-writing
/assets/kotlin-reference.pdf @JetBrains/kotlin-technical-writing
/static/js/page/api/api.js @JetBrains/kotlin-technical-writing
/data/releases.yml @JetBrains/kotlin-technical-writing
/redirects/ @JetBrains/kotlin-technical-writing
