* @zoobestik @nikpachoo @krutilov

# Community events
/data/events.yml @MKrishtal

# Tech Writers Team
/docs/ @koshachy @danil-pavlov @sarahhaggarty
/assets/kotlin-reference.pdf @koshachy @danil-pavlov @sarahhaggarty
/static/js/page/api/api.js @koshachy @danil-pavlov @sarahhaggarty
/data/releases.yml @koshachy @danil-pavlov @sarahhaggarty
/data/release-banner.yml @koshachy @danil-pavlov @sarahhaggarty
