* {
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility!important;
}


/* Cover */
.book-cover {
    font-family: 'JetBrains Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
}

.book-cover-title {
    color: rgb(60, 85, 134);
    margin: 0;
}

.book-cover-image {
    width: 250px;
    margin: 0 0 25px 0;
    display: inline-block;
}
