<div class="events-list">

  <div class="list js-list">
    <div class="list-group js-upcoming-events-group">
      <div class="list-group-title">Upcoming</div>
      <div class="list-group-content js-upcoming-events">

      </div>
    </div>

    <div class="list-group js-past-events-group">
      <div class="list-group-title">Past</div>
      <div class="list-group-content js-past-events">

      </div>
    </div>
  </div>

  <div class="event-overview js-event-details">

  </div>

</div>