@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.wrapper {
    padding: 72px 0;
}

.title {
    margin: 0;
}

.grid {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 128px;
    min-height: 312px;
    padding: 24px;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
    background: radial-gradient(130.09% 130.13% at 94.72% 87.29%, #FAFAFA 0%, #BCB9FB 0%, #B0AAFD 0%, #FAFAFA 100%);
}

.render {
    position: absolute;
    right: -48px;
    bottom: -24px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    pointer-events: none;
}

.figure {
    position: relative;
    margin: 0;
}

.caption {
    position: relative;
    max-width: 180px;
    margin: 0;
}

.card:nth-child(1) .caption,
.card:nth-child(2) .caption {
    max-width: 140px;
}


@media (--ktl-ds-down) {
    .card:nth-child(5) .caption {
        max-width: 240px;
    }

    .card:nth-child(3) .caption,
    .card:nth-child(4) .caption {
        max-width: 140px;
    }
}

@media (--ktl-tl-down) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media (--ktl-ts-down) {
    .grid {
        grid-template-columns: minmax(0, 1fr);
    }

    .card {
        gap: 8px;
        min-height: 0;
    }
}

@media (--ktl-ml-down) {
    .card {
        gap: 24px;
        min-height: 220px;
    }

    .render {
        top: -8px;
        right: -120px;
        bottom: auto;
        width: 303px;
        height: 271px;
    }

    .caption {
        max-width: 190px;
    }
}

@media (--ktl-ms-down) {
    .card {
        min-height: 200px;
    }

    .render {
        right: -142px;
    }
}
