@mixin animation($props...) {
    -webkit-animation: $props;
    -moz-animation: $props;
    -o-animation: $props;
    animation: $props;
}


@mixin animation-keyframes($animation-name) {
    @at-root {
        @-webkit-keyframes #{$animation-name} {
            @content;
        }

        @-moz-keyframes #{$animation-name} {
            @content;
        }

        @-o-keyframes #{$animation-name} {
            @content;
        }

        @keyframes #{$animation-name} {
            @content;
        }
    }
}


@mixin transform($props...) {
    -webkit-transform: $props;
    -ms-transform: $props;
    transform: $props;
}


@mixin transition($props...) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}