@import '../../_config';
@import '../../_utils';
@import '../_bits/_button';

.global-nav {
  @include clearfix;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 0;

  @media (max-width: 1205px) {
    top: auto;
  }

  .nav-links {
    display: flex;
    height: 100%;
    align-items: center;

    .nav-item {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }

    .nav-item-link {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
      font-size: 16px;
      line-height: 43px;
      letter-spacing: normal;
      text-decoration: none;
      display: flex;
      align-items: center;
      vertical-align: middle;
      min-height: 100%;
      cursor: pointer;
      color: hsla(0, 0%, 100%, .75);
      transition: .3s ease-out;
      margin-right: 32px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;

      &-is_active {
        border-bottom: 2px solid #fff;
        color: #fff;
        box-sizing: border-box;
      }

      &-external {
        margin-right: 24px;

        &::after {
          display: inline-block;
          content: '↗';
          background-size: 12px;
          height: 48px;
          width: 12px;
          padding-left: 6px;
        }
      }

      &:hover {
        color: #fff;
      }

      &.is_active {
        color: #fff;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .extra-nav {
    display: inline-block;
    top: 0;
    left: 0;
    font-size: $base-font-size;
    white-space: nowrap;
    transition: all 0.4s;

    &.hidden {
      display: none;
    }

    @media (max-width: 1205px) {
      left: auto;
      right: 0;
      top: 38px;
    }

    &.social-links {
      position: relative;
      line-height: 31px;
      margin-right: 20px;

      @media (max-width: 1205px) {
        top: auto;
      }
    }

    .link {
      position: relative;
      display: inline-block;
      margin-right: 6px;
      padding: 4px;
      font-size: 0;
      line-height: 0;
      text-decoration: none;
      vertical-align: top;
    }

    .link-github {
      margin-right: 10px;
    }

    .link-twitter {
      top: 2px;
    }

    .link-forum {
      top: 1px;
    }

    .link-icon {
      display: inline-block;
      opacity: 0.8;
      background: url('../layout/images/main-sprite.png') no-repeat 0 0;

      @include adapt_retina {
        background-image: url('../layout/images/main-sprite@2x.png');
        background-size: 150px auto;
      }
    }

    .link:hover .link-icon {
      opacity: 1;
    }

    .icon-github {
      width: 24px;
      height: 24px;
      background-position: -100px -600px;
    }

    .icon-twitter {
      width: 26px;
      height: 21px;
      background-position: -100px -650px;
    }

    .icon-forum {
      width: 30px;
      height: 24px;
      background-position: -100px -700px;
    }
  }
}

.banner-nav {
  display: none;
  padding: 0;
  height: auto;
  background-color: #7F52FF !important;

  .banner-item {
    display: inline-block;
    margin-right: $unit*2;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 43px;
    text-decoration: none;
  }

  .underline {
    text-decoration: underline;
    font-family: Inter, Arial, sans-serif;
  }

  .banner-container {
    width: 100%;
  }

  .banner-text {
    letter-spacing: 0.5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .title {
    font-family: Inter, Arial, sans-serif;
    font-size: 21px;
  }

  .close-head-banner {
    margin-right: $unit;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background: url('../layout/images/icon_cross.svg') center center no-repeat;

    &:hover {
      transform: scale(0.9, 0.9);
    }
  }
}

.solutions-menu {
  width: 260px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #27282C;
  position: absolute;
  top: 72px;
  left: 0;
  box-sizing: border-box;
  display: block;
  animation: fade-in ease-out 0.3ms forwards;
  z-index: 10;

  .solutions-menu__is-hovered,
  .solutions-menu__is-open {
    display: block;
  }

  .solutions-menu-list {
    display: flex;
    flex-direction: column;

    .solutions-menu-item {
      background-color: #27282C;

      .solutions-menu-item-link {
        background-color: #27282C;
        display: block;
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        height: 100%;
        padding: 8px 16px;
        outline: none;

        &:hover,
        &:focus {
          color: #fff;
          cursor: pointer;
          background: rgba(255, 255, 255, 0.1);
          transition: 0.3s ease-out;
        }
      }
    }
  }

  &-is-hidden {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
