@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.video {
    display: block;
    width: 800px;
    height: 800px;
    pointer-events: none;
}

.videoDesktop {
    @media (--ktl-ds-down) {
        display: none;
    }
}

.videoMobile {
    display: none;
    @media (--ktl-ds-down) {
        display: block;
    }
}
