{% extends 'base.html' %}

{% block title %}404 Not Found{% endblock %}
{% block content %}
    <article role="main" class="page-content">
        <div class="g-container">
            <div class="g-row">
                <div class="page-error-logo _error-404">
                    <div class="beam"></div>
                </div>
                <div class="article-content">
                    <h1 class="page-error__h1">UH-OH!</h1>
                    <div class="page-error__sub-title">You surely know what this means.</div>
                    <div class="page-error__text">
                        We can't find the page you're looking for. Please use search or try starting from <a href="/">home</a>.
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}