{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
    <article role="main" class="page-content page-books">
        <section class="page-books__section page-books__featured g-9">
            <h2>Featured</h2>

            <h3>Head First Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.oreilly.com/library/view/head-first-kotlin/9781491996683/"><img
                    src="{{ url_for('asset', path='images/Head_first.jpeg') }}" class="book-cover-image"></a>
            <p><a href="https://www.oreilly.com/library/view/head-first-kotlin/9781491996683/">Head First Kotlin</a>
                is a complete introduction to coding in Kotlin. This hands-on book helps you learn the Kotlin language with a unique method that goes beyond syntax and how-to manuals and teaches you how to think like a great Kotlin developer. You’ll learn everything from language fundamentals to collections, generics, lambdas, and higher-order functions. Along the way, you’ll get to play with both object-oriented and functional programming. If you want to really understand Kotlin, this is the book for you.</p>

            <h3 style="clear: left">Kotlin in Action</h3>
            <div class="book-lang">en</div>
            <a href="https://manning.com/books/kotlin-in-action"><img
                    src="{{ url_for('asset', path='images/kotlin-in-action.png') }}" class="book-cover-image"></a>
            <p><a href="https://manning.com/books/kotlin-in-action">Kotlin in Action</a> teaches you to use the Kotlin
                language for
                production-quality applications. Written for experienced Java developers, this example-rich book goes
                further than
                most language books, covering interesting topics like building DSLs with natural language syntax.</p>
            <p>The book is written by Dmitry Jemerov and Svetlana Isakova, developers on the Kotlin team.</p>
            <p>Chapter 6, covering the Kotlin type system, and chapter 11, covering DSLs, are available as a free preview on
                the
                <a href="https://www.manning.com/books/kotlin-in-action#downloads">publisher Web site</a>.</p>

            <h3 style="clear: left">Kotlin Programming: The Big Nerd Ranch Guide</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/Kotlin-Programming-Nerd-Ranch-Guide/dp/0135161630"><img
                    src="{{ url_for('asset', path='images/The_Big_Nerd.jpg') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/Kotlin-Programming-Nerd-Ranch-Guide/dp/0135161630">Kotlin Programming: The
                Big Nerd Ranch Guide.</a>
                In this book you will learn to work effectively with the Kotlin language through
                carefully considered examples designed to teach you Kotlin’s elegant style and features.
                Starting from first principles, you will work your way to advanced usage of Kotlin,
                empowering you to create programs that are more reliable with less code.</p>

            <h3 style="clear: left">Programming Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://pragprog.com/book/vskotlin/programming-kotlin"><img
                    src="{{ url_for('asset', path='images/Programming_Kotlin.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://pragprog.com/book/vskotlin/programming-kotlin">Programming Kotlin</a>
                is a book by Venkat Subramaniam. Programmers don’t just use Kotlin, they love it. Even Google has adopted it as a first-class language for Android development. With Kotlin, you can intermix imperative, functional, and object-oriented styles of programming and benefit from the approach that’s most suitable for the problem at hand. Learn to use the many features of this highly concise, fluent, elegant, and expressive statically typed language with easy-to-understand examples. Learn to write maintainable, high-performing JVM and Android applications, create DSLs, program asynchronously, and much more.</p>

            <h3 style="clear: left">The Joy of Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.manning.com/books/the-joy-of-kotlin"><img
                    src="{{ url_for('asset', path='images/Joy_of_Kotlin.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.manning.com/books/the-joy-of-kotlin">The Joy of Kotlin</a>
                teaches you the right way to code in Kotlin. In this insight-rich book,
                you'll master the Kotlin language while exploring coding techniques that will make you a better developer
                no matter what language you use. Kotlin natively supports a functional style of programming,
                so seasoned author Pierre-Yves Saumont begins by reviewing the FP principles of immutability,
                referential transparency, and the separation between functions and effects.
                Then, you'll move deeper into using Kotlin in the real world, as you learn to handle errors and data
                properly,
                encapsulate shared state mutations, and work with laziness. This book will change the way you code — and
                give you back some of the joy you had when you first started.</p>
        </section>

        <section class="page-books__section page-books__general g-9">
            <h2>General</h2>
            <h3>Modern Web Development with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/modern-web-development-with-kotlin"><img
                    src="{{ url_for("asset", path="images/mwdwk.jpg") }}" class="book-cover-image"></a>
            <p><a href="https://leanpub.com/modern-web-development-with-kotlin">Modern Web Development with Kotlin</a> is a
                book
                by Denis Kalinin about Web development with Kotlin. It covers just enough basics to get started but mostly
                concentrates
                on the practical aspect of using the language. In particular, it guides you through the process of building
                a technology-packed Web application while using popular backend and frontend technologies.</p>

            <h3 style="clear: left">Fundamental Kotlin, Second Edition</h3>
            <div class="book-lang">en</div>
            <a href="http://www.fundamental-kotlin.com"><img
                    src="{{ url_for('asset', path='images/fundamental-kotlin.jpg') }}" class="book-cover-image"></a>
            <p><a href="http://www.fundamental-kotlin.com/">Fundamental Kotlin</a> is the second edition of the
                Fundamental Kotlin book. It extends Fundamental Kotlin book and brings us fresh examples of Kotlin
                programming language use.</p>

            <h3 style="clear: left">Programmer's Guide To Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/Programmers-Guide-Kotlin-Mike-James/dp/1871962536"><img
                    src="{{ url_for('asset', path='images/programmers_guide_kotlin_image.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/Programmers-Guide-Kotlin-Mike-James/dp/1871962536">Programmer's Guide to
                Kotlin</a>
                is a book by Mike James for introducing Kotlin to programmers. The book helps you understand the Kotlin
                language in-depth
                so you can easily go on to create better, more robust programs.</p>

            <h3 style="clear: left">Kotlin</h3>
            <div class="book-lang">tr</div>
            <a href="https://www.konseykitap.com/kotlin"><img
                    src="{{ url_for('asset', path='images/kotlin_in_turkish.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.konseykitap.com/kotlin">Kotlin</a>
                by Mehmet Ali SICAK was created to introduce Kotlin to programmers.
                This book is the first and currently only Kotlin book in Turkish.
                Published on the 17 July 2017, Kotlin covers a broad spectrum of topics from Kotlin and Innovations, Kotlin
                and Java,
                Kotlin and Android, what can be done with Kotlin, and working with null data in Kotlin. With detailed
                insight into using
                variables and data types, range concept, arrays, collections, object-based programming, interfaces, generic,
                abstract, inheritance, and override rules
                with Kotlin, with a lot of sample applications.
                This book provides beginners and intermediate programmers with information on the fundamental
                working principles of the Kotlin language, for a substantial foundation to build on when developing
                applications
                with Android. This book is in Turkish.</p>

            <h3 style="clear: left">Kotlin Apprentice</h3>
            <div class="book-lang">en</div>
            <a href="https://www.raywenderlich.com/196563/the-full-kotlin-apprentice-book-is-here"><img
                    src="{{ url_for('asset', path='images/Kotlin_Apprentice.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.raywenderlich.com/196563/the-full-kotlin-apprentice-book-is-here">Kotlin Apprentice</a>
                Kotlin Apprentice focuses on the Kotlin language fundamentals. If you’re new to the Kotlin language,
                there’s no need to be intimidated: This book starts with the basics of basics — an introduction
                to programming — and then takes you through Kotlin fundamentals.
                But, if you’re familiar with Kotlin, you’ll advance into more intermediate
                and nuanced features of the language, such as functional programming,
                conventions and operator overloading, and coroutines. Whatever your familiarity with the language,
                this book will teach you to organize and customize your code in Kotlin to create
                clean and modern apps in Kotlin.</p>

            <h3 style="clear: left">Kotlin Kompakt</h3>
            <div class="book-lang">de</div>
            <a href="https://www.amazon.de/dp/B07FBNMDPK/ref=as_li_ss_tl?s=books-intl-de&ie=UTF8&qid=1530990326&sr=8-1&keywords=B07FBNMDPK&linkCode=sl1&tag=schleinzer-21&linkId=2db900962b1261d5fb6cd430ccdea774"><img
                    src="{{ url_for('asset', path='images/Kotlin_kompakt.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://www.amazon.de/dp/B07FBNMDPK/ref=as_li_ss_tl?s=books-intl-de&ie=UTF8&qid=1530990326&sr=8-1&keywords=B07FBNMDPK&linkCode=sl1&tag=schleinzer-21&linkId=2db900962b1261d5fb6cd430ccdea774">Kotlin
                    Kompakt</a>
                is for Java professionals looking to get into Kotlin development in the least amount of time.
                By concentrating on the essentials in compact chapters, you'll get to know Kotlin within a few
                afternoons or subway commutes, and soon you'll be able to write your first Kotlin applications.
                As the title suggests, "Kotlin Kompakt" is not an all-encompassing work on Kotlin. Rather,
                its focus is on providing the necessary foundations and Kotlin's best features,
                which make it such a remarkable programming language.</p>

            <h3 style="clear: left">Kotlin - Les fondamentaux du développement d'applications Android</h3>
            <div class="book-lang">fr</div>
            <a href="https://www.editions-eni.fr/livre/kotlin-les-fondamentaux-du-developpement-d-applications-android-9782409015861"><img
                    src="{{ url_for('asset', path='images/EPKOT.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.editions-eni.fr/livre/kotlin-les-fondamentaux-du-developpement-d-applications-android-9782409015861">Kotlin
                - Les fondamentaux du développement d'applications Android</a>, a book by
                Anthony Cosson, published by Editions ENI. The first four chapters of the book
                are dedicated to Kotlin language learning. The other chapters feature Android
                applications development with Kotlin. The book is made of many examples
                in order to quickly and easily implement a mobile app.</p>

            <h3 style="clear: left">Kotlin</h3>
            <div class="book-lang">it</div>
            <a href="https://www.apogeonline.com/libri/kotlin-massimo-carli/"><img
                    src="{{ url_for('asset', path='images/Kotlin_italian.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://www.apogeonline.com/libri/kotlin-massimo-carli/">Kotlin</a>
                è un linguaggio di programmazione open source ideato per interfacciarsi perfettamente con Java, ma anche JavaScript, attraverso una sintassi più concisa e chiara. A partire dal 2017 l'interesse verso Kotlin è cresciuto costantemente a seguito della decisione di Google di supportarlo come linguaggio principale per lo sviluppo di applicazioni Android, proprio come alternativa a Java.
                Questo manuale ne insegna i fondamenti privilegiando la pratica alla teoria. Dopo l'esplorazione dell'ambiente di sviluppo, si affronta la sintassi di base e i "mattoni" del linguaggio, con particolare attenzione alle funzioni. Quindi viene affrontata la programmazione a oggetti e quella funzionale, prima di concludere esplorando alcuni degli aspetti più avanzati, come l'interoperabilità con Java, i contract e le coroutine.
                Una lettura adatta sia a chi desidera conoscere un nuovo e moderno linguaggio, sia agli sviluppatori mobile che vogliono iniziare a sfruttare Kotlin per creare app Android.</p>

            <h3 style="clear: left">Effective Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/effectivekotlin/"><img
                    src="{{ url_for('asset', path='images/Effective_Kotlin.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://leanpub.com/effectivekotlin/">Effective Kotlin</a>
                is a book by Marcin Moskala. Kotlin is a powerful and pragmatic language, but it's not enough to know about
                its features. We also need to know when they should be used and in what way. This book is a guide for Kotlin developers on how to become excellent Kotlin developers. It presents and explains in-depth the best practices for Kotlin development. Each item is presented as a clear rule of thumb, supported by detailed explanations and practical examples.</p>

            <h3 style="clear: left">Einstieg in Kotlin</h3>
            <div class="book-lang">de</div>
            <a href="https://www.rheinwerk-verlag.de/einstieg-in-kotlin_4847/"><img
                    src="{{ url_for('asset', path='images/Einstieg_in_Kotlin.png') }}" class="book-cover-image"></a>
            <p>
                <a href="https://www.rheinwerk-verlag.de/einstieg-in-kotlin_4847/">Einstieg in Kotlin</a>
                is a book by Thomas Theis. This book enables beginners to develop Android apps with Kotlin. You will learn all the important first steps and make yourself acquainted with the concepts of the programming language. Discover how to develop user interfaces and how to use various sensors and system services. Thanks to a lot of examples and clear code listings, readers will quickly learn how to store data, process audio and video recordings and use professional features like safe navigation, expansion functions and more. This book is specifically written for unexperienced Kotlin users;  however, developers switching from Java to Kotlin will benefit from the many examples and concise explanations as well. Note: This book is available in German only.</p>

            <h3 style="clear: left">Exploring Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/exploring-kotlin"><img
                    src="{{ url_for('asset', path='images/Exploring-Kotlin.jpg') }}" class="book-cover-image"></a>
            <p>
                <a href="https://leanpub.com/exploring-kotlin">Exploring Kotlin</a>
                is a book by Hani M. K. In less than 100 pages, this book will cover Kotlin syntax and features in a straight and to the point explanation. You’ll explore Kotlin’s programming concepts such as classes, inheritance, properties, functions, lambdas, generics, coroutine and much more with examples. This book is suitable for beginners and busy programmers. </p>
        </section>

        <section class="page-books__section page-books__android g-9">
            <h2>Android Programming</h2>

            <h3>Kotlin for Android Developers</h3>
            <div class="book-lang">en</div>
            <a href="https://leanpub.com/kotlin-for-android-developers"><img
                    src="{{ url_for('asset', path='images/kotlin-for-android-developers.png') }}" class="book-cover-image"></a>
            <p><a href="https://leanpub.com/kotlin-for-android-developers">Kotlin for Android Developers</a> is a book by
                Antonio Leiva showing
                how Kotlin can be used for creating an Android application from scratch.</p>

            <h3 style="clear: left">Android Apprentice</h3>
            <div class="book-lang">en</div>
            <a href="https://store.raywenderlich.com/products/android-apprentice"><img
                    src="{{ url_for('asset', path='images/Android_Apprentice.png') }}" class="book-cover-image"></a>
            <p><a href="https://store.raywenderlich.com/products/android-apprentice">Android Apprentice</a>
                If you’re completely new to Android or developing in Kotlin, this is the book for you.
                The Android Apprentice takes you all the way from building your first app, to submitting your app for sale.
                By the end of this book, you’ll be experienced enough to turn your vague ideas into real apps that you can
                release on the Google Play Store.
                You’ll build 4 complete apps from scratch — each app is a little more complicated than the previous one.
                Together, these apps will teach you how to work with the most common controls and APIs used by Android
                developers around the world.</p>

            <h3 style="clear: left">Kotlin for Android App Development</h3>
            <div class="book-lang">en</div>
            <a href="https://kotlinandroidbook.com/"><img
                    src="{{ url_for('asset', path='images/kotlin-for-android.png') }}" class="book-cover-image"></a>
            <p><a href="https://kotlinandroidbook.com">Kotlin for Android App Development</a>
                by Peter Sommerhoff, get a solid practical introduction and understanding into Kotlin,
                with hands-on practice over two sample apps. This book hits the sweet spot between theory
                and practice, teaching the best practices for object-orientation, functional programming,
                interoperability, and more in Kotlin with thousands of code examples.</p>
        </section>

        <section class="page-books__section page-books__more g-9">
            <h2>More</h2>
            <h3>Programming Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/programming-kotlin"><img
                    src="{{ url_for('asset', path='images/programming-kotlin.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/programming-kotlin">Programming Kotlin</a> is a
                book by Stephen Samuel and
                Stefan Bocutiu about using Kotlin on the JVM. It covers all aspects of the language with particular focus on
                server side development.
                It is aimed at Java developers who want to learn Kotlin and especially where it improves on Java.</p>

            <h3 style="clear: left">Android Development with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/android-development-kotlin"><img
                    src="{{ url_for('asset', path='images/android-development-with-kotlin.png') }}"
                    class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/android-development-kotlin">Android Development
                with Kotlin</a>
                is a book by Marcin Moskala and Igor Wojda discussing Kotlin features in context of Android development. It
                demonstrates how common examples that are
                typical for Android development, can be simplified using Kotlin. It also shows all the benefits,
                improvements and new possibilities provided by this language.</p>

            <h3 style="clear: left">Reactive Programming in Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/reactive-programming-kotlin"><img
                    src="{{ url_for('asset', path='images/reactive_programming_in_kotlin.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/reactive-programming-kotlin">Reactive Programming
                in Kotlin</a>
                is an extensive book written by Rivu Chakraborty, an experienced Android developer and Kotlin enthusiast.
                This book has been created to provide you with a step by step system for learning Reactive Programming with
                Kotlin. We cover every aspect of Reactive Programming and its implementation in Kotlin and RxKotlin.
                We have also included the latest information to introduce you to Spring framework 5.0 and Spring Boot 2.0.
                and added coverage on applying Reactive Programming to Android with Kotlin.</p>

            <h3 style="clear: left">Kotlin Blueprints</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/kotlin-blueprints"><img
                    src="{{ url_for('asset', path='images/kotlin_blueprints.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/kotlin-blueprints">Kotlin Blueprints</a>
                is a book by Akshay Chordiya, Ashish Belagali and Hardik Trivedi which provides a practical guide to help
                build industry grade web applications (Spring Boot, JavaScript), Android, Desktop application using
                TornadoFX. It also includes building an application with Kotlin Native. It shows how to leverage features of
                Kotlin in the respective technologies.
                This book is for developers who already know Kotlin and want to build something using Kotlin for
                Web/Android/Desktop/Native.</p>

            <h3 style="clear: left">Functional Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/functional-kotlin"><img
                    src="{{ url_for('asset', path='images/functional_cover.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/functional-kotlin">Functional Kotlin</a>
                Functional Kotlin by Mario Arias and Rivu Chakraborty. Kotlin supports many of the popular and advanced
                technical and useful features of functional languages. Functional programming makes your applications
                faster,
                improves performance, and increases your productivity. The book covers the A-Z of functional programming in
                Kotlin,
                as well as, an in-depth look at the Arrow library for Functional Programming in Kotlin.
                Mario Arias is one of the authors of the Arrow library, and Rivu Chakraborty is an experienced Developer and
                Author of multiple Kotlin books, this book is the go-to resource if you want to master Functional
                Programming in
                Kotlin and Arrow.</p>

            <h3 style="clear: left">Hands-On Microservices with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/web-development/microservices-kotlin"><img
                    src="{{ url_for('asset', path='images/Hands-on_microservices.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/web-development/microservices-kotlin">Hands-On Microservices with
                Kotlin</a>
                is a book by Juan Antonio Medina Iglesias which guides the reader in designing and implementing services,
                and producing production-ready, testable, lean code that's shorter and simpler than a traditional Java
                implementation. Reap the benefits of using
                the reactive paradigm and take advantage of non-blocking techniques to take your services to the next level
                in terms of industry standards. You will consume NoSQL databases reactively to allow you to create
                high-throughput microservices. Create cloud-native microservices that can run on a wide range of cloud
                providers, and monitor them. You will create Docker containers for your microservices and scale them.
                Finally, you will deploy your microservices in OpenShift Online.</p>

            <h3 style="clear: left">Kotlin Programming Cookbook</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/kotlin-programming-cookbook"><img
                    src="{{ url_for('asset', path='images/Kotlin_cookbook.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/kotlin-programming-cookbook">Kotlin Programming
                Cookbook</a>
                has recipes that will get you started with Android programming with Kotlin 1.1,
                providing quick solutions to common problems encountered during Android app development.
                You will also be taken through recipes that will teach you microservice and concurrent programming with
                Kotlin.
                Going forward, you will learn to test and secure your applications with Kotlin.
                Finally, this book supplies recipes that will help you migrate your Java code to Kotlin and will help
                ensure that it's interoperable with Java.</p>

            <h3 style="clear: left">Mastering Android Development with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/mastering-android-development-kotlin"><img
                    src="{{ url_for('asset', path='images/Mastering_android_development.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/mastering-android-development-kotlin">Mastering
                Android Development with Kotlin</a>
                begins by giving you a strong grasp of Kotlin’s features in the context of Android
                development and its APIs. Moving on, you’ll take steps toward building stunning applications for Android.
                The book will show you how to set up the environment, and the difficulty level will grow steadily
                with the applications covered in the upcoming chapters.
                Later on, the book will introduce you to the Android Studio IDE, which plays an integral role
                in Android development. We’ll use Kotlin’s basic programming concepts such as functions,
                lambdas, properties, object-oriented code, safety aspects, type parameterization, testing,
                and concurrency, which will guide you through writing Kotlin code into production. We’ll also show
                you how to integrate Kotlin into any existing Android project.</p>

            <h3 style="clear: left">Kotlin Programming By Example</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/kotlin-programming-example"><img
                    src="{{ url_for('asset', path='images/Kotlin_by_example.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/kotlin-programming-example">Kotlin Programming By
                Example</a>
                takes you through the building blocks of Kotlin, such as functions and classes.
                You’ll explore various features of Kotlin by building three applications of varying complexity.
                For a quick start to Android development, we look at building a classic game,
                Tetris, and elaborate on object-oriented programming in Kotlin. Our next application will be
                a messenger app, a level up in terms of complexity. Before moving onto the third app, we take
                a look at data persistent methods, helping us learn about the storage and retrieval of useful applications.
                Our final app is a place reviewer: a web application that will make use
                of the Google Maps API and Place Picker.</p>

            <h3 style="clear: left">Building Applications with Spring 5 and Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/dp/1788394801"><img
                    src="{{ url_for('asset', path='images/Kotlin_Spring5.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/dp/1788394801">Building Applications with Spring 5 and Kotlin</a>
                In this book, you will begin with an introduction to Spring and its setup with Kotlin.
                You will then dive into assessing the design considerations of your application.
                Then you will learn to use Spring (with Spring Boot) along with Kotlin to build a
                robust backend in a microservice architecture with a REST based collaboration,
                and leverage Project Reactor in your application. You’ll then learn how to integrate
                Spring Data and Spring Cloud to manage configurations for database interaction and cloud deployment.
                You’ll also learn to use Spring Security to beef up security of your application
                before testing it with the JUnit framework and then deploying it on a cloud platform like AWS.</p>

            <h3 style="clear: left">Hands-on Design Patterns with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/Hands-Design-Patterns-Kotlin-Concurrent/dp/1788998014"><img
                    src="{{ url_for('asset', path='images/Design_Patterns.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/Hands-Design-Patterns-Kotlin-Concurrent/dp/1788998014">Hands-on Design
                Patterns with Kotlin</a>
                The mission of this book is to ease the adoption of design patterns in Kotlin
                and provide good practices for programmers. The book begins by showing you
                the practical aspects of smarter coding in Kotlin, explaining the basic Kotlin
                syntax and the impact of design patterns. From there, the book provides an in-depth
                explanation of the classical design patterns of creational, structural, and behavioral families,
                before heading into functional programming. It then takes you through reactive and
                concurrent patterns, teaching you about using streams, threads, and coroutines to write better
                code along the way. By the end of the book, you will be able to efficiently address
                common problems faced while developing applications and be comfortable working
                on scalable and maintainable projects of any size.</p>

            <h3 style="clear: left">Kotlin Standard Library Cookbook</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/kotlin-standard-library-cookbook"><img
                    src="{{ url_for('asset', path='images/kotlin_slc_cover.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/kotlin-standard-library-cookbook">Kotlin Standard
                Library Cookbook</a>
                by Samuel Urbanowicz will help you dive into advanced language concepts and features. It covers a wide range
                of general programming problems at varying difficulty levels,
                including design patterns, functional programming, data processing, and more. The book consists of recipes
                that present
                a specific problem and give a step-by-step explanation of how to approach it effectively.
                This book will help you switch to Kotlin with ease and integrate it seamlessly into the existing JVM,
                Android and JavaScript projects.</p>

            <h3 style="clear: left"> Learning Kotlin by Building Android Applications</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/dp/1788474643"><img
                    src="{{ url_for('asset', path='images/lrn_kotlin_by_app.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/dp/1788474643"> Learning Kotlin by building Android Applications</a>
                by Eunice Adutwumwaa Obugyei. This book adopts a project-style approach,
                where we focus on teaching Android development by building three different
                Android Applications: a Tic-Tac-Toe application, a location- based alarm and a To-Do list
                application. The book begins by giving you a strong grasp of the Kotlin language and its
                APIs as a preliminary to building stunning applications for Android. You'll learn to set up
                an environment and as you progress through the chapters and the building of the different
                applications, the difficulty level will steadily grow. The book also introduces you
                to the Android Studio IDE, which plays an integral role in Android Development. I
                t covers Kotlin's basic programming concepts such as functions, lambdas, properties,
                object-oriented code, safety aspects and type parameterization, testing, and concurrency,
                and helps you write Kotlin code to production. Finally, you'll be taken through the process
                of releasing your app on the Google Play Store. You will also be introduced to other app
                distribution channels such as Amazon App Store.</p>

            <h3 style="clear: left">Mastering High Performance with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/dp/178899664X"><img
                    src="{{ url_for('asset', path='images/mastering_high_perf.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/dp/178899664X">Mastering High Performance with Kotlin</a>
                The book starts by analyzing various Kotlin specifcations to identify those that have a potentially
                adverse effect on performance. Then, we move on to monitor techniques that
                enable us to identify performance bottlenecks and optimize performance metrics.
                Next, we look at techniques that help to us achieve high performance: memory optimization,
                concurrency, multi threading, scaling, and caching. We also look at fault tolerance
                solutions and the importance of logging. We'll also cover best practices of Kotlin
                programming that will help you to improve the quality of your code base.
                By the end of the book, you will have gained some insight into various techniques and
                solutions that will help to create high-performance applications in the Kotlin environment.</p>

            <h3 style="clear: left">Learning Concurrency in Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.amazon.com/dp/1788627164"><img
                    src="{{ url_for('asset', path='images/Concurrency.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.amazon.com/dp/178899664X">Learning Concurrency in Kotlin</a>
                This book describes new approaches to concurrency and creates
                unique challenges for the design and implementation of concurrent code.
                'Learning Concurrency in Kotlin' addresses the challenges of
                concurrent implementation with real-life examples and exercises that
                take advantage of Kotlin’s primitives. Beginning with an introduction to
                Kotlin’s coroutines, you will learn how to write concurrent code and understand
                the fundamental concepts needed to write multithreaded software in Kotlin.
                You’ll explore how to communicate between and synchronize your threads and
                coroutines to write asynchronous applications that are collaborative.
                You’ll also learn how to handle errors and exceptions, as well as how to
                leverage multi-core processing. In addition to this, you’ll delve into how
                coroutines work internally, allowing you to see the bigger picture.
                Through the book, you’ll build an Android application – an RSS reader – designed
                and implemented according to the different topics covered in the book.</p>

            <h3 style="clear: left">Hands-On Object-Oriented Programming with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/hands-object-oriented-programming-kotlin"><img
                    src="{{ url_for('asset', path='images/hands_on_object.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/hands-object-oriented-programming-kotlin">Hands-On
                Object-Oriented Programming with Kotlin</a>
                by Abid Khan and Igor Kucherenko. The main purpose of the book is to provide a comprehensive
                coverage of Kotlin features such as classes, data classes, and inheritance.
                It also provides a good understanding of design pattern and how Kotlin
                syntax works with object-oriented techniques. An introduction to the advanced
                concepts such as sealed classes and package level functions and coroutines is provided
                and we will also learn how these concepts can make the software development easy.
                Supported libraries for serialization, regular expression and testing
                are also covered in this book. By the end of the book, you would learn building
                robust and maintainable software with object oriented design patterns in Kotlin.</p>

            <h3 style="clear: left">Kotlin for Enterprise Applications using Java EE</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/kotlin-enterprise-applications-using-java-ee"><img
                    src="{{ url_for('asset', path='images/Kotlin_for_Enterprise.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/kotlin-enterprise-applications-using-java-ee">Kotlin for Enterprise
                Applications using Java EE</a> by Raghavendra Rao K begins with a brief tour of
                Kotlin and helps you understand what makes it a popular and reasonable choice
                of programming language for application development, followed by its incorporation
                in the Java EE platform. We will then learn how to build applications
                using the Java Persistence API (JPA) and Enterprise JavaBeans (EJB),
                as well as develop RESTful web services and MicroServices. As we work our way through
                the chapters, we’ll use various performance improvement and monitoring
                tools for your application and see how they optimize real-world applications.
                At each step along the way, we will see how easy it is to develop enterprise applications
                in Kotlin. By the end of this book, we will have learned design patterns and
                how to implement them using Kotlin.</p>

            <h3 style="clear: left">Learn Spring for Android Application Development</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/learn-spring-android-application-development"><img
                    src="{{ url_for('asset', path='images/spring_for_and.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/learn-spring-android-application-development">Learn Spring for Android Application Development</a>
                by S M Mohi Us Sunnat and Igor Kucherenko will guide you in leveraging some of the power modules of the Spring Framework to build lightweight and robust Android apps using Kotlin. You will work with various modules, such as Spring AOP, Dependency Injection, and Inversion of Control, to develop applications with better dependency management. You’ll also explore other modules of the Spring Framework, such as Spring MVC, Spring Boot, and Spring
                Security. Each chapter has practice exercises at the end for you to assess your learning.
                By the end of the book, you will be fully equipped to develop Android applications with Spring technologies.</p>

            <h3 style="clear: left">Hands-On Data Structures and Algorithms with Kotlin</h3>
            <div class="book-lang">en</div>
            <a href="https://www.packtpub.com/application-development/hands-data-structures-and-algorithms-kotlin"><img
                    src="{{ url_for('asset', path='images/handson_.png') }}" class="book-cover-image"></a>
            <p><a href="https://www.packtpub.com/application-development/hands-data-structures-and-algorithms-kotlin">Hands-On Data Structures and Algorithms with Kotlin</a>
                by Chandra Sekhar Nayak, Rivu Chakraborty, starts with the basics of algorithms and data structures,
                helping you get to grips with the fundamentals and measure complexity. You'll then move on to exploring
                the basics of functional programming while getting used to thinking recursively. Packed with plenty of examples along the way, this book will help you grasp each concept easily. In addition to this, you'll get a clear understanding of how the data structures in Kotlin's collection framework work internally. By the end of this book, you will be able to apply the theory of data structures and algorithms to work out real-world problems.</p>
        </section>
    </article>

{% endblock %}
