{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<article role="main" class="page-content g-9">
<h2>Kotlin in Action</h2>

<a href="https://manning.com/books/kotlin-in-action"><img src="{{ url_for('asset', path='images/kotlin-in-action.png')}}" style="float: left; margin-right: 20px; margin-bottom: 30px"></a>

<p><a href="https://manning.com/books/kotlin-in-action">Kotlin in Action</a> teaches you to use the Kotlin language for
production-quality applications. Written for experienced Java developers, this example-rich book goes further than
most language books, covering interesting topics like building DSLs with natural language syntax.</p>

<p>The book is written by Dmitry Jemerov and Svetlana Isakova, developers on the Kotlin team.</p>

<p>Chapter 6, covering the Kotlin type system, and chapter 11, covering DSLs, are available as a free preview on the
<a href="https://www.manning.com/books/kotlin-in-action#downloads">publisher Web site</a>.</p>

<h2 style="clear: left">Kotlin for Android Developers</h2>

<a href="https://leanpub.com/kotlin-for-android-developers"><img src="{{url_for('asset', path='images/kotlin-for-android-developers.png')}}" style="float: left; margin-right: 20px; margin-bottom: 30px;"></a>

<p><a href="https://leanpub.com/kotlin-for-android-developers">Kotlin for Android Developers</a> is a book by Antonio Leiva showing
how Kotlin can be used for creating an Android application from scratch.</p>

<h2 style="clear: left">Modern Web Development with Kotlin</h2>

<a href="https://leanpub.com/modern-web-development-with-kotlin"><img src="{{ url_for("asset", path="images/mwdwk.jpg") }}" style="float: left; margin-right: 20px; margin-bottom: 30px;"></a>

<p><a href="https://leanpub.com/modern-web-development-with-kotlin">Modern Web Development with Kotlin</a> is a book
by Denis Kalinin about Web development with Kotlin. It covers just enough basics to get started but mostly concentrates
on the practical aspect of using the language. In particular, it guides you through the process of building
a technology-packed Web application while using popular backend and frontend technologies.</p>

<h2 style="clear: left">Programming Kotlin</h2>

<a href="https://www.packtpub.com/application-development/programming-kotlin"><img src="{{url_for('asset', path='images/programming-kotlin.png')}}" style="float: left; margin-right: 20px; margin-bottom: 30px;"></a>

<p><a href="https://www.packtpub.com/application-development/programming-kotlin">Programming Kotlin</a> is a book by Stephen Samuel and
Stefan Bocutiu about using Kotlin on the JVM. It covers all aspects of the language with particular focus on server side development.
It is aimed at Java developers who want to learn Kotlin and especially where it improves on Java.</p>

<h2 style="clear: left">Fundamental Kotlin</h2>

<a href="http://www.fundamental-kotlin.com"><img src="{{url_for('asset', path='images/fundamental-kotlin.jpg')}}" style="float: left; margin-right: 20px; margin-bottom: 30px;"></a>

<p><a href="http://www.fundamental-kotlin.com/">Fundamental Kotlin</a> is a book focused on Kotlin programming language
and its comparison to Java. This book is focused on the language’s most important features and aspects.
The book doesn't go in too much theory since it's focused on exact examples with notes and code provided.
This book is for developers and for people who are on their way to become developers.</p>
</article>

{% endblock %}