{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<article role="main" class="page-content g-9">
<h2>Kotlin in Action</h2>

<a href="https://manning.com/books/kotlin-in-action"><img src="{{ url_for('asset', path='images/kotlin-in-action.png')}}" class="book-cover-image"></a>

<p><a href="https://manning.com/books/kotlin-in-action">Kotlin in Action</a> teaches you to use the Kotlin language for
production-quality applications. Written for experienced Java developers, this example-rich book goes further than
most language books, covering interesting topics like building DSLs with natural language syntax.</p>

<p>The book is written by Dmitry Jemerov and Svetlana Isakova, developers on the Kotlin team.</p>

<p>Chapter 6, covering the Kotlin type system, and chapter 11, covering DSLs, are available as a free preview on the
<a href="https://www.manning.com/books/kotlin-in-action#downloads">publisher Web site</a>.</p>

<h2 style="clear: left">Kotlin for Android Developers</h2>

<a href="https://leanpub.com/kotlin-for-android-developers"><img src="{{url_for('asset', path='images/kotlin-for-android-developers.png')}}" class="book-cover-image"></a>

<p><a href="https://leanpub.com/kotlin-for-android-developers">Kotlin for Android Developers</a> is a book by Antonio Leiva showing
how Kotlin can be used for creating an Android application from scratch.</p>

<h2 style="clear: left">Modern Web Development with Kotlin</h2>

<a href="https://leanpub.com/modern-web-development-with-kotlin"><img src="{{ url_for("asset", path="images/mwdwk.jpg") }}" class="book-cover-image"></a>

<p><a href="https://leanpub.com/modern-web-development-with-kotlin">Modern Web Development with Kotlin</a> is a book
by Denis Kalinin about Web development with Kotlin. It covers just enough basics to get started but mostly concentrates
on the practical aspect of using the language. In particular, it guides you through the process of building
a technology-packed Web application while using popular backend and frontend technologies.</p>

<h2 style="clear: left">Programming Kotlin</h2>

<a href="https://www.packtpub.com/application-development/programming-kotlin"><img src="{{url_for('asset', path='images/programming-kotlin.png')}}" class="book-cover-image"></a>

<p><a href="https://www.packtpub.com/application-development/programming-kotlin">Programming Kotlin</a> is a book by Stephen Samuel and
Stefan Bocutiu about using Kotlin on the JVM. It covers all aspects of the language with particular focus on server side development.
It is aimed at Java developers who want to learn Kotlin and especially where it improves on Java.</p>

<h2 style="clear: left">Fundamental Kotlin</h2>

<a href="http://www.fundamental-kotlin.com"><img src="{{url_for('asset', path='images/fundamental-kotlin.jpg')}}" class="book-cover-image"></a>

<p><a href="http://www.fundamental-kotlin.com/">Fundamental Kotlin</a> is a book focused on Kotlin programming language
and its comparison to Java. This book is focused on the language’s most important features and aspects.
The book doesn't go in too much theory since it's focused on exact examples with notes and code provided.
This book is for developers and for people who are on their way to become developers.</p>

<h2 style="clear: left">Android Development with Kotlin</h2>

<a href="https://www.packtpub.com/application-development/android-development-kotlin"><img src="{{url_for('asset', path='images/android-development-with-kotlin.png')}}" class="book-cover-image"></a>

<p><a href="https://www.packtpub.com/application-development/android-development-kotlin">Android Development with Kotlin</a>
is a book by Marcin Moskala and Igor Wojda discussing Kotlin features in context of Android development. It demonstrates how common examples that are
typical for Android development, can be simplified using Kotlin. It also shows all the benefits,
improvements and new possibilities provided by this language.</p>

<h2 style="clear: left">Programmer's Guide To Kotlin</h2>

<a href="https://www.amazon.com/Programmers-Guide-Kotlin-Mike-James/dp/1871962536"><img src="{{url_for('asset', path='images/programmers_guide_kotlin_image.png')}}" class="book-cover-image"></a>

<p><a href="https://www.amazon.com/Programmers-Guide-Kotlin-Mike-James/dp/1871962536">Programmer's Guide to Kotlin</a>
is a book by Mike James for introducing Kotlin to programmers. The book helps you understand the Kotlin language in-depth
so you can easily go on to create better, more robust programs.</p>

<h2 style="clear: left">Reactive Programming in Kotlin</h2>

<a href="https://www.packtpub.com/application-development/reactive-programming-kotlin"><img src="{{url_for('asset', path='images/reactive_programming_in_kotlin.png')}}" class="book-cover-image"></a>

<p><a href="https://www.packtpub.com/application-development/reactive-programming-kotlin">Reactive Programming in Kotlin</a>
is an extensive book written by Rivu Chakraborty, an experienced Android developer and Kotlin enthusiast. This book has been created to provide you with a step by step system for learning Reactive Programming with Kotlin. We cover every aspect of Reactive Programming and its implementation in Kotlin and RxKotlin.
We have also included the latest information to introduce you to Spring framework 5.0 and Spring Boot 2.0. and added coverage on applying Reactive Programming to Android with Kotlin.</p>

</article>

{% endblock %}