{% set restyled=True %}
{% extends 'community.html' %}

{% macro speak_kotlin_link(href, text, class, comment=None) %}
    <div class="all-speak-kotlin_link _{{ class }}" data-svg-id="{{ class.replace('-', '_') }}">
        <a href="{{ href }}" class="all-speak-kotlin_link-button">
            <span>{{ text }}</span>
            <div class="all-speak-kotlin_link-pointer"></div>
        </a>
        {% if comment %}
            <div class="all-speak-kotlin_link-comment">{{ comment | safe }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <article role="main" class="page-content page-content_next">
        <h1 class="kto-header kto-header_size_l" id="were-all-kotlin">Get involved in the community!</h1>
        <p>
            Each day brings more activity and excitement related to Kotlin, and we want to support the community and help it grow in any way we can. Here you can find online resources and information about activities in your area.
        </p>

        <div class="page-community-panels page-community__panels">
            <a href="/community/user-groups.html" target="_blank"
               class="page-community-panels__item page-community-panels__item_type_makethkug">
                <p class="page-community-panels__para">Join Kotlin User Groups movement</p>
            </a>
            <a href="/community/events.html"
               class="page-community-panels__item page-community-panels__item_type_events">
                <p class="page-community-panels__para">Find inspiration at a Kotlin event or host one yourself</p>
            </a>
            <a href="/contribute.html"
               class="page-community-panels__item page-community-panels__item_type_contribution">
                <p class="page-community-panels__para">Contribute to the language and ecosystem</p>
            </a>
        </div>

        <h2 class="kto-header kto-header_size_m" id="kotlin-online-resources">Keep in touch</h2>
        <div>
            <div class="all-speak-kotlin">
                <div class="all-speak-kotlin_links _left">
                    {{ speak_kotlin_link("http://talkingkotlin.com", 'Talking Kotlin Podcast', 'talking_kotlin') }}
                    {{ speak_kotlin_link(config.REDDIT_URL, 'Reddit', 'reddit') }}
                    {{ speak_kotlin_link("//kotlinlang.slack.com/", 'Slack', 'slack',
                            comment='get invite <a href="' + config.SLACK_URL + '">here</a>') }}
                    {{ speak_kotlin_link("//www.linkedin.com/groups/7417237/profile", 'LinkedIn', 'linkedin',
                        comment='Mostly for job related post') }}
                </div>
                <div class="all-speak-kotlin_img"></div>
                <div class="all-speak-kotlin_links _right">
                    {{ speak_kotlin_link("/community/talks.html", 'Kotlin Talks', 'kotlin-talks') }}
                    {{ speak_kotlin_link(config.FORUM_URL, 'Kotlin Forum', 'kotlin-forum') }}
                    {{ speak_kotlin_link(config.STACK_OVERFLOW_URL, 'Stack Overflow', 'stackoverflow') }}
                    {{ speak_kotlin_link(config.TWITTER_URL, 'Twitter', 'twitter') }}
                    {{ speak_kotlin_link(config.BUGTRACKER_URL, 'Issue Tracker', 'youtrack') }}
                </div>
            </div>
        </div>
    </article>

    <div class="scroll-down-hint"
         data-aos-anchor=".all-speak-kotlin"
         data-aos-anchor-placement="top-center"
         data-aos="animate">
    </div>
{% endblock %}
