{% extends 'base.html' %}

{% block title %}Community{% endblock %}

{% macro speak_kotlin_link(href, text, class, comment=None) %}
    <div class="all-speak-kotlin_link _{{ class }}" data-svg-id="{{ class.replace('-', '_') }}">
        <a href="{{ href }}" class="all-speak-kotlin_link-button">
            <span>{{ text }}</span>
            <div class="all-speak-kotlin_link-pointer"></div>
        </a>
        {% if comment %}
            <div class="all-speak-kotlin_link-comment">{{ comment | safe }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='community.css') }}">

    <article role="main" class="page-content">
        <h1 id="were-all-kotlin">We're all Kotlin</h1>
        <p>
            Every day there is more and more activity around Kotlin, and we want to help foster and grow the community
            in any way we can. Here you can find online resources, as well as offline events and talks in your area.
            And if you can't find one, create one. We're here to help!

        </p>

        <h2 id="kotlin-real-life-activities">Kotlin Real-life Activities</h2>

        <ol>
            <li><strong>Local Kotlin User Groups</strong> are a place to share experience between Kotlin programmers
                and to get newcomers excited about the language. Successful user groups typically hold regular meetings.
            </li>
            <li><strong>Kotlin Nights</strong> are one-off events that usually include 3-4 talks on Kotlin.
                The talks should be dedicated to technology, either to Kotlin or to some other compatible approaches,
                and not be focused on marketing, sales or product promotion.
            </li>
        </ol>

        <h2 id="kotlin-online-resources">Kotlin Online Resources</h2>
        <div>
            <div class="all-speak-kotlin">
                <div class="all-speak-kotlin_links _left">
                    {{ speak_kotlin_link("http://talkingkotlin.com", 'Talking Kotlin Podcast', 'talking_kotlin') }}
                    {{ speak_kotlin_link("//www.reddit.com/r/Kotlin/", 'Reddit', 'reddit') }}
                    {{ speak_kotlin_link("//kotlinlang.slack.com/", 'Slack', 'slack',
                            comment='get invite <a href="http://slack.kotlinlang.org/">here</a>') }}
                    {{ speak_kotlin_link("//www.linkedin.com/groups/7417237/profile", 'LinkedIn', 'linkedin',
                        comment='Mostly for job related post') }}
                </div>
                <div class="all-speak-kotlin_img"></div>
                <div class="all-speak-kotlin_links _right">
                    {{ speak_kotlin_link("/community/talks.html", 'Kotlin Talks', 'kotlin-talks') }}
                    {{ speak_kotlin_link("//discuss.kotlinlang.org/", 'Kotlin Forum', 'kotlin-forum') }}
                    {{ speak_kotlin_link("//stackoverflow.com/questions/tagged/kotlin", 'Stack Overflow', 'stackoverflow') }}
                    {{ speak_kotlin_link("//twitter.com/kotlin", 'Twitter', 'twitter') }}
                    {{ speak_kotlin_link("//plus.google.com/communities/104597899765146112928", 'Google+', 'google') }}
                    {{ speak_kotlin_link("//youtrack.jetbrains.com/issues/KT", 'Issue Tracker', 'youtrack') }}
                </div>
            </div>
        </div>

        <h2 id="kotlin-community-resources">Community-Maintained Resources</h2>

        <ol>
            <li><a href="https://kotlin.link/">Kotlin.link</a> — almost a complete list of links to Kotlin projects, libraries and other resources</li>
            <li><a href="http://www.kotlinweekly.net/">Kotlin Weekly</a> — a weekly mailing list containing latest notable news and articles</li>
            <li><a href="https://twitter.com/dailykotlin">The Daily Kotlin</a> — Daily Kotlin news and tips</li>
        </ol>

    </article>

    <div class="scroll-down-hint"
         data-aos-anchor=".all-speak-kotlin"
         data-aos-anchor-placement="top-center"
         data-aos="animate">
    </div>

    <script src="{{ url_for('static', filename='community.js') }}"></script>
{% endblock %}
