{% set restyled=True %}
{% extends 'base.html' %}

{% block title %}Community{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='community.css')|autoversion }}">
{% endblock %}

{% block body_class %}page__community{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='community.js')|autoversion }}"></script>
{% endblock %}

{% macro speak_kotlin_link(href, text, class, comment=None) %}
    <div class="all-speak-kotlin_link _{{ class }}" data-svg-id="{{ class.replace('-', '_') }}">
        <a href="{{ href }}" class="all-speak-kotlin_link-button">
            <span>{{ text }}</span>
            <div class="all-speak-kotlin_link-pointer"></div>
        </a>
        {% if comment %}
            <div class="all-speak-kotlin_link-comment">{{ comment | safe }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <article role="main" class="page-content page-content_next">
        <h1 class="kto-header kto-header_size_l" id="were-all-kotlin">Join the community to learn and get new connections!</h1>
        <p>
            Every day there is more and more activity around Kotlin, and we want to help foster
            and grow the community in any way we can. Here you can find online resources and
            information about activities in your area. If you can't find one, create one! JetBrains
            is here to help and support
        </p>

        <ul class="page-community-panels page-community__panels">
            <li class="page-community-panels__item page-community-panels__item_type_makethkug">
                <p class="page-community-panels__para">Join Kotlin User Group  or start your own</p>
                <a href="" class="kto-button kto-button_size_s kto-button_mode_outline">Start a new KUG</a>
            </li>
            <li class="page-community-panels__item page-community-panels__item_type_events">
                <p class="page-community-panels__para">Get Inspired at Kotlin event  or host one yourself</p>
                <a href="" class="kto-button kto-button_size_s kto-button_mode_outline">Get support</a>
            </li>
            <li class="page-community-panels__item page-community-panels__item_type_contribution">
                <p class="page-community-panels__para">Contribute to the language and ecosystem</p>
                <a href="" class="page-community-panels__link">Contributor guidelines</a>
            </li>
        </ul>

        <h2 class="kto-header kto-header_size_m" id="kotlin-online-resources">Keep in touch</h2>
        <div>
            <div class="all-speak-kotlin">
                <div class="all-speak-kotlin_links _left">
                    {{ speak_kotlin_link("http://talkingkotlin.com", 'Talking Kotlin Podcast', 'talking_kotlin') }}
                    {{ speak_kotlin_link("//www.reddit.com/r/Kotlin/", 'Reddit', 'reddit') }}
                    {{ speak_kotlin_link("//kotlinlang.slack.com/", 'Slack', 'slack',
                            comment='get invite <a href="http://slack.kotlinlang.org/">here</a>') }}
                    {{ speak_kotlin_link("//www.linkedin.com/groups/7417237/profile", 'LinkedIn', 'linkedin',
                        comment='Mostly for job related post') }}
                </div>
                <div class="all-speak-kotlin_img"></div>
                <div class="all-speak-kotlin_links _right">
                    {{ speak_kotlin_link("/community/talks.html", 'Kotlin Talks', 'kotlin-talks') }}
                    {{ speak_kotlin_link("//discuss.kotlinlang.org/", 'Kotlin Forum', 'kotlin-forum') }}
                    {{ speak_kotlin_link("//stackoverflow.com/questions/tagged/kotlin", 'Stack Overflow', 'stackoverflow') }}
                    {{ speak_kotlin_link("//twitter.com/kotlin", 'Twitter', 'twitter') }}
                    {{ speak_kotlin_link("//youtrack.jetbrains.com/issues/KT", 'Issue Tracker', 'youtrack') }}
                </div>
            </div>
        </div>

        <h2 class="kto-header kto-header_size_m" id="kotlin-online-resources">Code of Conduct</h2>
        <p>
            Follow <a href="/contribute.html">these simple rules</a> to collaborate efficiently: be kind, be someone that other
            people want to be around, do not insult or be rude to other attendees. Kotlin User
            Groups should provide a friendly, safe and welcoming environment for all,
            regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status,
            and religion (or lack there of)
        </p>
    </article>

    <div class="scroll-down-hint"
         data-aos-anchor=".all-speak-kotlin"
         data-aos-anchor-placement="top-center"
         data-aos="animate">
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='community.js')|autoversion }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='community.css')|autoversion }}">
{% endblock %}
