<!DOCTYPE html>
<html>
<head>
    {% include 'inc/head.html' %}
</head>
<body class="page_index">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P98"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="global-layout">
    {% include 'inc/header.html' %}

    <section class="kotlin-overview-section _features">
        <h2 class="section-header">Why Kotlin?</h2>
        <div class="section-content">

            <div class="kotlin-features-carousel-wrap" id="features-carousel-wrap">

                <div class="kotlin-features-carousel js-carousel">
                    <ul class="kotlin-features-list js-carousel-list">
                        {% for feature in features %}
                            <li class="kotlin-feature _{{ feature.id }} js-popup-open-button"
                                data-popup-id="kotlin-feature_{{ feature.id }}">
                                <div class="feature-image">
                                    <div class="feature-icon _{{ feature.id }}"></div>
                                </div>
                                <h3 class="feature-title">{{ feature.title }}</h3>
                                <p class="feature-description">{{ feature.description }}</p>
                                <span class="feature-example-link">See example</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="kotlin-features-carousel-nav _prev js-carousel-nav-prev is_disabled"></div>
                <div class="kotlin-features-carousel-nav _next js-carousel-nav-next"></div>
            </div>
        </div>

        {% for feature in features %}
            <div class="overview-popup overview-popup_{{ feature.id }} _hidden js-popup"
                 id="kotlin-feature_{{ feature.id }}">
                <div class="popup-content">
                    {{ feature.content | safe }}
                </div>

                <div class="popup-close-button js-popup-close-button"
                     data-popup-id="kotlin-feature_{{ feature.id }}"></div>
            </div>
            <div class="overview-popup-overlay"></div>
        {% endfor %}

    </section>

    {# This fle conteins a lot of pre-formatted code. #}
    {% include 'inc/pages/index/code-examples.html' %}

    <section class="kotlin-overview-section _video-overview">
        <div class="section-content">
            <div class="video-player-wrap js-video-player-wrap">

                <a href="http://www.youtube.com/watch?v=viiDaLpPfN4" class="video-thumb-link js-video-thumb-link">
                <span class="video-description">
                    <span class="title">See Kotlin in action</span>
                    <span class="description"></span>
                </span>

                    <span class="video-player-play-button js-play-video-button"></span>
                    <span class="video-thumb-cover"></span>

                    <img src="{{ url_for('asset', path='images/index/how-to-use-kotlin-video-thumb.jpg') }}"
                         class="video-thumb"
                         alt="Getting Started with Kotlin in 2 minutes"
                         height="506"
                    >
                </a>

                <div class="js-video-player">

                </div>
            </div>
        </div>
    </section>

    <section class="kotlin-overview-section _get-kotlin" id="get-kotlin">
        <h2 class="section-header">Try Kotlin</h2>

        <p class="kotlin-version">{{ data.releases.latest.version }}</p>

        <div class="section-content">
            <div class="get-kotlin-options-list">
                <div class="option-item _try-online">
                    <div class="option-image _try-online"></div>
                    <div class="option-title-pre-text">In the browser</div>
                    <h3 class="option-title">Try Online</h3>

                    <p class="option-description">
                        Explore Kotlin code samples and solve problems directly in your browser.
                    </p>


                    <div class="option-link-wrap">
                        <a href="http://try.kotlinlang.org"
                           class="option-link">
                            Try Online
                        </a>
                    </div>
                </div>

                <div class="option-item _standalone-compiler">
                    <div class="option-image _standalone-compiler"></div>
                    <div class="option-title-pre-text">Standalone</div>
                    <h3 class="option-title">Compiler</h3>

                    <p class="option-description">
                        Compile your code from the command line or use build tools such as Ant, Gradle and Maven.
                    </p>

                    <div class="option-link-wrap">
                        <a href="/docs/tutorials/command-line.html"
                           class="option-link">Download Compiler</a>
                    </div>
                </div>

                <div class="option-item _intellij-idea">
                    <div class="option-image">
                        <div class="jetbrains-logo _logo-intellij-idea _size-2"></div>
                    </div>
                    <div class="option-title-pre-text">Use</div>
                    <h3 class="option-title">IntelliJ IDEA</h3>

                    <p class="option-description">
                        Kotlin works with the free Community Edition, IntelliJ IDEA Ultimate or Android Studio.
                    </p>

                    <div class="option-link-wrap">
                        <a href="/docs/tutorials/getting-started.html"
                           class="option-link">
                            Setup Plugin
                        </a>
                    </div>

                </div>

                <div class="option-item _source-code">
                    <div class="option-image _source-code"></div>
                    <div class="option-title-pre-text">Use</div>
                    <h3 class="option-title">Eclipse</h3>

                    <p class="option-description">
                        Get a preview version of the Kotlin plugin for Eclipse Luna.
                    </p>

                    <div class="option-link-wrap">
                        <a href="/docs/tutorials/getting-started-eclipse.html"
                           class="option-link">
                            Setup Plugin
                        </a>
                    </div>
                </div>
            </div>


            <div class="overview-popup _hidden js-popup"
                 id="setting-up-idea-option-popup">
                <div class="popup-content">
                    <h3>Setting Up IntelliJ IDEA</h3>

                    <h4>Milestone Versions</h4>
                    <p>
                        A stable milestone version of Kotlin can be obtained from JetBrains <a href="#">Plugin
                        Repository</a>.
                        <br>
                        In IDEA navigate to: Settings -> Plugins -> Browse Repositories
                        <br>
                        Select the Kotlin plugin and then Download and Install.
                    </p>

                    <h4>Using the Kotlin Nightly Builds</h4>
                    <p>In IDEA navigate to: Preferences -> Plugins -> Browse Repositories. Enter:</p>
                    <ul>
                        <li>
                            for IntelliJ IDEA 13 EAP:<br>
                            <small>
                                http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml
                            </small>
                        </li>
                        <li>
                            for IntelliJ IDEA 12.1.5: <br>
                            <small>
                                http://teamcity.jetbrains.com/guestAuth/repository/download/bt345/.lastSuccessful/updatePlugins.xml?branch=idea12
                            </small>
                        </li>
                        <li>
                            for IntelliJ IDEA 12.1.4 and below: download manually, see instructions below.
                        </li>
                    </ul>

                    <p>Then you should be able to select the Kotlin plugin and Download and Install. The repository
                        above contains nightly builds published automatically.</p>
                </div>

                <div class="popup-close-button js-popup-close-button"
                     data-popup-id="setting-up-idea-option-popup"></div>
            </div>
        </div>
    </section>

    <section class="kotlin-overview-section _testimonials">
        <div class="section-header">Who's using Kotlin</div>
        <div class="section-content">

            <div class="g-layout2 testimonials-carousel-wrap" id="testimonials-carousel-wrap">
                <div class="testimonials-carousel js-carousel">
                    <ul class="testimonials-list js-carousel-list">
                        {% for testimonial in data['companies-using-kotlin'] %}
                            <li class="testimonials-list-item">
                                <blockquote class="testimonial-quote">
                                    <div class="text">{{ testimonial.description }}</div>
                                </blockquote>

                                <div class="testimonial-company">
                                    {% if testimonial.logo or testimonial.url %}
                                        <a href="{{ testimonial.url }}"
                                           class="testimonial-company-link"
                                           target="_blank"
                                           rel="nofollow">
                                            {{ testimonial.company }}
                                        </a>
                                    {% else %}
                                        {{ testimonial.company }}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="testimonials-carousel-nav _prev js-carousel-nav-prev is_disabled"></div>
                <div class="testimonials-carousel-nav _next js-carousel-nav-next"></div>
            </div>

        </div>
    </section>

    <section class="kotlin-overview-section _community">
        <h2 class="section-header">Stay in touch</h2>
        <div class="section-content">
            <ul class="links-list">
                <li class="links-list-item">
                    <a href="http://blog.jetbrains.com/kotlin" class="link" target="_blank">
                        <span class="link-icon _blog"></span>
                        <span class="link-text">Blog</span>
                    </a>
                </li>

                <li class="links-list-item">
                    <a href="community.html" class="link">
                        <span class="link-icon _forum"></span>
                        <span class="link-text">Community</span>
                    </a>
                </li>

                <li class="links-list-item">
                    <a href="{{ config.TWITTER_URL }}" class="link" target="_blank">
                        <span class="link-icon _twitter"></span>
                        <span class="link-text">Twitter</span>
                    </a>
                </li>

                <li class="links-list-item">
                    <a href="http://youtrack.jetbrains.com/issues/KT" class="link" target="_blank">
                    <span class="link-icon _issue-tracker">
                        <div class="jetbrains-logo _logo-youtrack _size-2"></div>
                    </span>
                        <span class="link-text">Issue Tracker</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>

{% include 'inc/footer.html' %}

<script src="{{ url_for('static', filename='default.js') }}"></script>
<script src="{{ url_for('static', filename='common.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>