{% extends 'base.html' %}

{% block title %}Resources{% endblock %}

{% block content %}
    <div class="g-grid">
        <article role="main" class="page-content g-9">
            <p>There are over <a href="https://github.com/search?q=language:Kotlin&ref=cmdform"> 2000 repositories on
                GitHub</a> alone with Kotlin projects. These are just a few of them.
                If you have an OSS project in Kotlin or know of one, please <a
                        href="https://github.com/JetBrains/kotlin-web-site/edit/master/data/oss-projects.yml">
                    add it</a>.</p>
            <br/>
            <br/>

            <h2>Community-Maintained Links</h2>

            You can find a community-maintained list of links to Kotlin projects, libraries and other resources at
            <a href="http://kotlin.link/">Awesome Kotlin</a>.

            <h2>Open Source Projects and Libraries</h2>

            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for project in site.data["oss-projects"] %}
                    <tr>
                        <td><a href="{{ project.link }}">{{ project.name }}</a></td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </div>
{% endblock %}
