{% extends 'base.html' %}

{% from 'inc/nav/side-tree-nav.html' import side_tree_nav %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='videos.css')|autoversion }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='videos.js')|autoversion }}"></script>
{% endblock %}

{% block title %}Videos{% endblock %}

{% block content %}
    <div class="g-grid">
        <div class="g-3">
            <div class="video-gallery" id="video-gallery">
                {{ side_tree_nav(videos) }}
            </div>
        </div>

        <article role="main" class="page-content g-9">
            <div id="video-player"></div>
            <div id="video-description" class="video-gallery-description"></div>
        </article>
    </div>
{% endblock %}