@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.wrapper {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.wrapper::before {
    content: '';
    display: block;

    background: radial-gradient(238.09% 60.02% at 49.98% 105.17%, rgba(177, 38, 235, 0.00) 0%, #260053 100%) center no-repeat;
    filter: blur(200px);

    height: 696px;
    width: 826px;

    position: absolute;
    top: 36px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: var(--ktl-box-page-m);
}

.hero::before {
    display: block;
    content: '';
    background: url('/images/multiplatform/hero/logo.svg') no-repeat center;

    height: 72px;
    width: 72px;

    @media (--ktl-ts-more) {
        height: 96px;
        width: 96px;
    }
}

.title, .subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    padding-block: 24px;

    @media (--ktl-ts-in) {
        /* @mixin rs-hero-sm-*; */
        font-size: 42px;
        line-height: 50px;
    }
}

.subtitle {
    @media (--ktl-ts-in) {
        /* @mixin rs-subtitle-1-sm-* */
        font-size: 23px;
        line-height: 30px;
    }
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-sizing: border-box;
    gap: 18px 40px;
    width: 100%;

    margin: 0;
    padding: 48px 0;
    list-style: none;

    --hero-item-src: '';
}

.platform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    line-height: 1.5;

    @media (--ktl-ts-more) {
        flex-basis: 80px;
    }

    @media (--ktl-ms-in) {
        padding-inline: 14px;
    }

    &.android {
        --hero-item-src: url('/images/multiplatform/hero/android.svg');
    }

    &.ios {
        --hero-item-src: url('/images/multiplatform/hero/ios.svg');
    }

    &.web {
        --hero-item-src: url('/images/multiplatform/hero/web.svg');
    }

    &.desktop {
        --hero-item-src: url('/images/multiplatform/hero/desktop.svg');
    }

    &.server {
        --hero-item-src: url('/images/multiplatform/hero/server.svg');
    }
}

.platform::before {
    display: block;
    content: '';

    background: var(--hero-item-src) no-repeat center;
    background-size: 32px;
    height: 32px;
    width: 32px;

    @media (--ktl-ts-more) {
        background-size: 48px;
        height: 48px;
        width: 48px;
    }
}

.button {
    @media (--ktl-ms-in) {
        width: 100%;
    }
}
