@import '../../../css/config';
@import '../../../css/utils';
@import './utils';

.gif-player {
  @include icon-on-image-left-bottom ();

  cursor: pointer;

  &._active {
    &::before,
    &::after {
      display: none;
    }
  }
}

.gif-player__image {
  display: inline-block;
  vertical-align: top;
}

.gif-player img {
  width: 100%;
}
