@import './utils';

img {
  vertical-align: middle;
}

.screen-img {
  position: relative;

  display: inline-block;

  vertical-align: top;

  > div,
  > a,
  > span {
    max-width: 100%;
  }

  .article-content & {
    max-width: 100%;
  }

  img {
    height: auto;
    vertical-align: top;

    .article-content & {
      max-width: 100%;
    }
  }

  &._margin-bottom {
    margin-bottom: 70px;
  }

  &._margin-bottom-small {
    margin-bottom: 30px;
  }

  &._border {
    img {
      border: 1px solid $color-border-gray-light;
    }
  }

}