.teach-wrapper {
  padding: 0;
  font-family: var(--ktl-font-family-inter);
}

.teach-feature {
  &__icon {
    img {
      display: block;
    }
  }

  &__content {
    display: block;
  }

  @media (min-width: 1200px) {
    &__content {
      padding-right: 32px;
    }
  }
}

.teach-top-mobile-buttons {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 32px;
  margin-top: 32px;

  @media (min-width: 768px) {
    display: none;
  }
}

.teach-top-buttons {
  display: none;

  @media (min-width: 768px) {
    display: grid;
    grid-gap: 16px;
    grid-template-areas: "a a";
    grid-auto-columns: min-content;
  }
}

.ktl-link {
  text-decoration: underline;
}

.teach-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.universities-top {
  &__numbers {
    display: none;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__numbers {
      display: flex;
    }

    &__title-mobile {
      display: none;
    }
  }
}

.teach-video {
  .video {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #e3e3e3;
  }
}

.teach-form {
  .form {
    background: #e3e3e3;
    height: 160px;
  }
}

.teach-universities {
  &__logos {
    border-top: 1px solid rgba(39, 40, 44, 0.2);
    display: block;
    padding: 32px 0;
  }

  &__map {
    display: none;
  }

  &__bottom {
    display: none;

    br {
      display: none;
    }
  }

  &__mobile-button {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 768px) {
    &__bottom {
      text-align: center;
      display: block;
    }
    &__map {
      display: block;
      height: 600px;
      background: #e3e3e3;
    }
    &__mobile-button {
      display: none;
    }
  }

  @media (min-width: 1400px) {
    &__bottom {
      br {
        display: block;
      }
    }
  }
}

.teach-logos {
  img {
    display: block;
  }

  &_stanford {
    height: 42px;
  }

  &_hopkins {
    height: 56px;
  }

  &_cambridge {
    height: 26px;
  }

  &_imperial {
    height: 32px;
  }

  &_chicago {
    height: 26px;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.teach-resources {
  &__top-image {
    width: 116px;
    margin-bottom: 32px;
  }

  @media (min-width: 768px) {
    &__top {
      display: flex;
      align-items: center;
    }
    &__top-image {
      margin-bottom: 0;
      margin-right: 26px;
      margin-top: 24px;
    }
  }
}

.teach-links {
  display: grid;
  grid-gap: 32px;
  font-size: 16px;
  line-height: 24px;

  a {
    text-decoration: none;
    color: rgba(39, 40, 44, 1);

    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
    grid-template-areas:
    "left center1 right1"
    "left center2 right2";

    &__first-list {
      grid-area: left;
    }

    &__second-list {
      grid-area: center1;
    }

    &__third-list {
      grid-area: center2;
    }

    &__fourth-list {
      grid-area: right1;
    }

    &__fifth-list {
      grid-area: right2;
    }
  }
}

.teach-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.teach-sublist {
  margin-left: 16px;
  margin-top: 8px;
}

.ktl-dimmed-text {
  color: rgba(39, 40, 44, 0.5);
}


@media (max-width: 767px) {
  .teach-features {
    display: grid;
    grid-gap: 32px;
  }

  .teach-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__logo {
      width: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 48px;

      &:last-child {
        width: 100%;
      }
    }
  }

  .teach-subscription-section {
    padding-left: 0;
    padding-right: 0;
  }

  .teach-map__wrapper {
    display: none;
  }

  .universities-top__title {
    display: none;
  }
}
