@import "new_style";
@import "all-speak-kotlin";
@import "scroll-down-hint";

.community-usergroup-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 14px;
  line-height: 24px;
}

.community-usergroup-list > .typo-list__item {
  margin: 0 0 20px;
  width: 30%;
}

.community-usergroup-list > .typo-list__item::before {
  display: none;
}

.community-usergroup-list__big-para {
  margin: 96px 0 48px;
  font-size: 31px;
  line-height: 42px;
}

.community-kugrun {
  display: flex;

  font-size: 18px;
  line-height: 28px;
}

.community-kugrun > .typo-list__item {
  margin: 30px 0 45px;
}

.community-kugrun > .typo-list__item::before {
  display: block;
  content: '';
  width: 72px;
  height: 72px;
  background: center center no-repeat;
  background-size: 72px;
  margin: 0 0 25px;
  position: static;
}

.community-kugrun > .typo-list__item:first-of-type::before {
  background-image: url('icons/boost.svg');
}

.community-kugrun > .typo-list__item::before {
  background-image: url('icons/help.svg');
}

.community-kugrun > .typo-list__item:last-of-type::before {
  background-image: url('icons/contacts.svg');
}

.community-attention-info {
  border-radius: 4px;
  padding: 14px 0 14px 71px;
  font-size: 18px;
  line-height: 28px;

  margin: 30px 0;
  background: #F5F5F5 url('./icons/info.svg') 28px center no-repeat;
}

.community-branding-name {
  border: 1px solid rgba(39, 40, 44, 0.2);
  text-align: center;
}

.community-kug-submit {
  margin-bottom: 26px;
}

.community-list-right, .community-numbers-right {
  float: right;
  margin: 0 0 0 45px;
}

.community-list-right > .typo-list__item,
.community-numbers-right > .typo-list__item {
  margin: 0;
}

.community-list-right > .typo-list__item::before,
.community-numbers-right > .typo-list__item::before {
  display: none;
}

.community-list-right > .typo-list__item {
  margin-bottom: 8px;
}

.community-numbers-right {
  display: flex;
  margin-bottom: 25px;
}

.community-numbers-right > .typo-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;

  font-size: 14px;
  line-height: 24px;
}

.community-numbers-right > .typo-list__item > .type-strong {
  font-weight: 300;
  font-size: 38px;
  line-height: 60px;
  letter-spacing: -0.05em;
}

.community-numbers-right_strong > .typo-list__item > .type-strong {
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
}

.community-kotlinconf-map {
  margin: 30px 0 35px;
  height: 460px;
}