@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints/media.pcss";

.image {
    background: #000;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    height: 156px;
    > .imageSrc[width] { display: none; }
    > .imageSrc[width="280"] { display: block; }

    @media (--ktl-ds) {
        height: 174px;
        > .imageSrc[width] { display: none; }
        > .imageSrc[width="312"] { display: block; }
    }
    @media (--ktl-tl) {
        height: 138px;
        > .imageSrc[width] { display: none; }
        > .imageSrc[width="248"] { display: block; }
    }
    @media (--ktl-tm) {
        height: 156px;
        > .imageSrc[width] { display: none; }
        > .imageSrc[width="280"] { display: block; }
    }
    @media (--ktl-ts) {
        height: 238px;
        > .imageSrc[width] { display: none; }
        > .imageSrc[width="424"] { display: block; }
    }
    @media (--ktl-mm) {
        height: 184px;
        > .imageSrc[width] { display: none; }
        > .imageSrc[width="328"] { display: block; }
    }
    @media (--ktl-ms) {
        height: 152px;
        > .imageSrc[width] { display: none; }
        > .imageSrc[width="272"] { display: block; }
    }
}

.imageSrc {
    max-width: none;
}
