@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints/media.pcss";

.image {
    background: #000;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    width: 280px;
    height: 156px;

    @media (--ktl-ds) {
        width: 312px;
        height: 175px;
    }
    @media (--ktl-tl) {
        width: 248px;
        height: 139px;
    }
    @media (--ktl-tm) {
        width: 280px;
        height: 156px;
    }
    @media (--ktl-ts) {
        width: 424px;
        height: 238px;
    }
    @media (--ktl-mm) {
        width: 328px;
        height: 185px;
    }
    @media (--ktl-ms) {
        width: 272px;
        height: 152px;
    }
}

.imageSrc {
    max-width: none;
}
