@import '../../config';
@import '../../utils';
@import '../icon/icon';


.global-footer {
    height: $footer-height;
    background-color: #1a1a1a;
    color: #b2b2b2;

    .header {
        font-family: $font-family-serif;
        font-size: 24px;
        color: #7c7979;
        margin-bottom: $unit*3;
    }
}

.global-footer-terms {
    @include box-sizing;
    @include clearfix;
    padding: $unit*3 0;

    .terms-copyright {
        float: left;
        line-height: 40px;
        height: 40px;

        a {
            color: #fff;

            &:hover {
                color: $base-link-hover-color;
            }
        }

    }

    .terms-sponsor {
        position: relative;
        float: right;
        right: 0;
        line-height: 40px;
        height: 40px;

        .sponsor_jetbrains {
            opacity: 0.8;
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
            width: 75px;
            height: 27px;
            background: url('images/footer-jetbrains-logo.png');
            font-size: 0;

            &:hover {
                opacity: 1;
            }
        }
    }
}