@import '../../config';
@import '../../utils';
@import '../icon/icon';
@import '../button/button';


.global-header {
    @include clearfix;
    position: relative;
    padding: $unit*4 0;
    background: url('images/index-page-header-bg.jpg') center top no-repeat;
    background-size: cover;

    .try-kotlin-button {
        @extend %button_call-to-action;
        top: -1px;
        text-transform: uppercase;
    }

    .get-kotlin-button {
        @extend %button_default;
        @extend %button_default%size_big;
        text-transform: uppercase;
    }

    .kotlin-info {
        padding-top: 150px;
        text-align: center;
    }

    .kotlin-info-description {
        margin-bottom: $unit*3;
        color: #fff;
        font-size: $unit*6;
        line-height: $unit*7;
        font-family: $font-family-serif;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
    }

    .kotlin-info-description-extra {
        position: relative;
        left: 7px;
        margin-bottom: $unit*4;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        opacity: 0.9;
        text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);
    }
}
.page-index .global-header {
    padding: $unit*8 0;
    height: 560px - $unit*8*2;
}

.global-header-logo {
    @include transition(0.3s all);
    position: relative;
    top: 0;
    float: left;
    width: 129px;
    height: 43px;
    background: url('images/logo.png') no-repeat;
    font-size: 0;
    text-decoration: none;
}
.page-index .global-header-logo {
    top: -19px;
}

.global-header-nav {
    @include clearfix;
    float: right;
    margin-top: 13px;

    .nav-item {
        float: left;
        margin-right: $unit*4;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        line-height: $unit*4;

        &:hover {
            text-decoration: underline;
        }

        &.is_active {
            color: #bbb;
            cursor: default;
        }
    }
}