@import '../../config';
@import '../../utils';
@import '../icon/icon';
@import '../grid/grid';

.global-layout {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
        display: block;
        width: 100%;
        height: $footer-height;
        content: '';
    }
}