@import '../../config';
@import '../../utils';
@import '../icon/icon';
@import '../grid/grid';


.global-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: $grid-width;
}


.global-layout {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
        display: block;
        width: 100%;
        height: $footer-height;
        content: '';
    }
}