@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints/media.pcss";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    height: 100%;

    @media (--ktl-mm-min) {
        padding: 96px 0;
    }
}

.image {
    max-width: none;
    display: flex;
}

.lineBreak {
    @media (--ktl-mm-min) {
        display: none;
    }
}

.heading {
    margin: 24px 0 0;
}

.subheading {
    margin: 12px 0 0;
}


.wrapper {
    flex: 1;
}
