@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints/media.pcss";

.heroSection {
    background: #19191C;
    padding: 48px 0;
    overflow: hidden;

    @media (--ktl-ts-min) {
        padding: 72px 0;
    }

    @media (--ktl-ds-min) {
        padding: 96px 0;
    }
}

.heroSectionAb {
    text-align: center;
    @media (--ktl-ts-min) {
        .content {
            margin-left: 38px;
        }
    }
    @media (--ktl-ds-min) {
        .content {
            margin-left: 90px;
        }
    }
    .info {
        margin-top: 32px;
        display: block;
    }
    .heroText {
        margin-left: 0;
    }
    .getStartedButton {
        width: auto;
    }
    .developer {
        border-left: 0px;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        margin-top: 120px;
    }
    .developerContent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .developerLogo {
        margin: 0;
    }
    .developerCaption {
        display: none;
    }
    .developerCaptionAb {
        display: block;
        margin-right: 8px;
    }

    .grid {
        display: block;
        position: relative;
        @media (--ktl-tm-min) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .subtitle {
        text-wrap: nowrap;
        @media (--ktl-tm) {
            text-align: center;
            margin-bottom: 32px;
        }
    }

    .imageMobile {
        display: none;
        @media (--ktl-tm) {
            display: block;
            width: 100%;
            max-width: 260px;
            margin: 0 auto;
            height: auto;
        }
    }

    .imageDesktop {
        display: block;
        @media (--ktl-tm) {
            display: none;
            width: 100%;
        }
        @media screen and (--ktl-tm) and (orientation: landscape) {
            display: none;
            width: 100%;
        }
    }

    .developer {
        @media (--ktl-tm) {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.20);
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
            padding: 24px 0;
            margin-left: 0;
            margin-top: 72px;
        }

    }
}

.heroText {
    margin: 0;
    font-size: 72px;
    line-height: 72px;
    @media (--ktl-ts) {
        text-align: center;
    }

    @media (--ktl-ts-min) {
        margin-left: -4px;
    }

    @media screen and (--ktl-tm) and (orientation: landscape) {
        text-align: center;
    }
}

.subtitle {
    opacity: 0.5;
    margin: 0;

    @media (--ktl-ts) {
        text-align: center;
        margin-bottom: 24px;
    }

    @media screen and (--ktl-tm) and (orientation: landscape) {
        text-align: center;
        margin-bottom: 24px;
    }
}

.grid {
    display: block;
    position: relative;
    @media (--ktl-ts-min) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (--ktl-tm) and (orientation: landscape) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    @media (--ktl-ts-min) and (--ktl-tl) {
        flex-shrink: 0;
    }
}

.imageMobile {
    display: none;
    @media (--ktl-ts) {
        display: block;
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
        height: auto;
    }

    @media screen and (--ktl-tm) and (orientation: landscape) {
        display: block;
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
        height: auto;
    }
}

.imageDesktop {
    display: block;
    @media (--ktl-ts) {
        display: none;
        width: 100%;
    }
    @media screen and (--ktl-tm) and (orientation: landscape) {
        display: none;
        width: 100%;
    }
}

.info {
    margin-top: 96px;
    display: flex;

    @media (--ktl-ts) {
        display: block;
        text-align: center;
        margin-top: 24px;
    }

    @media screen and (--ktl-tm) and (orientation: landscape) {
        text-align: center;
        margin-top: 24px;
        display: block;
    }
}

.developer {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.20);

    @media (--ktl-ts) {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.20);
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding: 24px 0;
        margin-left: 0;
        margin-top: 72px;
    }

    @media screen and (--ktl-tm) and (orientation: landscape) {
        box-sizing: border-box;
        justify-content: center;
        width: 100%;
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.20);
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding: 24px 0;
        margin-left: 0;
        margin-top: 72px;
    }
}

.developerContent {
    @media (--ktl-ts) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.developerLogo {
    margin-bottom: -5px;

    @media (--ktl-ts) {
        margin-bottom: 0;
    }
}

.developerCaption {
    white-space: nowrap;
    margin-left: 38px;
}

.developerCaptionAb {
    display: none;
}

.getStartedButton {
    background: #7F52FF !important;

    &:hover {
        background: rgba(127, 82, 255, 0.8) !important;
    }
}
