@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.wrapper {
  margin: 0 auto;
  padding: 32px 16px 320px;
  background: rgb(27, 27, 27);
  color: #fff;

  @media (--ktl-ts-down) {
    padding-bottom: 32px;
  }
}

.title {
  margin-top: 64px;
  margin-bottom: 48px;
}

.infoSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 24px;
  margin-bottom: 48px;

  @media (--ktl-tl-down) {
    grid-template-columns: 1fr;
    gap: 8px;
    margin-bottom: 12px;
  }
}


.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoValue {
  color: #fff;
}

.infoValue a {
  color: inherit;
  text-decoration-line: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;

  &:hover {
    border-bottom-color: #fff;
  }
}

.coverImgContainer {
  @media (--ktl-ts-down) {
    width: 100% !important;
  }
}

.coverImg {
  width: 100%;
  height: auto;
  margin-top: -272px;
  margin-bottom: 48px;
  display: block;

  @media (--ktl-ts-down) {
    margin-top: 0;

  }
}
