<h3>Versatile</h3>

<p>Multi-purpose language allowing you to build any type of application</p>

<div class="logos-list">
    <p class="logos-list-item">
        <span class="logo _android" title="Android"></span>
        <span class="description">
            Android Development.<br>
            No performance impact.<br>
            Very small runtime.
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _tomcat" title="Tomcat"></span>
        <span class="description">
            Application Server.<br>
            Doesn't matter the technology. 100% Compatible with all JVM frameworks.
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _js" title="JavaScript"></span>
        <span class="description">
            JavaScript. Write code in Kotlin and target JavaScript to run on node or in browser
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _javaee" title="JavaEE"></span>
        <span class="description">
            Enterprise. Use Kotlin for any type of Enterprise Java EE development.
        </span>
    </p>

    <p class="logos-list-item">
        <span class="logo _html5" title="HTML5"></span>
        <span class="description">
            Web. Whether you want strongly typed HTML, CSS builder or just plain web development.
        </span>
    </p>
</div>