.sticky {
    position: relative;
}

@media (min-width: 767px) {
    .add {
        display: none;
    }
}

.add {
    position: absolute;
    z-index: 910;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
