{% assign nav = site.data._nav[include.nav] %}

{% assign activeCategoryTitle = '' %}
{% for category in nav %}
    {% for item in category.content %}

        {% for i in item %}
            {% assign itemUrl = i[0] %}
        {% endfor %}

        {% if itemUrl == page.url %}
            {% assign activeCategoryTitle = category.title %}
        {% endif %}
    {% endfor %}
{% endfor %}


<div class="nav-tree-items-list">
{% for category in nav %}
    {% if category.content.size and category.content.size > 0 %}

    <div class="nav-tree-item js-item _container-node {% if activeCategoryTitle != category.title %}_collapsed{% endif %}"
         data-id="{{ category.title }}">

        <div class="nav-tree-item-title js-item-title">{{ category.title }}</div>

        <div class="nav-tree-items-list">

            {% for item in category.content %}
                {% comment %}Dirty hack to get item url and title{% endcomment %}
                {% for i in item %}
                    {% assign item_url = i[0] %}
                    {% assign item_title = i[1] %}
                {% endfor %}

                {% assign is_active = false %}
                {% if item_url == page.url %}{% assign is_active = true %}{% endif %}

                <div class="nav-tree-item js-item _final-node">
                    {% if is_active %}
                        <span class="nav-tree-item-title js-item-title {% if is_active %}is_active{% endif %}">{{ item_title }}</span>
                    {% else %}
                        <a href="{{ site.baseurl }}{{ item_url }}" class="nav-tree-item-title js-item-title {% if is_active %}is_active{% endif %}">{{ item_title }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}
{% endfor %}
</div>