<nav class="global-header-nav">
    {% for i in site.data.nav.main %}
        {% assign item_id = i[0] %}
        {% assign item = i[1] %}
        {% assign is_active = false %}
        {% assign is_external = false %}

        {% if include.current_section and include.current_section == item_id %}
            {% assign is_active = true %}
        {% endif %}

        {% if item.path contains 'http://' %}
            {% assign is_external = true %}
        {% endif %}

        <a href="{% if is_external %}{{ item.path }}{% else %}{{ site.baseurl }}{{ item.path }}{% endif %}"
           class="nav-item {% if is_active %}is_active{% endif %}"
           {% if is_external %}target="_blank"{% endif %}
        >
            {{ item.title }}
        </a>
    {% endfor %}

    {% if page.layout == 'index' %}

    {% else %}
        <a href="{{ site.baseurl }}/download/" class="get-kotlin-button">
            Download Kotlin
        </a>
    {% endif %}
</nav>