<nav class="global-header-nav">
    {% assign nav = site.data.nav.main %}

    {% for i in nav %}
        {% assign item_id = i[0] %}
        {% assign item = i[1] %}
        {% assign is_active = false %}
        {% assign is_external = false %}

        {% if item.show != null and item.show == false %}
            {% break %}
        {% endif %}

        {% if include.current_section and include.current_section == item_id %}
            {% assign is_active = true %}
        {% endif %}

        {% if item.url contains 'http://' %}
            {% assign is_external = true %}
        {% endif %}

        <a href="{% if is_external %}{{ item.url }}{% else %}{{ site.baseurl }}{{ item.url }}{% endif %}"
           class="nav-item {% if is_active %}is_active{% endif %}"
           {% if is_external %}target="_blank"{% endif %}
        >
            {{ item.title }}
        </a>
    {% endfor %}

    {% if page.layout == 'index' %}
        <a href="{{ site.github_url }}" class="github-link" title="Source Code on GitHub">Source Code on GitHub</a>
        <a href="{{ site.github_url }}" class="twitter-link" title="Kotlin on Twitter">Kotlin on Twitter</a>
    {% else %}
        <a href="{{ site.baseurl }}{{ nav.download.url }}" class="get-kotlin-button">
            Download Kotlin
            <span class="version">({{ include.last_version.version }})</span>
        </a>
    {% endif %}
</nav>