@import '../../_config';
@import '../../_utils';
@import '../_bits/_pre';
@import '../_bits/_code';
@import '../_syntax-highlight/_syntax-highlight_dark';

$overview-section-width: 840px;

%kotlin-overview-pre-text {
    font-size: 14px;
    color: #8c8c8c;
    text-transform: uppercase;
}

%kotlin-overview-section-background-image {
    &%default {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi/PTpEwMY8PLyMsFZnz9/ZoKzgAzG////Q1hAABBgAFeiDto+NxIZAAAAAElFTkSuQmCC');
        background-repeat: repeat;
    }

    &%blue-paper {
        background-color: #557799;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpiTGxc8P///1+//zJgA2yszCxA6a/ffzHgAL///GXCpRsOmBgIgWGlAhhq+FUABBgAqVoTbokugwMAAAAASUVORK5CYII=');
    }
}

%kotlin-overview-carousel {
    &%nav-next {
        @include user-select(none);
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -26px;
        width: 27px;
        height: 52px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAA0CAYAAAB7LkO2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd9JREFUeNq8mFFEQ1EYx2+3+9JrRET0FBExYowYMWJPY4wYMZamq7SXplZKU0o9RcSeeuopoteInqLXnkZPEREREf0//uOItdvd+c6fn3F3rp9zt3O/75y+er2+53neAXjzlOODBtgHQy5k72AVyAyHtWUehSHYASPaMskHqIAtMKotk3xSuA7GtGWmcM220O9w/Yu/oQjHtWWmcAlMaMtMYQlMacsk31yH8yChLTOFeZDUlrVTBXNxhX6Me2oUplzI2sJZkHYhk2zycWZcyCS7YBJkXcg8Fl55reVcyCQnYLCb0JZMcsZqX3Ahk5yCAVB0IZOc83PBhUzSZF0su5BJLsArWHYhk1yCVluoLZNcUZh3IZM8g5nAgSjBSl/Rlk1zzS1KAdaUJVnZK6z0npYsxfdkaF7UkKVZcsLfX9iWZSgLtd+NGT6+aqcBtmaWZRNb+2uQDVmOlXq728BeZQXu5RpRBvciK7IVaES9we9BJBX56D83xZlZyWgBPE1ZmRW4qd3rr/BUoRn3R44qk+3uC0t97AQRRS2WeNWd5wZ4siHqNjM5fLkHN9qnBXJwdmtT1GlmIrqmTPWE55Ctl3WRKesHx/wj3Gk1JYEhksX6oNlqBVxHsvN41G4gfwQYAJQGUvhq6jSNAAAAAElFTkSuQmCC);
        cursor: pointer;

        &.is_disabled {
            opacity: 0.4;
            cursor: default;
        }
    }

    &%nav-prev {
        @extend %kotlin-overview-carousel%nav-next;
        @include transform(rotate(180deg));
        left: 0;
        right: auto;
    }
}

%kotlin-overview-popup {
    $popup-text-color: #fff;
    @extend %kotlin-overview-section-background-image%blue-paper;
    @include transition(all 0.5s);
    position: absolute;
    z-index: 2;
    top: 20px;
    bottom: auto;
    left: 0;
    right: 0;
    width: 860px;
    margin: auto;
    border-radius: 3px;
    box-shadow:
        1px 1px 6px 0 rgba(0, 0, 0, 0.2),
        inset 0 1px 1px 0 rgba(255,255,255, 0.3)
    ;
    text-align: left;

    &%_fixed {
        bottom: 20px;
    }

    &._hidden {
        visibility: hidden;
        opacity: 0;
    }
    &._hidden + %kotlin-overview-popup-overlay {
        visibility: hidden;
        opacity: 0;
    }

    .popup-content {
        margin: $unit*6 $unit*5 $unit*2 $unit*4;
        color: $popup-text-color;
        font-family: $font-family-sans-serif;
        font-size: 15px;
        line-height: 22px;

        h3 {
            border-bottom: 1px solid #fff;
            margin-bottom: $unit*3;
            padding-bottom: 6px;
            font-size: 24px;
            line-height: 27px;
            color: #fff;
        }

        h4 {
            font-size: 18px;
            line-height: 21px;
            color: #fff;
            margin-bottom: $unit*3;
        }
        p + h4 {
            margin-top: $unit*3;
        }

        a {
            color: $popup-text-color;
            text-decoration: underline;

            &:hover {
                color: #fff;
            }
        }

        p {
            margin-bottom: $unit*2;
        }

        ul {
            margin-bottom: $unit*2;

            li {
                margin-top: $unit;
                margin-left: 15px;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    position: absolute;
                    margin-left: -15px;
                    content: '-';
                }
            }
        }

        pre {
            @extend %pre;
            margin-bottom: $unit*2;
        }

        pre code {
            @extend %code-block;

            &._highlighted {
                @extend %syntax-highlight_dark;
            }
        }

        .image-block {
            background-color: #2B2B2B;
        }
    }
    &%_fixed .popup-content {
        position: absolute;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        top: 0;
        left: 0;
        right: -$unit*3;
        bottom: 0;
    }

    .popup-close-button {
        @include user-select(none);
        position: absolute;
        cursor: pointer;
        top: 5px;
        right: 5px;
        height: 0;
        color: #fff;
        opacity: 0.4;

        &:hover {
            opacity: 0.8;
        }

        &:after {
            display: inline-block;
            overflow: hidden;
            padding: 0 $unit;
            font-size: 70px;
            line-height: 56px;
            height: 35px;
            content: '\02df';
        }
    }
}
.ie9 %kotlin-overview-popup .popup-close-button {
    &:after {
        line-height: 64px;
    }
}

%kotlin-overview-popup-overlay {
    @include transition(all 0.5s);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}