/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
@-webkit-keyframes header-highlighting {
  0% {
    background-color: #FFFFCC; }
  100% {
    background-color: #fff; } }
@-moz-keyframes header-highlighting {
  0% {
    background-color: #FFFFCC; }
  100% {
    background-color: #fff; } }
@-o-keyframes header-highlighting {
  0% {
    background-color: #FFFFCC; }
  100% {
    background-color: #fff; } }
@keyframes header-highlighting {
  0% {
    background-color: #FFFFCC; }
  100% {
    background-color: #fff; } }
/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
/* Buttons */
.kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-link {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0 16px;
  border: 0;
  font-size: 14px;
  line-height: 32px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
.kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-link::-moz-focus-inner {
  border: none;
  padding: 0 1px; }

.kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-link {
  position: relative;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #bcc0c6;
  color: #49525e; }
  .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-link:hover {
    background-color: #D7D9DB; }

/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
.kotlin-overview-section .overview-popup .popup-content pre {
  font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace;
  line-height: 22px; }

.kotlin-overview-section .overview-popup .popup-content pre {
  font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace;
  line-height: 22px; }

.kotlin-overview-section .overview-popup .popup-content pre code {
  display: block;
  padding: 15px 20px;
  font-family: "Liberation Mono", Consolas, Menlo, Courier, monospace; }

.kotlin-overview-section .overview-popup .popup-content pre code._highlighted {
  color: #A9B7C6;
  background-color: #2B2B2B;
  /* Common */
  /* Line Numbers */
  /* Operator */
  /* Punctuation */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Generic */
  /* Generic */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword */
  /* Literal */
  /* Literal */
  /* Literal.Date */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Name */
  /* Name */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Comment */
  /* Comment.Preproc */
  /* Comment.Special */
  /* Error */
  /* Error */ }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .lineno {
    color: #586e75; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .o {
    color: #A9B7C6; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .p {
    color: #A9B7C6; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .ow {
    color: #859900; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .w {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .g {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gd {
    color: #2aa198; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .ge {
    color: #93a1a1;
    font-style: italic; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gr {
    color: #dc322f; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gh {
    color: #cb4b16; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gi {
    color: #859900; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .go {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gp {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gs {
    color: #93a1a1;
    font-weight: bold; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gu {
    color: #cb4b16; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .gt {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .k,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .kc,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .kt,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .kd,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .kn,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .kr {
    color: #CC7832;
    font-weight: bold; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .l {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .ld {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .m,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .mf,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .mh,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .mi,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .il {
    color: #6897BB; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .s,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .sc,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .sd,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .s1,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .ss {
    color: #A5C261; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .mo {
    color: #2aa198; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .sb {
    color: #586e75; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .s2 {
    color: #2aa198; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .se {
    color: #cb4b16; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .sh {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .si {
    color: #2aa198; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .sx {
    color: #2aa198; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .sr {
    color: #dc322f; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .n {
    color: #A9B7C6; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .na {
    color: #BABABA; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nb {
    color: #0037B3; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nc {
    color: #A9B7C6; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .no {
    color: #660E7A; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nd {
    color: #808000; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .ni {
    color: #cb4b16; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .ne {
    color: #cb4b16; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nf {
    color: #A9B7C6; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nl {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nn {
    color: #000; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nx {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .py {
    color: #93a1a1; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nt {
    color: #E8BF6A; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .nv {
    color: #000; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .bp {
    color: #000; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .vc {
    color: #660E7A; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .vg {
    color: #660E7A; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .vi {
    color: #660E7A; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .c,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .cm,
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .c1 {
    color: #808080; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .cp {
    color: #859900; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .cs {
    color: #859900; }
  .kotlin-overview-section .overview-popup .popup-content pre code._highlighted .err {
    color: #93a1a1; }

.kotlin-overview-section._features .kotlin-features-list .feature-title-pre-text, .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-title-pre-text {
  font-size: 14px;
  color: #8c8c8c;
  text-transform: uppercase; }

.kotlin-overview-section._features, .kotlin-overview-section._testimonials {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi/PTpEwMY8PLyMsFZnz9/ZoKzgAzG////Q1hAABBgAFeiDto+NxIZAAAAAElFTkSuQmCC");
  background-repeat: repeat; }
.kotlin-overview-section .overview-popup, .kotlin-overview-section._features .overview-popup, .kotlin-overview-section._features .kotlin-features-list .feature-image {
  background-color: #557799;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpiTGxc8P///1+//zJgA2yszCxA6a/ffzHgAL///GXCpRsOmBgIgWGlAhhq+FUABBgAqVoTbokugwMAAAAASUVORK5CYII="); }

.kotlin-overview-section._features .kotlin-features-carousel-nav._prev, .kotlin-overview-section._testimonials .testimonials-carousel-nav._prev, .kotlin-overview-section._features .kotlin-features-carousel-nav._next, .kotlin-overview-section._testimonials .testimonials-carousel-nav._next {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -26px;
  width: 27px;
  height: 52px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAA0CAYAAAB7LkO2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd9JREFUeNq8mFFEQ1EYx2+3+9JrRET0FBExYowYMWJPY4wYMZamq7SXplZKU0o9RcSeeuopoteInqLXnkZPEREREf0//uOItdvd+c6fn3F3rp9zt3O/75y+er2+53neAXjzlOODBtgHQy5k72AVyAyHtWUehSHYASPaMskHqIAtMKotk3xSuA7GtGWmcM220O9w/Yu/oQjHtWWmcAlMaMtMYQlMacsk31yH8yChLTOFeZDUlrVTBXNxhX6Me2oUplzI2sJZkHYhk2zycWZcyCS7YBJkXcg8Fl55reVcyCQnYLCb0JZMcsZqX3Ahk5yCAVB0IZOc83PBhUzSZF0su5BJLsArWHYhk1yCVluoLZNcUZh3IZM8g5nAgSjBSl/Rlk1zzS1KAdaUJVnZK6z0npYsxfdkaF7UkKVZcsLfX9iWZSgLtd+NGT6+aqcBtmaWZRNb+2uQDVmOlXq728BeZQXu5RpRBvciK7IVaES9we9BJBX56D83xZlZyWgBPE1ZmRW4qd3rr/BUoRn3R44qk+3uC0t97AQRRS2WeNWd5wZ4siHqNjM5fLkHN9qnBXJwdmtT1GlmIrqmTPWE55Ctl3WRKesHx/wj3Gk1JYEhksX6oNlqBVxHsvN41G4gfwQYAJQGUvhq6jSNAAAAAElFTkSuQmCC);
  cursor: pointer; }
  .kotlin-overview-section._features .is_disabled.kotlin-features-carousel-nav._prev, .kotlin-overview-section._testimonials .is_disabled.testimonials-carousel-nav._prev, .kotlin-overview-section._features .is_disabled.kotlin-features-carousel-nav._next, .kotlin-overview-section._testimonials .is_disabled.testimonials-carousel-nav._next {
    opacity: 0.4;
    cursor: default; }
.kotlin-overview-section._features .kotlin-features-carousel-nav._prev, .kotlin-overview-section._testimonials .testimonials-carousel-nav._prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 0;
  right: auto; }

.kotlin-overview-section .overview-popup, .kotlin-overview-section._features .overview-popup {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
  top: 20px;
  bottom: auto;
  left: 0;
  right: 0;
  width: 860px;
  margin: auto;
  border-radius: 3px;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(255, 255, 255, 0.3);
  text-align: left; }
  .kotlin-overview-section .overview-popup, .kotlin-overview-section._features .overview-popup {
    bottom: 20px; }
  .kotlin-overview-section ._hidden.overview-popup {
    visibility: hidden;
    opacity: 0; }
  .kotlin-overview-section._features ._hidden.overview-popup + .overview-popup-overlay {
    visibility: hidden;
    opacity: 0; }
  .kotlin-overview-section .overview-popup .popup-content {
    margin: 48px 40px 16px 32px;
    color: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 22px; }
    .kotlin-overview-section .overview-popup .popup-content h3 {
      border-bottom: 1px solid #fff;
      margin-bottom: 24px;
      padding-bottom: 6px;
      font-size: 24px;
      line-height: 27px;
      color: #fff; }
    .kotlin-overview-section .overview-popup .popup-content h4 {
      font-size: 18px;
      line-height: 21px;
      color: #fff;
      margin-bottom: 24px; }
    .kotlin-overview-section .overview-popup .popup-content p + h4 {
      margin-top: 24px; }
    .kotlin-overview-section .overview-popup .popup-content a {
      color: #fff;
      text-decoration: underline; }
      .kotlin-overview-section .overview-popup .popup-content a:hover {
        color: #fff; }
    .kotlin-overview-section .overview-popup .popup-content p {
      margin-bottom: 16px; }
    .kotlin-overview-section .overview-popup .popup-content ul {
      margin-bottom: 16px; }
      .kotlin-overview-section .overview-popup .popup-content ul li {
        margin-top: 8px;
        margin-left: 15px; }
        .kotlin-overview-section .overview-popup .popup-content ul li:first-child {
          margin-top: 0; }
        .kotlin-overview-section .overview-popup .popup-content ul li:before {
          position: absolute;
          margin-left: -15px;
          content: '-'; }
    .kotlin-overview-section .overview-popup .popup-content pre {
      margin-bottom: 16px; }
    .kotlin-overview-section .overview-popup .popup-content .image-block {
      background-color: #2B2B2B; }
  .kotlin-overview-section .overview-popup .popup-content {
    position: absolute;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 0;
    right: -24px;
    bottom: 0; }
  .kotlin-overview-section .overview-popup .popup-close-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    height: 0;
    color: #fff;
    opacity: 0.4; }
    .kotlin-overview-section .overview-popup .popup-close-button:hover {
      opacity: 0.8; }
    .kotlin-overview-section .overview-popup .popup-close-button:after {
      display: inline-block;
      overflow: hidden;
      padding: 0 8px;
      font-size: 70px;
      line-height: 56px;
      height: 35px;
      content: '\02df'; }

.ie9 .kotlin-overview-section .overview-popup .popup-close-button:after, .kotlin-overview-section .ie9 .overview-popup .popup-close-button:after {
  line-height: 64px; }

.kotlin-overview-section._features .overview-popup-overlay {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.kotlin-overview-section {
  padding-top: 32px;
  padding-bottom: 32px; }
  .kotlin-overview-section .section-header {
    margin-bottom: 5px;
    font-family: "GraublauSlab Regular", Georgia, serif;
    font-size: 48px;
    line-height: 54px;
    text-align: center; }
  .kotlin-overview-section .section-description {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
    text-align: center; }

.kotlin-overview-section._features {
  position: relative;
  text-align: center;
  overflow: hidden; }
  .kotlin-overview-section._features .section-header {
    margin-bottom: 30px; }
  .kotlin-overview-section._features .section-description {
    margin-bottom: 40px; }
  .kotlin-overview-section._features .kotlin-features-carousel-wrap {
    position: relative;
    display: inline-block;
    padding: 0 50px;
    margin: auto;
    white-space: nowrap; }
  .kotlin-overview-section._features .kotlin-features-carousel {
    overflow: hidden;
    width: 1032px;
    padding: 0 8px; }
    @media (max-width: 1165px) {
      .kotlin-overview-section._features .kotlin-features-carousel {
        width: 768px; } }
    @media (max-width: 930px) {
      .kotlin-overview-section._features .kotlin-features-carousel {
        width: 504px; } }
  .kotlin-overview-section._features .kotlin-features-list {
    display: inline-block;
    position: relative;
    left: 0;
    font-size: 0;
    margin: 0 auto;
    text-align: center; }
    .kotlin-overview-section._features .kotlin-features-list:after {
      display: block;
      clear: both;
      height: 0;
      content: ''; }
    .kotlin-overview-section._features .kotlin-features-list .kotlin-feature {
      position: relative;
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
      width: 240px;
      margin-right: 24px;
      margin-bottom: 10px;
      padding: 0;
      min-height: 340px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.12);
      font-size: 14px;
      white-space: normal;
      vertical-align: top; }
      .kotlin-overview-section._features .kotlin-features-list .kotlin-feature:hover {
        box-shadow: 0 1px 9px 1px #84b5e6;
        cursor: pointer; }
    .kotlin-overview-section._features .kotlin-features-list .feature-image {
      position: relative;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: #557799;
      background-repeat: repeat;
      height: 165px;
      margin: 0 0 24px; }
      .kotlin-overview-section._features .kotlin-features-list .feature-image:after {
        background-image: -moz-linear-gradient(white, rgba(255, 255, 255, 0));
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(white, rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(white, rgba(255, 255, 255, 0));
        position: absolute;
        opacity: 0.3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ''; }
    .kotlin-overview-section._features .kotlin-features-list .feature-icon {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("images/kotlin-features-sprite.png") no-repeat 200% 200%; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .kotlin-overview-section._features .kotlin-features-list .feature-icon {
          background-image: url("images/kotlin-features-sprite@2x.png");
          background-size: 100px 600px; } }
      .kotlin-overview-section._features .kotlin-features-list .feature-icon._tooling {
        width: 47px;
        height: 47px;
        background-position: 0 0; }
      .kotlin-overview-section._features .kotlin-features-list .feature-icon._concise {
        width: 31px;
        height: 56px;
        background-position: 0 -100px; }
      .kotlin-overview-section._features .kotlin-features-list .feature-icon._expressive {
        width: 79px;
        height: 55px;
        background-position: 0 -200px; }
      .kotlin-overview-section._features .kotlin-features-list .feature-icon._safe {
        width: 39px;
        height: 59px;
        background-position: 0 -300px; }
      .kotlin-overview-section._features .kotlin-features-list .feature-icon._versatile {
        width: 58px;
        height: 57px;
        background-position: 0 -400px; }
      .kotlin-overview-section._features .kotlin-features-list .feature-icon._interoperable {
        width: 55px;
        height: 72px;
        background-position: 0 -500px; }
    .kotlin-overview-section._features .kotlin-features-list .feature-title {
      font-size: 24px;
      line-height: 27px;
      font-family: "GraublauSlab Regular", Georgia, serif;
      margin-bottom: 8px; }
    .kotlin-overview-section._features .kotlin-features-list .feature-description {
      max-width: 210px;
      margin: 0 auto 8px;
      color: #000;
      text-align: center; }
    .kotlin-overview-section._features .kotlin-features-list .feature-example-link {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      color: #497BB7;
      text-decoration: none;
      cursor: pointer; }
      .kotlin-overview-section._features .kotlin-features-list .feature-example-link:hover {
        color: #F47810; }
  .kotlin-overview-section._features .overview-popup {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhBJREFUeNqElluSAjEMA5ngS3H/e8EGPIiu9lRtPqYCecmy5OR4PB7Hcdxut9en7c7xbf1P95/PZ0Y5c63F5d1nK226+71XpvYE9jO0d8+ffcBem9HuVA+sT+OAWmLizwAiAX1wIBaRdr+HCZynMmLCz5x8zwMCXGxkx0T9+jZmomE1pqztmDo9ldk5g3B6fZ9B6gic35yU5UtckxxNZQIUqHTBDFWEmC2iPKpFIlbyGaKEUNJvp6RJ/IX5OTJQsp5GYcSR7DuCqW5RNFtvSurZiTlOPmb2IowsIGO0lUapi5+TZw6zhtJUDmdhyD6bmVD63m2CmmuyF4MgDmZVE34+iFQaQg/H23SWTCsF03TvAzJ1Vj1VViJNBZOgZ9WqhE9/E6x8xPWy3mWZKlHfx8gTkmBslThUMFyuVWG47yzdvTX9qBzIfaW6psR2J8YmAtXHy1tk/19SWBiI0YSuNSZyOFlCWrxvZy2TMKJjpiqkXWq3JnFBqjPCg6qeiFJhLp0pgXJ986DbiVfCpSGWVNThs3iwyLAOcijUCd+Z5NQJKZX2JoJ/rwSSVmJ5VjH6M7mJVGZpoenOHIg1XmQid3/v93vWzyfhtQ+UmUTNhwLfZ5Nohu7X34HWeGep4dspJpCxVYJijkVVyA3JqqQcpQWHUPJb88nGefLE5Zts/snJFeUJ+EzjvNwVR4oY8f0JMADafXyiN4WApQAAAABJRU5ErkJggg==");
    background-repeat: repeat; }
    @media (max-width: 1050px) {
      .kotlin-overview-section._features .overview-popup {
        bottom: auto;
        min-height: 500px; } }
  .kotlin-overview-section._features .overview-popup_versatile .logos-list {
    font-size: 0; }
  .kotlin-overview-section._features .overview-popup_versatile .logos-list-item {
    position: relative;
    display: inline-block;
    font-size: 14px;
    width: 50%;
    margin-bottom: 27px;
    vertical-align: top; }
    .kotlin-overview-section._features .overview-popup_versatile .logos-list-item:last-child {
      margin-bottom: 0; }
    .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .logo {
      position: relative;
      float: left;
      margin-right: 20px;
      background: url("images/logos-sprite.png") no-repeat; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .logo {
          background-image: url("images/logos-sprite@2x.png");
          background-size: 100px 500px; } }
      .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .logo._android {
        top: -5px;
        width: 65px;
        height: 77px;
        background-position: 0 0; }
      .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .logo._tomcat {
        width: 91px;
        height: 64px;
        background-position: 0 -100px; }
      .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .logo._js {
        width: 66px;
        height: 66px;
        background-position: 0 -200px; }
      .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .logo._javaee {
        top: -19px;
        width: 51px;
        height: 90px;
        margin-left: 20px;
        margin-right: 39px;
        background-position: 0 -300px; }
      .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .logo._html5 {
        top: -10px;
        width: 58px;
        height: 82px;
        background-position: 0 -400px; }
    .kotlin-overview-section._features .overview-popup_versatile .logos-list-item .description {
      display: block;
      margin-right: 40px; }

.kotlin-overview-section._code-examples {
  position: relative;
  padding-top: 0;
  padding-bottom: 40px;
  color: #fff;
  background-color: #393939;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhBJREFUeNqElluSAjEMA5ngS3H/e8EGPIiu9lRtPqYCecmy5OR4PB7Hcdxut9en7c7xbf1P95/PZ0Y5c63F5d1nK226+71XpvYE9jO0d8+ffcBem9HuVA+sT+OAWmLizwAiAX1wIBaRdr+HCZynMmLCz5x8zwMCXGxkx0T9+jZmomE1pqztmDo9ldk5g3B6fZ9B6gic35yU5UtckxxNZQIUqHTBDFWEmC2iPKpFIlbyGaKEUNJvp6RJ/IX5OTJQsp5GYcSR7DuCqW5RNFtvSurZiTlOPmb2IowsIGO0lUapi5+TZw6zhtJUDmdhyD6bmVD63m2CmmuyF4MgDmZVE34+iFQaQg/H23SWTCsF03TvAzJ1Vj1VViJNBZOgZ9WqhE9/E6x8xPWy3mWZKlHfx8gTkmBslThUMFyuVWG47yzdvTX9qBzIfaW6psR2J8YmAtXHy1tk/19SWBiI0YSuNSZyOFlCWrxvZy2TMKJjpiqkXWq3JnFBqjPCg6qeiFJhLp0pgXJ986DbiVfCpSGWVNThs3iwyLAOcijUCd+Z5NQJKZX2JoJ/rwSSVmJ5VjH6M7mJVGZpoenOHIg1XmQid3/v93vWzyfhtQ+UmUTNhwLfZ5Nohu7X34HWeGep4dspJpCxVYJijkVVyA3JqqQcpQWHUPJb88nGefLE5Zts/snJFeUJ+EzjvNwVR4oY8f0JMADafXyiN4WApQAAAABJRU5ErkJggg==");
  background-repeat: repeat; }
  .kotlin-overview-section._code-examples:after {
    display: block;
    clear: both;
    height: 0;
    content: ''; }
  .kotlin-overview-section._code-examples .section-content {
    text-align: center; }
  .kotlin-overview-section._code-examples .more-link-wrap {
    max-width: 840px;
    padding-right: 15px;
    margin: 0 auto; }
    .kotlin-overview-section._code-examples .more-link-wrap:after {
      display: block;
      clear: both;
      height: 0;
      content: ''; }
  .kotlin-overview-section._code-examples .more-link {
    float: right;
    font-size: 18px;
    color: #F47810; }
    .kotlin-overview-section._code-examples .more-link:hover {
      color: #fff; }

.kotlin-overview-code-example {
  display: inline-block;
  position: relative;
  max-width: 840px;
  margin: 32px auto 40px; }
  .kotlin-overview-code-example.is_hidden {
    display: none; }
  .kotlin-overview-code-example .code-line {
    position: relative;
    text-align: left; }
    .kotlin-overview-code-example .code-line:after {
      display: block;
      clear: both;
      height: 0;
      content: ''; }
  .kotlin-overview-code-example .code {
    float: left;
    margin-right: 8px;
    font-family: "Droid Sans Mono", "Liberation Mono", Consolas, Menlo, Courier, monospace;
    font-size: 30px;
    line-height: 37px;
    color: #9ebdd9;
    white-space: pre; }
    .kotlin-overview-code-example .code .generic-code {
      color: #9ebdd9; }
    .kotlin-overview-code-example .code .keyword {
      color: #ff8b17; }
    .kotlin-overview-code-example .code .class-name {
      color: #9ebdd9; }
    .kotlin-overview-code-example .code .func-name {
      color: #ffcf7f; }
    .kotlin-overview-code-example .code .buildin-func-name {
      color: #b1c4d8;
      font-weight: bold;
      font-style: italic; }
    .kotlin-overview-code-example .code .string-literal {
      color: #78a35f; }
    .kotlin-overview-code-example .code .var-name {
      color: #a165cb; }
    .kotlin-overview-code-example .code .number {
      color: #3489ca; }
    .kotlin-overview-code-example .code .string-literal-var-substitution {
      color: #ff8b17; }
  .kotlin-overview-code-example .code-legend {
    position: relative;
    white-space: normal; }
    @media (max-width: 900px) {
      .kotlin-overview-code-example .code-legend {
        display: none !important; } }
    .kotlin-overview-code-example .code-legend.align_left {
      position: absolute;
      display: block;
      right: 100%; }
    .kotlin-overview-code-example .code-legend.align_right {
      display: table;
      margin-right: 180px; }
      .kotlin-overview-code-example .code-legend.align_right:after {
        content: '. .';
        display: block;
        word-spacing: 99in;
        height: 0;
        overflow: hidden;
        font-size: 0;
        line-height: 0; }
  .ie .kotlin-overview-code-example .code-legend.align_right:after {
    font-size: 1px; }
  .kotlin-overview-code-example .code-legend-line {
    position: absolute;
    top: 21px;
    height: 1px;
    background-color: #fff;
    opacity: 0.2; }
  .kotlin-overview-code-example .code-legend.align_left .code-legend-line {
    right: 0;
    width: 30px;
    margin-right: 10px; }
  .kotlin-overview-code-example .code-legend.align_right .code-legend-line {
    left: 0;
    right: 0; }
  .kotlin-overview-code-example .code-legend-text {
    position: absolute;
    z-index: 1;
    top: 11px;
    width: 180px; }
    .kotlin-overview-code-example .code-legend-text a {
      color: #fff; }
      .kotlin-overview-code-example .code-legend-text a:hover {
        color: #F47810; }
  .kotlin-overview-code-example .code-legend.align_left .code-legend-text {
    right: 100%;
    margin-right: 50px;
    text-align: right; }
  .kotlin-overview-code-example .code-legend.align_right .code-legend-text {
    left: 100%;
    margin-left: 10px; }
  .kotlin-overview-code-example .code-legend-line-marker {
    position: absolute;
    top: 5px;
    width: 33px;
    height: 33px;
    border: 1px solid #fff;
    border-radius: 100%;
    opacity: 0.2; }

.kotlin-overview-code-example-tabs {
  position: relative;
  margin-bottom: 32px;
  background-color: #3c3d3e;
  border-top: 1px solid #343537;
  border-bottom: 3px solid #4f4f4e;
  padding-bottom: 2px;
  box-shadow: inset 0 1px 0 0 #5e5f60, inset 0 -3px 10px 0px rgba(0, 0, 0, 0.4), 0 1px 0 0 #444548;
  font-size: 0; }
  .kotlin-overview-code-example-tabs:before {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #525251;
    background-color: #5d5d5d;
    content: ''; }
  .kotlin-overview-code-example-tabs .tab {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 36px;
    height: 34px;
    border: 1px solid #343537;
    margin: -1px 0 0 -1px;
    background-color: #4c5052;
    box-shadow: inset 1px 1px 0 #494d4f, inset -1px -1px 0 #494d4f;
    font-size: 14px;
    color: #d3d3d3;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7); }
    .kotlin-overview-code-example-tabs .tab:hover {
      background-color: #575D5F;
      color: #fff; }
    .kotlin-overview-code-example-tabs .tab.is_active {
      background-image: -moz-linear-gradient(#646464, #4f4f4e);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#646464), to(#4f4f4e));
      background-image: -webkit-linear-gradient(#646464, #4f4f4e);
      background-image: -o-linear-gradient(#646464, #4f4f4e);
      cursor: default;
      box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.2), inset -4px 0 1px -2px rgba(255, 255, 255, 0.2);
      background-color: #4F4F4E;
      border-width: 0;
      margin: 0;
      padding-right: 16px;
      padding-bottom: 1px;
      color: #fff; }
      .kotlin-overview-code-example-tabs .tab.is_active:after {
        position: absolute;
        top: 100%;
        left: 1px;
        right: 2px;
        height: 2px;
        background-color: #4f4f4e;
        content: ''; }
      .kotlin-overview-code-example-tabs .tab.is_active:last-child {
        border-right-width: 1px;
        box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.2), inset -3px 0 1px -2px rgba(255, 255, 255, 0.2); }

.kotlin-overview-section._video-overview {
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: #fff; }
  .kotlin-overview-section._video-overview .video-player-wrap {
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    height: auto;
    background-image: url("images/video-ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: 200% 200%;
    text-align: center; }
    .kotlin-overview-section._video-overview .video-player-wrap.is_showing-video {
      background-color: #000;
      background-position: center center; }
    .kotlin-overview-section._video-overview .video-player-wrap .video-thumb-link {
      -webkit-transition: all 0.3;
      -moz-transition: all 0.3;
      -o-transition: all 0.3;
      transition: all 0.3;
      display: inline-block;
      position: relative;
      margin: 30px auto;
      text-align: center;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .kotlin-overview-section._video-overview .video-player-wrap.is_showing-video .video-thumb-link {
      -webkit-animation: overview-video-scale 0.5s;
      -moz-animation: overview-video-scale 0.5s;
      -o-animation: overview-video-scale 0.5s;
      animation: overview-video-scale 0.5s; }
    .kotlin-overview-section._video-overview .video-player-wrap .video-thumb {
      opacity: 0.3;
      max-width: 100%;
      height: auto;
      margin: 0;
      vertical-align: top; }
    .kotlin-overview-section._video-overview .video-player-wrap .video-thumb-link .video-thumb {
      opacity: 1; }
    .kotlin-overview-section._video-overview .video-player-wrap .video-description {
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 100%;
      margin-bottom: 40px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
      .kotlin-overview-section._video-overview .video-player-wrap .video-description .title {
        display: block;
        font-size: 45px;
        font-family: "GraublauSlab Regular", Georgia, serif;
        line-height: 50px;
        margin-bottom: 8px; }
    .kotlin-overview-section._video-overview .video-player-wrap .video-thumb-link:hover .video-description {
      opacity: 1; }
    .kotlin-overview-section._video-overview .video-player-wrap .video-thumb-cover {
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.15); }
    .kotlin-overview-section._video-overview .video-player-wrap .video-thumb-link:hover .video-thumb-cover {
      background-color: rgba(0, 0, 0, 0.001); }
    .kotlin-overview-section._video-overview .video-player-wrap .video-player-play-button {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 69px;
      height: 69px;
      margin-top: -35px;
      margin-left: -35px;
      background: url("../layout/images/main-sprite.png") no-repeat;
      background-position: 0 -100px;
      cursor: pointer; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .kotlin-overview-section._video-overview .video-player-wrap .video-player-play-button {
          background-image: url("../layout/images/main-sprite@2x.png");
          background-size: 150px auto; } }
    .kotlin-overview-section._video-overview .video-player-wrap a:hover .video-player-play-button {
      opacity: 1; }
  .kotlin-overview-section._video-overview .video-player {
    display: none;
    height: auto; }

.kotlin-overview-section._get-kotlin {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  background-color: #003356;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpi5LKO/f///+8/fxmwAVYWZhag9PefvxhwgD9//zLh0g0HTAyEwLBSAQw1/CoAAgwAba4SlNFFbukAAAAASUVORK5CYII=);
  background-repeat: repeat; }
  .kotlin-overview-section._get-kotlin .section-header {
    color: #fff; }
  .kotlin-overview-section._get-kotlin .kotlin-version {
    margin-top: -7px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #fff;
    text-align: center; }
  .kotlin-overview-section._get-kotlin .section-description {
    margin-bottom: 32px;
    color: #fff; }
  .kotlin-overview-section._get-kotlin .get-kotlin-options-list {
    text-align: center; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-item {
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: top;
      font-size: 14px;
      position: relative;
      width: 240px;
      padding: 10px 15px 30px;
      min-height: 360px;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 30px;
      background-color: #fff;
      border-radius: 4px; }
      .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-item:hover {
        box-shadow: 0px 0px 9px 3px #84b5e6; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-image {
      position: relative;
      display: block;
      margin: 15px auto 20px;
      width: 104px;
      height: 104px;
      background-color: #F2F2F2;
      border-radius: 50px; }
      .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-image .jetbrains-logo._logo-intellij-idea._size-2 {
        margin: 22px; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-image:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      margin: auto;
      background: url("images/get-kotlin-sprite.png") no-repeat 200% 200%;
      content: ''; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-image:after {
          background-image: url("images/get-kotlin-sprite@2x.png");
          background-size: 100px 250px; } }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-image._standalone-compiler:after {
      width: 50px;
      height: 58px;
      background-position: 0 0; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-image._source-code:after {
      width: 50px;
      height: 47px;
      background-position: 0 -150px; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-image._try-online:after {
      width: 54px;
      height: 44px;
      background-position: 0 -200px; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-title {
      font-size: 21px;
      line-height: 27px;
      margin-bottom: 8px;
      white-space: nowrap; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-description {
      margin-bottom: 10px; }
    .kotlin-overview-section._get-kotlin .get-kotlin-options-list .option-link-wrap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px; }

.kotlin-overview-section._community {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #2e2e2e;
  color: #fff; }
  .kotlin-overview-section._community .section-header {
    font-size: 18px;
    line-height: 22px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin-bottom: 32px; }
  .kotlin-overview-section._community .links-list {
    font-size: 0;
    text-align: center;
    margin-bottom: -40px; }
  .kotlin-overview-section._community .links-list-item {
    display: inline-block;
    margin: 0 40px 40px;
    font-size: 14px;
        /*
        .link:hover .link-icon._blog {
            background-color: #FEF3E1;
        }

        .link:hover .link-icon._forum {
            background-color: #F4FFE2;
        }

        .link:hover .link-icon._twitter {
            background-color: #EAF9FD;
        }

        .link:hover .link-icon._issue-tracker {
            background-color: #DEEEFF;
        }
        */
        /*
        .link:hover .link-icon._forum + .link-text {
            color: #6CB800;
        }

        .link:hover .link-icon._twitter + .link-text {
            color: #2AA9E0;
        }

        .link:hover .link-icon._issue-tracker + .link-text {
            color: #0068F1;
        }
        */ }
    .kotlin-overview-section._community .links-list-item .link {
      display: block;
      text-align: center;
      text-decoration: none; }
    .kotlin-overview-section._community .links-list-item .link-icon {
      position: relative;
      display: block;
      margin-bottom: 9px;
      width: 104px;
      height: 104px;
      background-color: #F2F2F2;
      border-radius: 50px; }
      .kotlin-overview-section._community .links-list-item .link-icon:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        background-image: url("images/kotlin-community-sprite.png");
        background-repeat: no-repeat;
        background-position: 200% 200%;
        content: ''; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .kotlin-overview-section._community .links-list-item .link-icon:after {
            background-image: url("images/kotlin-community-sprite@2x.png");
            background-size: 100px 200px; } }
      .kotlin-overview-section._community .links-list-item .link-icon._blog:after {
        width: 48px;
        height: 35px;
        background-position: 0 0;
        top: -2px;
        left: -3px; }
      .kotlin-overview-section._community .links-list-item .link-icon._forum:after {
        width: 59px;
        height: 42px;
        background-position: 0 -50px; }
      .kotlin-overview-section._community .links-list-item .link-icon._twitter:after {
        width: 48px;
        height: 40px;
        background-position: 0 -100px; }
      .kotlin-overview-section._community .links-list-item .link-icon._issue-tracker:after {
        display: none; }
      .kotlin-overview-section._community .links-list-item .link-icon .jetbrains-logo._logo-youtrack._size-2 {
        margin: 22px; }
    .kotlin-overview-section._community .links-list-item .link-text {
      color: #8c8c8c;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase; }
    .kotlin-overview-section._community .links-list-item .link:hover .link-text {
      color: #F47810; }

.kotlin-overview-section._testimonials .section-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 32px; }
.kotlin-overview-section._testimonials .testimonials-carousel-wrap {
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
  width: 888px; }
  @media (max-width: 1023px) {
    .kotlin-overview-section._testimonials .testimonials-carousel-wrap {
      width: 584px; } }
  @media (max-width: 600px) {
    .kotlin-overview-section._testimonials .testimonials-carousel-wrap {
      width: 280px; } }
.kotlin-overview-section._testimonials .testimonials-carousel {
  overflow: hidden; }
.kotlin-overview-section._testimonials .testimonials-carousel-nav {
  top: 85px !important; }
.kotlin-overview-section._testimonials .testimonials-list {
  position: relative;
  white-space: nowrap;
  font-size: 0; }
.kotlin-overview-section._testimonials .testimonials-list-item {
  width: 280px;
  margin-right: 24px;
  display: inline-block;
  font-size: 14px;
  white-space: normal; }
  .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-quote {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 5px 3px 29px;
    padding: 0 30px;
    min-height: 150px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #fff;
    line-height: 150px; }
    .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-quote .text {
      display: inline-block;
      color: #666;
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      vertical-align: middle; }
    .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-quote:before, .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-quote:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -24px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 24px 0 24px;
      border-color: transparent;
      content: ''; }
    .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-quote:before {
      margin-top: 2px;
      border-top-color: #000;
      opacity: 0.08; }
    .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-quote:after {
      border-top-color: #fff; }
  .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-company {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-style: italic;
    font-weight: 300; }
  .kotlin-overview-section._testimonials .testimonials-list-item .testimonial-company-link {
    text-decoration: none; }

@-webkit-keyframes overview-video-scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
@-moz-keyframes overview-video-scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
@-o-keyframes overview-video-scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
@keyframes overview-video-scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

/*# sourceMappingURL=kotlin-overview.css.map */
