@import '../../config';

%code-block {
    padding: 10px 26px 10px;
    font-size: 14px;
    font-family: $font-family-mono;
    line-height: 18px;
    background: #f1f6f8;
    border: 1px solid #cae0e9;
    border-radius: 12px;
}