.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #fff;
    text-decoration: none;
    color: inherit;
    border: 1px solid rgba(39, 40, 44, 0.2);
    border-radius: 8px;
    min-height: 170px;
}

.card:hover {
    text-decoration: none;
    color: inherit;
    border: 1px solid #19191C;
}

.icon {

}

.bottom {
    margin-top: auto;
}

.title {

}

.description {

}

@media (max-width: 767px) {
    .title .ktl-h3 {
        font-size: 13px;
        line-height: 24px;
    }

    .description .ktl-text-1 {
        font-size: 13px;
        line-height: 24px;
    }
}


@media (min-width: 768px) {
    .card {
        min-height: 240px;
    }
}
