.teach-cta-block-buttons {
  display: grid;
  grid-template-areas: "a a";
  grid-auto-columns: min-content;
  grid-gap: 16px;
}

@media (max-width: 768px) {
  .teach-cta-block-buttons {
    display: flex;
    flex-direction: column;
  }

  .teach-cta-block-button {
    font-size: 16px;
    padding: 8px 24px;
  }
}