<ul class="docs-pages-list">
{% for post in site.posts %}
    {% assign is_active = false %}
    {% if post.url == page.url %}
        {% assign is_active = true %}
    {% endif %}

    {% if post.category == 'docs' %}
    <li class="list-item {% if is_active %}is_active{% endif %}">
        {% if is_active %}
            <span class="list-item-text">{{ post.title }}</span>
        {% else %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="list-item-text">{{ post.title }}</a>
        {% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>