{% if site.data.nav[include.nav] %}
    {% assign nav = site.data.nav[include.nav] %}

    {% if nav.items %}
        <nav class="docs-page-nav">
            {% for item in nav.items %}
                {% if page.url == item.url or (include.current_section and include.current_section == item.id) %}
                        <a href="{{ site.baseurl }}{{ item.path }}" class="nav-item is_active">
                            <span class="nav-item-text">
                                {{ item.title }}
                            </span>
                        </a>

                {% else %}
                    <a href="{{ site.baseurl }}{{ item.path }}" class="nav-item">
                        <span class="nav-item-text">
                            {{ item.title }}
                        </span>
                    </a>

                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}

{% endif %}