<footer role="contentinfo" class="global-footer">

    <div class="global-footer-terms">
        <div class="g-layout">

            <div class="terms-copyright">
                &copy; 2000&ndash;{{ site.time | date: '%Y' }} JetBrains. All rights reserved
            </div>

            <div class="terms-sponsor">
                Sponsored and developed by <a href="http://jetbrains.com" class="sponsor sponsor_jetbrains" target="_blank">JetBrains</a>
            </div>
        </div>
    </div>

</footer>