<meta charset="utf-8">
{% if page.title %}
    <title>{{ page.title }} - Kotlin Programming Language</title>
{% else %}
    <title>Kotlin Programming Language</title>
{% endif %}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="Shortcut Icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/apple-touch-icon-144x144.png" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">


<!-- Social Media tag Starts -->
<!-- Place this data between the <head> tags of your website -->
<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://kotlinlang.org{{ page.url }}" />
<meta property="og:image" content="https://kotlinlang.org/assets/images/open-graph/kotlin_250x250.png" />
{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="Kotlin is a statically typed programming language for the JVM, Android and the browser, 100% interoperable with Java">
{% endif %}
<meta property="og:site_name" content="Kotlin" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@kotlin">
<meta name="twitter:title" content="{{ page.title }}">
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="Kotlin is a statically typed programming language for the JVM, Android and the browser, 100% interoperable with Java">
{% endif %}
<meta name="twitter:image:src" content="https://kotlinlang.org/assets/images/twitter-card/kotlin_800x320.png ">
<!-- Social Media tag Ends -->