<header class="global-header">
    <div class="g-layout">
        <a class="global-header-logo" href="{{ site.baseurl }}">Project Kotlin</a>

        <nav class="global-header-nav">
            {% for item in site.data.nav.main.items %}
                {% if include.current_section == item.id %}
                    <span class="nav-item is_active">
                        {{ item.title }}
                    </span>
                {% else %}
                    <a href="{{ site.baseurl }}{{ item.path }}"
                       class="nav-item">
                        {{ item.title }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if page.layout == 'index' %}
                <a href="http://kotlin-demo.jetbrains.com/" class="try-kotlin-button">
                    Try Kotlin
                </a>
            {% else %}
                <a href="http://kotlin-demo.jetbrains.com/" class="nav-item">
                    Try Kotlin
                </a>
                <a href="{{ site.baseurl }}/download/" class="try-kotlin-button">
                    Download
                </a>
            {% endif %}
        </nav>

        {% if page.layout == 'index' %}
        <div class="kotlin-info">
            <div class="kotlin-info-description">
                Statically typed programming language<br>
                targeting the JVM and JavaScript
            </div>
            <div class="kotlin-info-description-extra">
                100% interoperable with Java™
            </div>
            <a href="{{ site.baseurl }}/download/" class="get-kotlin-button">
                Get Kotlin Now
            </a>
        </div>
        {% endif %}

    </div>
</header>