{% if site.data.nav[include.nav] %}
    {% assign nav = site.data.nav[include.nav] %}

    <div class="global-current-section">
        <div class="g-layout">
            <div class="current-section-title">{{ nav.title }}</div>

            {% if nav.items %}
                <ul class="current-section-nav">
                    {% for item in nav.items %}
                        {% if page.url == item.url or (include.current_section and include.current_section == item.id) %}
                            <li class="nav-item is_active">
                                <a href="{{ site.baseurl }}{{ item.path }}" class="nav-item-text">{{ item.title }}</a>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a href="{{ site.baseurl }}{{ item.path }}" class="nav-item-text">{{ item.title }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

{% endif %}