
// Inter
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-Thin-BETA.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-Thin-BETA.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-ThinItalic-BETA.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-ThinItalic-BETA.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-ExtraLight-BETA.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-ExtraLight-BETA.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-ExtraLightItalic-BETA.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-ExtraLightItalic-BETA.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-Light-BETA.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-Light-BETA.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-LightItalic-BETA.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-LightItalic-BETA.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-Italic.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-Italic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-Medium.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-SemiBold.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-Bold.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-Black.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-Black.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/fonts/Inter/Inter-BlackItalic.woff2") format("woff2"),
    url("/assets/fonts/Inter/Inter-BlackItalic.woff") format("woff");
}
