/* Jetbrains */
@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: local("JetBrains Mono dev Regular"),
    local("JetBrainsMonodev-Regular"),
    local("JetBrains Mono Regular"),
    local("JetBrainsMono-Regular"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: local("JetBrains Mono dev Italic"),
    local("JetBrainsMonodev-Italic"),
    local("JetBrains Mono Italic"),
    local("JetBrainsMono-Italic"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Italic.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: local("JetBrains Mono dev Medium"),
    local("JetBrainsMonodev-Medium"),
    local("JetBrains Mono Medium"),
    local("JetBrainsMono-Medium"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Medium.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: local("JetBrains Mono dev Medium Italic"),
    local("JetBrainsMonodev-Medium-Italic"),
    local("JetBrains Mono Medium Italic"),
    local("JetBrainsMono-Medium-Italic"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: local("JetBrains Mono dev Bold"),
    local("JetBrainsMonodev-Bold"),
    local("JetBrains Mono Bold"),
    local("JetBrainsMono-Bold"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: local("JetBrains Mono dev Bold Italic"),
    local("JetBrainsMonodev-Bold-Italic"),
    local("JetBrains Mono Bold Italic"),
    local("JetBrainsMono-Bold-Italic"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: local("JetBrains Mono dev ExtraBold"),
    local("JetBrainsMonodev-ExtraBold"),
    local("JetBrains Mono ExtraBold"),
    local("JetBrainsMono-ExtraBold"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: local("JetBrains Mono dev ExtraBold Italic"),
    local("JetBrainsMonodev-ExtraBold-Italic"),
    local("JetBrains Mono ExtraBold Italic"),
    local("JetBrainsMono-ExtraBold-Italic"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2"),
    url("/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff") format("woff");
}
