@import '../../config';

%pre {
    padding: $vertical-rhythm-unit;
    font-family: $font-family-mono;
    line-height: 20px;
    background: #F8F8F8;
    border: 1px solid #ddd;
    border-radius: 3px;

    &.note {
        background-color: #FFFFDD;
        border-color: #F7DF92;
        font-family: $font-family-sans-serif;

        code {
            font-family: $font-family-sans-serif;
        }
    }
}

%code-span {
    font-family: $font-family-mono;
    padding-left: 0;
    padding-right: 0;
}