@import '../../config';

%pre {
    padding: 20px;
    font-family: $font-family-mono;
    line-height: 22px;
    background: #f7f7f7;

    &.note {
        padding: 20px 40px;
        background-color: #FFFFE3;
        font-family: $font-family-sans-serif;

        code {
            font-family: $font-family-sans-serif;
        }
    }
}

%code-span {
    font-family: $font-family-mono;
}