@import '../../config';

%code-block {
    padding: 10px;
    font-size: 14px;
    font-family: $font-family-mono;
    line-height: 18px;
    background: #F8F8F8;
    //border: 1px solid #cae0e9;
    //border-radius: 12px;
}

%code-span {
    font-family: $font-family-mono;
    padding-left: 0;
    padding-right: 0;
}