@import '../../../css/_config';
@import '../../../css/_utils';
@import '../../../css/com/_bits/_header';
@import '../../../css/com/_bits/_table';

.events {
    display: flex;
    flex-direction: row;
}

.events-list-col {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;

  .list {
    padding-top: 50px;
  }
}

.events-map {
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;

    .map {
        height: 700px;
        width: 100%;
    }
}