@import '../../config';
@import '../../utils';


.grammar {}


.grammar h1 {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;

    &:first-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.grammar-items-set {
    margin-bottom: 40px;
}


.grammar-comment {

}


.grammar-item {
    margin-bottom: 20px;
    font-family: $font-family-mono;
}


.grammar-annotation {
}


.grammar-declaration {

}


.grammar-declaration-name {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}


.grammar-declaration-usedby {
    display: inline-block;
    color: #999;
}


.grammar-description {
    font-family: $font-family-mono;
}


.grammar-identifier-name {

}


.grammar-string {
    color: #009C00;
}


.grammar-symbol {

}


.grammar-other {

}