@import '../../_config';

%list {
    &%ul {
        margin-bottom: $vertical-rhythm-unit;
        margin-left: $vertical-rhythm-unit*2;

        & > li {
            margin-bottom: $vertical-rhythm-unit/2;
            list-style: none;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                position: absolute;
                margin-top: -1px;
                margin-left: -20px;
                color: #666;
                content: '\2014';
            }
        }

        ul,
        ol {
            margin-top: $vertical-rhythm-unit/2;
        }
    }

    &%ol {
        margin-bottom: $vertical-rhythm-unit;
        margin-left: $vertical-rhythm-unit*2;

        & > li {
            list-style: decimal;
            margin-bottom: $vertical-rhythm-unit/2;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul,
        ol {
            margin-top: $vertical-rhythm-unit/2;
        }
    }
}