@import 'static/js/components/kto-button.scss';
@import 'static/js/components/kto-header.scss';
@import 'static/js/components/kto-numbers.scss';
@import 'static/js/components/kto-qoute/kto-quotes.scss';
@import 'static/js/components/kto-tabs.scss';
