@import 'config';

html,
button,
input,
select,
textarea {
    font-family: $font-family-sans-serif;
}

pre,
code,
var,
kbd,
samp {
    font-family: $font-family-mono;
}

html {
    height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    color: $base-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: #fff;
}

a {
    color: $base-link-color;
    text-decoration: underline
}

a:hover {
    color: $base-link-hover-color;
}

.hidden {
    display: none !important;
}

:root {
    --rs-color-primary-light-theme: var(--ktl-color-primary-light-theme);
    --rs-color-primary-t-dim-light-theme: rgba(127, 82, 255, 0.8);
    --rs-font-family-ui: var(--rs-font-family-inter);
}
