@import 'config';

html,
button,
input,
select,
textarea {
    font-family: $font-family-sans-serif;
}

pre,
code,
var,
kbd,
samp {
    font-family: $font-family-mono;
}

html {
    height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    color: $base-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: #fff;
}

a {
    color: $base-link-color;
    text-decoration: underline
}

a:hover {
    color: $base-link-hover-color;
}

.hidden {
    display: none !important;
}
