@import "reset";
@import "com/page-content/page-content";

p, li {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

p {
  font-size: 16px;
}

li {
  font-size: 14px;
}

a {
  margin-left: 1px;
}