:root {
  --rs-color-primary-light-theme: var(--ktl-color-primary-light-theme);
  --rs-color-primary-t-dim-light-theme: rgba(127, 82, 255, 0.8);
}

@media (max-width: 767px) {
  .ktl-courses__tabs {
    display: none;
  }
}