:root {
  --rs-color-primary-light-theme: var(--ktl-color-primary-light-theme);
}

.ktl-courses__tabs {
  display: none;
}

@media (min-width: 768px) {
  .ktl-courses__tabs {
    display: block;
  }
}