@import '../../config';

@import '../_header/_header';
@import '../_list/_list';
@import '../_code/_code';

.page-title {
     @extend %h1;
     margin-bottom: $unit*5;
}

.page-content {
    h1 {
        @extend %h1;
        margin-top: 40px;
        margin-bottom: $vertical-rhythm-unit*3;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }

    h2 {
        @extend %h2;
        margin-top: $vertical-rhythm-unit*3;
        margin-bottom: $vertical-rhythm-unit;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }

    h3 {
        @extend %h3;
        color: #666666;
        margin-top: $vertical-rhythm-unit*2;
        margin-bottom: $vertical-rhythm-unit;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }

    h4 {
        @extend %h4;
        margin-top: $vertical-rhythm-unit*2;
        margin-bottom: $vertical-rhythm-unit;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }


    // lists
    ul {
        @extend %list%ul;
    }

    ol {
        @extend %list%ol;
    }


    // paragraph
    p {
        margin-bottom: $vertical-rhythm-unit;
        line-height: $base-line-height;
    }


    // images
    img {
        max-width: 100%;
    }


    // pre
    pre {
        @extend %pre;
        margin-bottom: $vertical-rhythm-unit;
    }


    // code
    code {
        @extend %code-span;
    }


    // highlight
    @import '../syntax-highlight/syntax-highlight';


    // table
    table {
        margin-bottom: $vertical-rhythm-unit*2;

        th,
        td {
            padding: 6px 10px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #eee;
            text-align: left;
        }
    }


    // misc
    .keyword {
        font-family: $font-family-mono;
        font-style: normal;
        color: #0000C0;
    }

    .error {
        color: #ff0000;
    }

    .warning {
        background-color: #ffffcc;
    }

    .key {
        background-color: #dfeef4;
    }
}