@import '../../config';

@import '../_header/_header';
@import '../_list/_list';
@import '../_code/_code';

.page-title {
     @extend %h1;
     margin-bottom: $unit*5;
}

.page-content {
    position: relative;
    margin-top: 20px;

    .page-link-to-github {
        position: absolute;
        display: inline-block;
        top: -40px;
        right: 30px;
        border: 1px solid #dadada;
        border-radius: 5px;
        color: #ababab;
        font-size: 12px;
        padding: 4px 10px;
        text-decoration: none;

        &:hover {
            color: $base-link-hover-color;
        }

        .github-icon {
            position: absolute;
            display: inline-block;
            margin-top: 1px;
            width: 17px;
            height: 17px;
            background: url('images/github-icon.png') no-repeat;
        }

        .text {
            padding-left: 23px;
        }
    }

    h1 {
        @extend %h1;
        margin-top: 40px;
        margin-bottom: $vertical-rhythm-unit*3;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }

    h2 {
        @extend %h2;
        font-family: $font-family-sans-serif;
        margin-top: $vertical-rhythm-unit*2;
        margin-bottom: $vertical-rhythm-unit;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }

    h3 {
        @extend %h3;
        font-family: $font-family-sans-serif;
        margin-top: $vertical-rhythm-unit*2;
        margin-bottom: $vertical-rhythm-unit;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }

    h4 {
        @extend %h4;
        margin-top: $vertical-rhythm-unit*2;
        margin-bottom: $vertical-rhythm-unit;

        &:first-of-type:first-child {
            margin-top: 0;
        }
    }


    // lists
    ul {
        @extend %list%ul;
    }

    ol {
        @extend %list%ol;
    }


    // paragraph
    p {
        margin-bottom: $vertical-rhythm-unit;
        line-height: 24px;
    }


    // images
    img {
        max-width: 100%;
    }


    // pre
    pre {
        @extend %pre;
        margin-bottom: $vertical-rhythm-unit;
    }


    // code
    code {
        @extend %code-span;
    }
    p > code,
    li > code {
        display: inline-block;
        padding: 0 5px;
        border-radius: 4px;
        background-color: #efefef;
    }


    // highlight
    @import '../syntax-highlight/syntax-highlight';


    // table
    table {
        border-top: 1px solid #dcdcdc;
        margin-bottom: $vertical-rhythm-unit*2;

        &.zebra {
            tbody tr:nth-child(odd) {
                background-color: #f5f5f5;
            }
        }

        &.wide {
            min-width: 100%;
        }

        tr {
            //border-top: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
        }

        th,
        td {
            padding: 8px 15px;
        }

        th {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
            font-weight: bold;
        }
    }

    hr {
        border: 1px solid #dcdcdc;
        height: 2px;
        border-width: 1px 0;
        margin: $vertical-rhythm-unit*2 0 $vertical-rhythm-unit*3;
    }

    // misc
    .keyword {
        font-family: $font-family-mono;
        font-style: normal;
        color: #0000C0;
    }

    .error {
        color: #ff0000;
    }

    .warning {
        background-color: #ffffcc;
    }

    .key {
        background-color: #dfeef4;
    }
}