.page-title, .page-content h1 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 48px;
  line-height: 54px; }

.page-content h2 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 30px;
  line-height: 33px; }

.page-content h3 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 24px;
  line-height: 27px; }

.page-content h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold; }

.page-content ul {
  margin-bottom: 15px;
  margin-left: 30px; }
  .page-content ul > li {
    margin-bottom: 7.5px;
    list-style: none; }
    .page-content ul > li:last-child {
      margin-bottom: 0; }
    .page-content ul > li:before {
      position: absolute;
      margin-top: -1px;
      margin-left: -20px;
      color: #666;
      content: '\2014'; }
  .page-content ul ul,
  .page-content ul ol {
    margin-top: 7.5px; }
.page-content ol {
  margin-bottom: 15px;
  margin-left: 30px; }
  .page-content ol > li {
    list-style: decimal;
    margin-bottom: 7.5px; }
    .page-content ol > li:last-child {
      margin-bottom: 0; }
  .page-content ol ul,
  .page-content ol ol {
    margin-top: 7.5px; }

.page-content pre code {
  display: block;
  font-family: Consolas, Monaco, "Liberation Mono", Courier, monospace; }

.page-content code {
  font-family: Consolas, Monaco, "Liberation Mono", Courier, monospace; }
  .page-content p > code,
  .page-content li > code {
    display: inline-block;
    padding: 0 5px;
    border-radius: 4px;
    background-color: #efefef; }

.page-content pre {
  font-family: Consolas, Monaco, "Liberation Mono", Courier, monospace;
  line-height: 22px; }

.page-content table {
  margin-bottom: 30px; }
  .page-content table.zebra tbody tr:nth-child(odd) {
    background-color: #f5f5f5; }
  .page-content table.wide {
    min-width: 100%; }
  .page-content table thead {
    background-color: #F7F7F7;
    border-bottom-width: 2px; }
  .page-content table tfoot {
    color: #ccc; }
    .page-content table tfoot tr {
      border-bottom: none; }
  .page-content table tr {
    border-bottom: 1px solid #dcdcdc; }
  .page-content table th {
    padding-top: 10px;
    padding-bottom: 6px;
    text-align: left;
    font-weight: bold; }
  .page-content table th,
  .page-content table td {
    padding: 6px 10px;
    vertical-align: top; }
    .page-content table th:first-child,
    .page-content table td:first-child {
      padding-left: 12px; }
    .page-content table th:last-child,
    .page-content table td:last-child {
      padding-right: 12px; }

.page-content pre code._highlighted {
  color: #A9B7C6;
  background-color: #2B2B2B;
  /* Common */
  /* Line Numbers */
  /* Operator */
  /* Punctuation */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Generic */
  /* Generic */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword */
  /* Literal */
  /* Literal */
  /* Literal.Date */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Name */
  /* Name */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Comment */
  /* Comment.Preproc */
  /* Comment.Special */
  /* Error */
  /* Error */ }
  .page-content pre code._highlighted .lineno {
    color: #586e75; }
  .page-content pre code._highlighted .o {
    color: #A9B7C6; }
  .page-content pre code._highlighted .p {
    color: #A9B7C6; }
  .page-content pre code._highlighted .ow {
    color: #859900; }
  .page-content pre code._highlighted .w {
    color: #93a1a1; }
  .page-content pre code._highlighted .g {
    color: #93a1a1; }
  .page-content pre code._highlighted .gd {
    color: #2aa198; }
  .page-content pre code._highlighted .ge {
    color: #93a1a1;
    font-style: italic; }
  .page-content pre code._highlighted .gr {
    color: #dc322f; }
  .page-content pre code._highlighted .gh {
    color: #cb4b16; }
  .page-content pre code._highlighted .gi {
    color: #859900; }
  .page-content pre code._highlighted .go {
    color: #93a1a1; }
  .page-content pre code._highlighted .gp {
    color: #93a1a1; }
  .page-content pre code._highlighted .gs {
    color: #93a1a1;
    font-weight: bold; }
  .page-content pre code._highlighted .gu {
    color: #cb4b16; }
  .page-content pre code._highlighted .gt {
    color: #93a1a1; }
  .page-content pre code._highlighted .k,
  .page-content pre code._highlighted .kc,
  .page-content pre code._highlighted .kt,
  .page-content pre code._highlighted .kd,
  .page-content pre code._highlighted .kn,
  .page-content pre code._highlighted .kr {
    color: #CC7832;
    font-weight: bold; }
  .page-content pre code._highlighted .l {
    color: #93a1a1; }
  .page-content pre code._highlighted .ld {
    color: #93a1a1; }
  .page-content pre code._highlighted .m,
  .page-content pre code._highlighted .mf,
  .page-content pre code._highlighted .mh,
  .page-content pre code._highlighted .mi,
  .page-content pre code._highlighted .il {
    color: #6897BB; }
  .page-content pre code._highlighted .s,
  .page-content pre code._highlighted .sc,
  .page-content pre code._highlighted .sd,
  .page-content pre code._highlighted .s1,
  .page-content pre code._highlighted .ss {
    color: #6A8759; }
  .page-content pre code._highlighted .mo {
    color: #2aa198; }
  .page-content pre code._highlighted .sb {
    color: #586e75; }
  .page-content pre code._highlighted .s2 {
    color: #2aa198; }
  .page-content pre code._highlighted .se {
    color: #cb4b16; }
  .page-content pre code._highlighted .sh {
    color: #93a1a1; }
  .page-content pre code._highlighted .si {
    color: #2aa198; }
  .page-content pre code._highlighted .sx {
    color: #2aa198; }
  .page-content pre code._highlighted .sr {
    color: #dc322f; }
  .page-content pre code._highlighted .n {
    color: #A9B7C6; }
  .page-content pre code._highlighted .na {
    color: #BABABA; }
  .page-content pre code._highlighted .nb {
    color: #0037B3; }
  .page-content pre code._highlighted .nc {
    color: #A9B7C6; }
  .page-content pre code._highlighted .no {
    color: #660E7A; }
  .page-content pre code._highlighted .nd {
    color: #808000; }
  .page-content pre code._highlighted .ni {
    color: #cb4b16; }
  .page-content pre code._highlighted .ne {
    color: #cb4b16; }
  .page-content pre code._highlighted .nf {
    color: #A9B7C6; }
  .page-content pre code._highlighted .nl {
    color: #93a1a1; }
  .page-content pre code._highlighted .nn {
    color: #000; }
  .page-content pre code._highlighted .nx {
    color: #93a1a1; }
  .page-content pre code._highlighted .py {
    color: #93a1a1; }
  .page-content pre code._highlighted .nt {
    color: #E8BF6A; }
  .page-content pre code._highlighted .nv {
    color: #000; }
  .page-content pre code._highlighted .bp {
    color: #000; }
  .page-content pre code._highlighted .vc {
    color: #660E7A; }
  .page-content pre code._highlighted .vg {
    color: #660E7A; }
  .page-content pre code._highlighted .vi {
    color: #660E7A; }
  .page-content pre code._highlighted .c,
  .page-content pre code._highlighted .cm,
  .page-content pre code._highlighted .c1 {
    color: #808080; }
  .page-content pre code._highlighted .cp {
    color: #859900; }
  .page-content pre code._highlighted .cs {
    color: #859900; }
  .page-content pre code._highlighted .err {
    color: #93a1a1; }

.page-title {
  margin-bottom: 40px; }

.page-content {
  position: relative;
  margin-top: 20px; }
  .page-content .page-link-to-github {
    position: absolute;
    display: inline-block;
    top: -40px;
    right: 30px;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #ababab;
    font-size: 12px;
    padding: 4px 10px;
    text-decoration: none; }
    .page-content .page-link-to-github:hover {
      color: #ed7615; }
    .page-content .page-link-to-github .github-icon {
      position: absolute;
      display: inline-block;
      margin-top: 1px;
      width: 17px;
      height: 17px;
      background: url("images/github-icon.png") no-repeat; }
    .page-content .page-link-to-github .text {
      padding-left: 23px; }
  .page-content h1 {
    margin-top: 40px;
    margin-bottom: 45px; }
    .page-content h1:first-of-type:first-child {
      margin-top: 0; }
  .page-content h2 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 15px; }
    .page-content h2:first-of-type:first-child {
      margin-top: 0; }
  .page-content h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 15px; }
    .page-content h3:first-of-type:first-child {
      margin-top: 0; }
  .page-content h4 {
    margin-top: 30px;
    margin-bottom: 15px; }
    .page-content h4:first-of-type:first-child {
      margin-top: 0; }
  .page-content p {
    margin-bottom: 15px;
    line-height: 24px; }
  .page-content img {
    max-width: 100%; }
  .page-content pre {
    margin-bottom: 15px; }
  .page-content pre code {
    padding: 20px; }
  .page-content blockquote.note {
    padding: 20px 40px;
    background-color: #FFFFE3;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; }
    .page-content blockquote.note p:last-child {
      margin-bottom: 0; }
    .page-content blockquote.note code {
      padding: 0;
      background-color: transparent; }
  .page-content hr {
    border: 1px solid #dcdcdc;
    height: 2px;
    border-width: 1px 0;
    margin: 30px 0 45px; }
  .page-content .keyword {
    font-family: Consolas, Monaco, "Liberation Mono", Courier, monospace;
    font-style: normal;
    color: #0000C0; }
  .page-content .error {
    color: #ff0000; }
  .page-content .warning {
    background-color: #ffffcc; }
  .page-content .key {
    background-color: #dfeef4; }
