@import "../../../css/config";

.executable-fragment-wrapper {
    margin-bottom: 20px;
    position: relative;
}

.executable-fragment {
    border: 1px solid #eee;
}

.CodeMirror {
    height: auto;
}

.Codemirror-lines {
    padding: 12px 0;
}

.CodeMirror-scroll {
    height: auto;
}

.CodeMirror-gutter {
    height: auto;
}

.CodeMirror {
    line-height: 1.4;
    font-family: menlo, consolas, monospace;
    font-size: 12px;
}

.CodeMirror-linenumber {
    min-width: 0;
    text-align: center;
}

.command-panel {
    background-color: #f7f7f7;
    padding: 5px 30px;
}

.run-button {
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
    height: 20px;
    width: 16px;
    cursor: pointer;
    background: url("./icons/run.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cm__ERROR {
    color: #ff0000 !important;
}

.errors-and-warnings-gutter {
    width: 16px;
}

.ERRORgutter {
    height: 13px;
    width: 13px;
    margin-top: 2px;
    margin-left: 2px;
    background: url("http://try.kotlinlang.org/static/images/icons_all_sprite.png") no-repeat -150px -500px;
}

.WARNINGgutter {
    height: 13px;
    width: 13px;
    margin-top: 2px;
    margin-left: 2px;
    background: url("http://try.kotlinlang.org/static/images/icons_all_sprite.png") no-repeat -150px -600px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .ERRORgutter {
        background-image: url("http://try.kotlinlang.org/static/images/icons_all_sprite@2x.png");
        background-size: 250px 900px;
    }

    .WARNINGgutter {
        background-image: url("http://try.kotlinlang.org/static/images/icons_all_sprite@2x.png");
        background-size: 250px 900px;
    }
}

.cm__red_wavy_line {
    background: url(http://try.kotlinlang.org/static/images/wavyline-red.gif) repeat-x 100% 100% !important;
    padding-bottom: 2px;
}

.cm__green_wavy_line {
    background: url(http://try.kotlinlang.org/static/images/wavyline-green.gif) repeat-x 100% 100% !important;
    padding-bottom: 2px;
}

.code-output {
    border-top: 1px solid #eee;
    font-family: $font-family-mono;
    overflow: auto;
    padding-left: 10px;
    padding-top: 15px;
    min-height: 50px;
    flex-grow: 1;
}

.error-output {
    white-space: pre;
    color: #ff0000 !important;
    min-height: 1.4em;
    margin: 0;
    vertical-align: top;
}

.standard-output {
    white-space: pre;
    color: #000 !important;
    min-height: 1.4em;
    margin: 0;
    vertical-align: top;
}

.stacktrace-element {
    margin-left: 20px;
}

.CodeMirror-foldgutter {
    position: absolute;
    width: 100%;
}

.CodeMirror-foldgutter-folded {
    width: 100%;
    background: white;
}

.fold-button {
    position: absolute;
    height: 19px;
    width: 31px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    background-color: white;
    background-image: url('./icons/button_open.svg?fill=%23d4d4d4');
    background-repeat: no-repeat;

    &._unfolded {
        background-image: url('./icons/button_close.svg?fill=%23d4d4d4');
    }

    &._unfolded._hover {
        background-image: url('./icons/button_close.svg?fill=%23f68322');
    }

    &._hover {
        background-image: url('./icons/button_open.svg?fill=%23f68322');
    }
}

.zigzag {
    position: absolute;
    left: 50%;
    z-index: 9;
    background-color: white;
    background-image: url('./icons/zigzag.svg?fill=%23eee');
    background-size: auto 100%;
    background-repeat: repeat-x;
    width: 180px;
    height: 5px;

    &._top {
        top: 0;
        transform: translate(-50%, -50%);
    }

    &._bottom {
        bottom: 0;
        transform: translate(-50%, 50%);
    }

    &._hover {
        background-image: url('./icons/zigzag.svg?fill=%23f68322');
    }

}

.code-area {
    position: relative;
}

.compiler-info {
    position: absolute;
    right: 0;
    font-size: 10px;
    color: #949494;

    span {
        margin-left: 15px;
    }
}