@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";
@import "@rescui/typography/lib/mixins.p.css";

.wrap {
    border-radius: var(--ktl-box-section-s);
    background: #21003C;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--ktl-box-section-l) var(--ktl-box-section-m);

    @media (--ktl-ml-down) {
        padding: var(--ktl-box-section-s);
        border-radius: var(--ktl-box-block-l);
    }
}

.title {
    margin: 0 0 var(--ktl-box-section-m);
    text-align: center;

    @media (--ktl-ml-down) {
        font-size: 28px;
        line-height: 32px;
    }
}

.tabs {
    margin-bottom: var(--ktl-box-section-s);

    [data-rs-internal='chip-list__chip'] {
        @media (--ktl-ts-up) {
            @mixin rs-subtitle-2-base;
        }
    }

    @media (--ktl-tl-down) {
        max-width: 590px;
    }

    & > div {
        gap: 6px;
    }

    :global(.js) & [role="tab"] {
        user-select: none;
        -webkit-user-drag: none;
        pointer-events: auto;
    }
}

.cards {
    :global(.js) & {
        display: grid;
    }

    max-width: 738px;
}


.cardEl {
    grid-column: 1;
    grid-row: 1;

    @media (prefers-reduced-motion: no-preference) {
        :global(.js) & {
            opacity: 0;
        }

        transition: opacity .3s;

        @supports (transition: visibility 1s allow-discrete) {
            transition: opacity 1s, visibility 1s allow-discrete;
        }
    }
}

.card {
    text-align: center;
    margin: 0;
}

:global(.js) .cardEl:not(.active) {
    visibility: hidden;

    @media (--ktl-ts-down) {
        display: none;
    }
}

.cardEl.active {
    @media (prefers-reduced-motion: no-preference) {
        opacity: 1;

        @supports (transition: visibility 1s allow-discrete) {
            @starting-style {
                opacity: 0;
            }
        }
    }
}

.anchor {
    max-height: 1px;
}

:global(.js) {
    .wrap {
        position: relative;
    }

    .anchor {
        position: absolute;
        top: -80px;
    }
}

:global(.no-js) {
    .anchor {
        position: relative;
        top: -50px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: var(--ktl-box-section-m);
    }
}
