@import '../../_config';
@import '../../_utils';


.global-nav {
    @include clearfix;
    position: relative;
    float: right;
    margin-top: 13px;

    .nav-item {
        float: left;
        margin-left: $unit*3;
        opacity: 0.87;
        font-size: 18px;
        line-height: $unit*4;
        color: #fff;
        text-decoration: none;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            opacity: 1;
            text-decoration: underline;
        }

        &.is_active {
            opacity: 1;
            font-weight: bold;
        }
    }

    .extra-nav {
        overflow: hidden;
        left: 100%;
        margin-left: 15px;
        white-space: nowrap;

        @media (max-width: 1205px) {
            left: auto;
            right: 0;
            top: 38px;
        }

        &.social-links {
            position: absolute;

            @media (max-width: 1205px) {
                top: auto;
                bottom: 38px;
            }
        }

        &.download-button {
            line-height: 36px;
        }

        .link {
            position: relative;
            display: inline-block;
            margin-right: 0;
            padding: 4px;
            font-size: 0;
            line-height: 0;
            text-decoration: none;
            vertical-align: top;
        }

        .link-github {
        }

        .link-twitter {
            top: 2px;
        }

        .link-forum {
            top: 3px;
        }

        .link-icon {
            display: inline-block;
            opacity: 0.8;
            background: url('../layout/images/main-sprite.png') no-repeat 0 0;

            @include adapt_retina {
                background-image: url('../layout/images/main-sprite@2x.png');
                background-size: 150px auto;
            }
        }

        .link:hover .link-icon {
            opacity: 1;
        }

        .icon-github {
            width: 20px;
            height: 20px;
            background-position: -100px 0;
        }

        .icon-twitter {
            width: 20px;
            height: 17px;
            background-position: -100px -50px;
        }

        .icon-forum {
            width: 26px;
            height: 17px;
            background-position: -100px -400px;
        }
    }
}

.page_index .global-nav {
    margin-top: 0;
}