@import '../../config';

%h1 {
    font-family: $font-family-serif;
    font-size: 48px;
    line-height: 54px;
}

%h2 {
    font-family: $font-family-serif;
    font-size: 30px;
    line-height: 33px;
}

%h3 {
    font-family: $font-family-serif;
    font-size: 24px;
    line-height: 27px;
}

%h4 {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}