@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.container {
  position: relative;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  @media (--ktl-ds-only) {
    margin-left: 190px;
    margin-right: 0;
  }
}

.container :global(.rs-subtitle-2) {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 96px;

  @media (--ktl-ts-down) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
  }
}

.container :global(.rs-subtitle-2) small {
  font-size: 16px;
  line-height: 20px;
  color: rgba(25, 25, 28, 0.8);
}

.container :global(.rs-subtitle-2 p) {
  margin: 12px 0;
}

.container :global(.info-block) {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  padding-left: 56px;
  background-image: url("/images/case-studies/content/info.svg");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 24px 24px;
}

.container h1, .container h2, .container h3, .container h4 {
  color: rgba(25, 25, 28);
  margin-top: 48px;
}

.container h1, .container h2 {
  color: rgba(25, 25, 28);
  margin-top: 96px;
}

.container h3, .container h4 {
  margin-top: 48px;
}

.container strong, .container b {
  color: rgba(25, 25, 28);
}

.container p {
  text-align: left;
}

.container p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container a {
  color: inherit;
  text-decoration-line: none;
  border-bottom: 1px solid rgba(25, 25, 28, 0.4);
  cursor: pointer;

  &:hover {
    border-bottom-color: rgb(25, 25, 28);
  }
}

.container blockquote {
  position: relative;
  padding-left: 72px;
  margin: 48px 0;
  color: rgba(25, 25, 28, 0.8);

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 50px;
    height: 30px;
    background-image: url("/images/case-studies/content/quotes.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.container li {
  margin-bottom: 12px;
}

.share {
  margin-top: 64px;
  padding-top: 32px;
  margin-bottom: 64px;
  border-top: 1px solid rgba(25, 25, 28, 0.4);

  @media (--ktl-ds-up) {
    position: absolute;
    top: 0;
    left: 0;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 0;
  }
}

.share a {
  border: none;
}
