.container {
  max-width: 800px;
}

.container h1, .container h2, .container h3, .container h4 {
  color: rgba(25, 25, 28);
}

.container p {
  text-align: left;
}

.container p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container a {
  color: inherit;
  text-decoration-line: none;
  border-bottom: 1px solid rgba(25, 25, 28, 0.4);
  cursor: pointer;

  &:hover {
    border-bottom-color: rgb(25, 25, 28);
  }
}

.share {
  margin-top: 64px;
  padding-top: 32px;
  margin-bottom: 64px;
  border-top: 1px solid rgba(25, 25, 28, 0.4);
}

.share a {
  border: none;
}
