@import "../../utils/all";

/* Buttons */
%button {
    @include user-select(none);
    @include box-sizing;
    @include transition(0.07s linear);
    position: relative;
    display: inline-block;
    padding: 8px 19px;
    background: #f1f1f1;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
%button::-moz-focus-inner { border: none; padding: 0 1px }


/* default */
.button_default {
    @extend %button;
    @include linear-gradient($from: #68c0ff, $to: #4ea9ff);
    color: #fff;
}