.page-title, .page-content h1 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 48px;
  line-height: 54px; }

.page-content h2 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 30px;
  line-height: 33px;
  color: #404041; }

.page-content h3 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 24px;
  line-height: 27px; }

.page-content ul, .page-content ol {
  margin-bottom: 15px; }
  .page-content ul li {
    margin-bottom: 10px;
    margin-left: 20px; }
    .page-content ul li:last-child {
      margin-bottom: 0; }
    .page-content ul li:before {
      position: absolute;
      margin-top: 8px;
      margin-left: -13px;
      width: 4px;
      height: 4px;
      background: #b4c9d1;
      border-radius: 50%;
      content: ''; }
  .page-content ol li {
    margin-bottom: 10px; }
    .page-content ol li:last-child {
      margin-bottom: 0; }

.page-content .highlight code {
  padding: 10px 26px 10px;
  font-size: 14px;
  font-family: "Droid Sans Mono", monospace;
  line-height: 18px;
  background: #f1f6f8;
  border: 1px solid #cae0e9;
  border-radius: 12px; }

.page-title {
  margin-bottom: 40px; }

.page-content h1 {
  margin-bottom: 40px; }
.page-content p + h1,
.page-content ul + h1,
.page-content ol + h1,
.page-content .highlight + h1 {
  margin-top: 50px; }
.page-content h2 {
  margin-bottom: 32px; }
.page-content p + h2,
.page-content ul + h2,
.page-content ol + h2,
.page-content .highlight + h2 {
  margin-top: 40px; }
.page-content h3 {
  margin-bottom: 24px; }
.page-content p + h3,
.page-content ul + h3,
.page-content ol + h3,
.page-content .highlight + h3 {
  margin-top: 30px; }
.page-content p {
  margin-bottom: 15px;
  line-height: 20px; }
.page-content img {
  max-width: 100%; }
.page-content code {
  font-family: "Droid Sans Mono", monospace;
  background-color: #eee;
  padding-left: 2px;
  padding-right: 2px; }
.page-content .highlight {
  margin-bottom: 20px; }
  .page-content .highlight code {
    display: block; }
.page-content .keyword {
  color: #0000C0;
  padding: 5px;
  font-style: normal; }
.page-content .error {
  background-color: #ff0000; }
.page-content .warning {
  background-color: #ffff00; }
.page-content .key {
  background-color: #dfeef4; }
