.kotlin-overview-section .section-header, .global-content h1 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 48px;
  line-height: 54px; }

.global-content h2 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 30px;
  line-height: 33px;
  color: #404041; }

.kotlin-overview-section._why-kotlin .kotlin-qualities-list .quality-title, .global-content h3 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 24px;
  line-height: 27px; }

.global-content ul, .global-content ol {
  margin-bottom: 15px; }
  .global-content ul li {
    margin-bottom: 10px;
    margin-left: 20px; }
    .global-content ul li:last-child {
      margin-bottom: 0; }
    .global-content ul li:before {
      position: absolute;
      margin-top: 8px;
      margin-left: -13px;
      width: 4px;
      height: 4px;
      background: #b4c9d1;
      border-radius: 50%;
      content: ''; }
  .global-content ol li {
    margin-bottom: 10px; }
    .global-content ol li:last-child {
      margin-bottom: 0; }

.global-content .highlight code {
  padding: 10px 26px 10px;
  font-size: 14px;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace, serif;
  line-height: 18px;
  background: #f1f6f8;
  border: 1px solid #cae0e9;
  border-radius: 12px; }

/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
.kotlin-overview-section .section-header, .global-content h1 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 48px;
  line-height: 54px; }

.global-content h2 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 30px;
  line-height: 33px;
  color: #404041; }

.kotlin-overview-section._why-kotlin .kotlin-qualities-list .quality-title, .global-content h3 {
  font-family: "GraublauSlab Regular", Georgia, serif;
  font-size: 24px;
  line-height: 27px; }

.kotlin-overview-section {
  padding: 48px 0 24px; }
  .kotlin-overview-section .section-header {
    margin-bottom: 5px;
    text-align: center; }
  .kotlin-overview-section .section-description {
    font-size: 18px;
    margin-bottom: 22px;
    margin-bottom: 16px;
    text-align: center; }

.kotlin-overview-section._why-kotlin {
  overflow: hidden; }
  .kotlin-overview-section._why-kotlin .section-description {
    margin-bottom: 40px; }
  .kotlin-overview-section._why-kotlin .kotlin-qualities-list-wrap {
    /*
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    */
    margin: 0 -500%; }
  .kotlin-overview-section._why-kotlin .kotlin-qualities-list {
    position: relative;
    font-size: 0;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center; }
    .kotlin-overview-section._why-kotlin .kotlin-qualities-list:after {
      display: block;
      clear: both;
      height: 0;
      content: ''; }
    .kotlin-overview-section._why-kotlin .kotlin-qualities-list .list-item {
      display: inline-block;
      margin-left: 20px;
      padding: 0 0 48px;
      width: 240px;
      font-size: 14px;
      white-space: normal;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2); }
      .kotlin-overview-section._why-kotlin .kotlin-qualities-list .list-item:first-child {
        margin-left: 0; }
    .kotlin-overview-section._why-kotlin .kotlin-qualities-list .quality-image {
      background-image: -moz-linear-gradient(#e9f2ed, #78849b);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9f2ed), to(#78849b));
      background-image: -webkit-linear-gradient(#e9f2ed, #78849b);
      background-image: -o-linear-gradient(#e9f2ed, #78849b);
      height: 150px;
      margin: 0 0 24px; }
    .kotlin-overview-section._why-kotlin .kotlin-qualities-list .quality-title-pre-text {
      font-size: 14px;
      color: #8c8c8c;
      text-transform: uppercase; }
    .kotlin-overview-section._why-kotlin .kotlin-qualities-list .quality-title {
      margin-bottom: 8px; }
    .kotlin-overview-section._why-kotlin .kotlin-qualities-list .quality-description {
      max-width: 210px;
      margin: 0 auto 8px;
      color: #000; }

.kotlin-overview-code-example {
  position: relative;
  width: 840px;
  margin: 50px auto 20px; }
  .kotlin-overview-code-example .code-line {
    position: relative;
    overflow: hidden;
    margin-right: 180px; }
    .kotlin-overview-code-example .code-line:after {
      display: block;
      clear: both;
      height: 0;
      content: ''; }
  .kotlin-overview-code-example .code {
    position: relative;
    float: left;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace, serif;
    font-size: 31px;
    line-height: 35px;
    color: #9ebdd9;
    white-space: pre; }
    .kotlin-overview-code-example .code .keyword {
      color: #ff8b17; }
    .kotlin-overview-code-example .code .func-name {
      color: #ffcf7f; }
    .kotlin-overview-code-example .code .buildin-func-name {
      color: #b1c4d8;
      font-weight: bold;
      font-style: italic; }
    .kotlin-overview-code-example .code .string-literal {
      color: #78a35f; }
  .kotlin-overview-code-example .code-legend-text {
    position: absolute;
    top: 10px;
    right: -12px;
    width: 180px; }
  .kotlin-overview-code-example .code-legend-line {
    position: absolute;
    left: 100%;
    width: 600%;
    top: 19px;
    margin-left: 12px;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
    white-space: normal; }
  .kotlin-overview-code-example .code-legend-line-marker {
    position: absolute;
    right: 100%;
    width: 33px;
    height: 33px;
    border: 1px solid #fff;
    border-radius: 20px; }

.kotlin-overview-section._code-examples {
  color: #fff;
  background-color: #393939;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhBJREFUeNqElluSAjEMA5ngS3H/e8EGPIiu9lRtPqYCecmy5OR4PB7Hcdxut9en7c7xbf1P95/PZ0Y5c63F5d1nK226+71XpvYE9jO0d8+ffcBem9HuVA+sT+OAWmLizwAiAX1wIBaRdr+HCZynMmLCz5x8zwMCXGxkx0T9+jZmomE1pqztmDo9ldk5g3B6fZ9B6gic35yU5UtckxxNZQIUqHTBDFWEmC2iPKpFIlbyGaKEUNJvp6RJ/IX5OTJQsp5GYcSR7DuCqW5RNFtvSurZiTlOPmb2IowsIGO0lUapi5+TZw6zhtJUDmdhyD6bmVD63m2CmmuyF4MgDmZVE34+iFQaQg/H23SWTCsF03TvAzJ1Vj1VViJNBZOgZ9WqhE9/E6x8xPWy3mWZKlHfx8gTkmBslThUMFyuVWG47yzdvTX9qBzIfaW6psR2J8YmAtXHy1tk/19SWBiI0YSuNSZyOFlCWrxvZy2TMKJjpiqkXWq3JnFBqjPCg6qeiFJhLp0pgXJ986DbiVfCpSGWVNThs3iwyLAOcijUCd+Z5NQJKZX2JoJ/rwSSVmJ5VjH6M7mJVGZpoenOHIg1XmQid3/v93vWzyfhtQ+UmUTNhwLfZ5Nohu7X34HWeGep4dspJpCxVYJijkVVyA3JqqQcpQWHUPJb88nGefLE5Zts/snJFeUJ+EzjvNwVR4oY8f0JMADafXyiN4WApQAAAABJRU5ErkJggg==");
  background-repeat: repeat; }

.kotlin-overview-section._how-to-use {
  background-color: #fff; }
  .kotlin-overview-section._how-to-use .video-player {
    width: 594px;
    height: 405px;
    margin: 0 auto;
    position: relative; }
  .kotlin-overview-section._how-to-use .video-thumb {
    display: block;
    width: 594px;
    height: 405px;
    margin: 0 auto;
    background: url("images/how-to-use-kotlin-video-thumb.png") no-repeat; }
  .kotlin-overview-section._how-to-use .video-player-play-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 69px;
    height: 69px;
    margin-top: -35px;
    margin-left: -35px;
    background: url("images/video-player-play-button.png") no-repeat;
    cursor: pointer; }
  .kotlin-overview-section._how-to-use a:hover .video-player-play-button {
    opacity: 0.7; }

.kotlin-overview-section._get-kotlin {
  background-color: #003356;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpi5LKO/f///+8/fxmwAVYWZhag9PefvxhwgD9//zLh0g0HTAyEwLBSAQw1/CoAAgwAba4SlNFFbukAAAAASUVORK5CYII=);
  background-repeat: repeat;
  color: #fff; }

.kotlin-overview-section._why-kotlin, .kotlin-overview-section._more-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi/PTpEwMY8PLyMsFZnz9/ZoKzgAzG////Q1hAABBgAFeiDto+NxIZAAAAAElFTkSuQmCC");
  background-repeat: repeat; }

.global-content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 960px; }
  .global-content p + h1,
  .global-content ul + h1,
  .global-content ol + h1,
  .global-content .highlight + h1 {
    margin-top: 50px; }
  .global-content p + h2,
  .global-content ul + h2,
  .global-content ol + h2,
  .global-content .highlight + h2 {
    margin-top: 40px; }
  .global-content p + h3,
  .global-content ul + h3,
  .global-content ol + h3,
  .global-content .highlight + h3 {
    margin-top: 30px; }
  .global-content p {
    margin-bottom: 15px;
    line-height: 20px; }
  .global-content img {
    max-width: 100%; }
  .global-content code {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace, serif;
    background-color: #eee;
    padding-left: 2px;
    padding-right: 2px; }
  .global-content .highlight {
    margin-bottom: 20px; }
    .global-content .highlight code {
      display: inline-block; }
  .global-content .keyword {
    color: #0000C0;
    padding: 5px;
    font-style: normal; }
  .global-content .error {
    background-color: #ff0000; }
  .global-content .warning {
    background-color: #ffff00; }
  .global-content .key {
    background-color: #dfeef4; }
