@import '../../_config';

%icon {
    position: relative;
    display: inline-block;
    font-size: 0;
    letter-spacing: 0;
    background-repeat: no-repeat;
    background-position: 2000px 2000px;
}