@import '../../_config';

%icon {
    position: relative;
    display: inline-block;
    font-size: 0;
    letter-spacing: 0;
    background-repeat: no-repeat;
    background-position: 2000px 2000px;
}

%gray-icon {
    @extend %icon;
    background-image: url('#{$dir-com}/icon/gray-icon.png');

    &%icon_search {
        width: 22px;
        height: 22px;
        background-position: 0 0;
    }

    &%icon_twitter {
        width: 28px;
        height: 20px;
        background-position: 0 -50px;
    }

    &%icon_gplus {
        width: 20px;
        height: 20px;
        background-position: 0 -100px;
    }

    &%icon_blog {
        width: 20px;
        height: 18px;
        background-position: 0 -150px;
    }

    &%icon_youtrack {
        width: 23px;
        height: 23px;
        background-position: 0 -200px;
    }

    &%icon_forum {
        width: 21px;
        height: 20px;
        background-position: 0 -250px;
    }
}