/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
/* Buttons */
.global-header .try-kotlin-button, .global-header .get-kotlin-button, .page_index .global-header .get-kotlin-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 0 16px;
  border: 0;
  font-size: 14px;
  line-height: 32px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .page_index .global-header .get-kotlin-button {
    font-size: 18px;
    line-height: 52px;
    height: 54px;
    padding: 0 32px; }

.global-header .try-kotlin-button::-moz-focus-inner, .global-header .get-kotlin-button::-moz-focus-inner, .page_index .global-header .get-kotlin-button::-moz-focus-inner {
  border: none;
  padding: 0 1px; }

.global-header .try-kotlin-button, .global-header .get-kotlin-button {
  position: relative;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #bcc0c6;
  color: #49525e; }
  .global-header .try-kotlin-button:hover, .global-header .get-kotlin-button:hover {
    background-color: #D7D9DB; }

.page_index .global-header .get-kotlin-button {
  position: relative;
  border-radius: 3px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ee9529;
  color: #fff;
  font-weight: normal; }
  .page_index .global-header .get-kotlin-button {
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1); }
  .page_index .global-header .get-kotlin-button:hover {
    background-color: #FFB62D; }

.global-header {
  background-image: -moz-linear-gradient(#6481A1, #4E7196);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6481A1), to(#4E7196));
  background-image: -webkit-linear-gradient(#6481A1, #4E7196);
  background-image: -o-linear-gradient(#6481A1, #4E7196);
  background-color: #6481A1;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .global-header:after {
    display: block;
    clear: both;
    height: 0;
    content: ''; }
  .global-header .g-layout {
    position: relative; }
  .global-header .try-kotlin-button {
    top: -1px; }
  .global-header .get-kotlin-button {
    top: -2px; }
    .global-header .get-kotlin-button .version {
      font-size: 12px; }
  .global-header .kotlin-info {
    padding-top: 120px;
    text-align: left; }
  .global-header .release-banner {
    display: inline-block;
    color: white;
    background: rgba(103, 133, 163, 0.4);
    opacity: 0.9;
    height: 54px;
    line-height: 52px;
    padding: 0 50px;
    margin-left: 250px;
    font-family: "GraublauSlab Regular", Georgia, serif;
    font-size: 28px;
    border-radius: 3px; }
  .global-header .release-banner__link {
    color: white;
    margin-left: 15px;
    font-size: 18px; }
  .global-header .kotlin-info-description {
    margin-bottom: 24px;
    color: #fff;
    font-size: 48px;
    line-height: 50px;
    font-family: "GraublauSlab Regular", Georgia, serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2), -1px 2px 1px rgba(0, 0, 0, 0.2); }
  .global-header .kotlin-info-description-extra {
    position: relative;
    margin-bottom: 72px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4); }
    @media (max-width: 810px) {
      .global-header .kotlin-info-description-extra {
        margin-bottom: 40px; } }

.page_index .global-header {
  box-sizing: border-box;
  height: 530px;
  background-image: url("images/index-page-header-bg.jpg");
  background-position: top center; }
  .page_index .global-header .get-kotlin-button {
    text-transform: uppercase; }

.global-header-panel {
  box-sizing: border-box;
  padding: 8px 0;
  height: 60px;
  background-color: #49525E; }
  .global-header-panel:after {
    display: block;
    clear: both;
    height: 0;
    content: ''; }
  .page_index .global-header-panel {
    background-color: #182333;
    background-color: rgba(24, 35, 51, 0.7); }

.global-header-logo {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
  top: 12px;
  float: left;
  width: 103px;
  height: 22px;
  background: url("images/logos-sprite.png") no-repeat;
  font-size: 0;
  text-decoration: none; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .global-header-logo {
      background-image: url("images/logos-sprite@2x.png");
      background-size: 200px 100px; } }

/*# sourceMappingURL=header.css.map */
