.neon-title {
  --neon-color: rgb(255 255 255 / 0);

  text-shadow: 0 0 0 var(--neon-color);
  cursor: default;
}

.neon-word {
  display: inline-block;
  white-space: nowrap; /* Prevent words from breaking */
}

.neon-char {
  display: inline-block;

  /* The glow intensity is calculated in JavaScript and applied via a CSS variable */
  text-shadow:
    0 0 5px var(--neon-color),
    0 0 10px var(--neon-color),
    0 0 20px var(--neon-color),
    0 0 40px var(--neon-color),
    0 0 80px var(--neon-color);
  transition: text-shadow 0.2s ease-out;
}
