@import '../../config';
@import '../../utils';
@import '../_header/_header';

.events-list {
}

.events-list-title {
    @extend %h2;
    margin-top: $unit*4;
    margin-bottom: $unit*2;
}

.events-list-item {
    margin-bottom: $unit*3 !important;

    .event-title {

    }

    .event-url {

    }

    .event-subject {
        font-weight: bold;
    }

    .event-speaker {

    }

    .event-location {

    }
    .event-date {

    }

    .event-content {

    }

    .event-content-list {
        margin: $unit 0;
    }

    .event-content-item-title {

    }

    .event-content-item-url {

    }

    .event-content-sublist {
        margin: $unit 0;
    }

    .event-content-subitem {

    }

    .event-content-subitem-title {

    }

    .event-content-subitem-url {

    }
}