@import '../../../../css/config';
@import '../../../../css/utils';

.event {
  padding: 20px;
  margin-left: -20px;

  &._normal {
    cursor: pointer;
  }

  &._detailed {
    background-color: #eee;
  }

  &._highlighted {
    background-color: rgb(229, 246, 255);
  }
}

.event-date {
  font-size: 14px;
  line-height: 15px;
  color: #666;
  white-space: nowrap;
}

.event-image {
  margin-bottom: 15px;
}

.event-title {
  font-size: 14px;
  padding-top: 11px;
}

.event-subject {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  font-weight: bold;
  color: #4c4c4c;

  .text {
    padding-right: 0;
  }
}

.event-info-indicators {
  display: inline-block;
  padding-left: 6px;
}

.event-content-item {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  background-image: url('../../../../css/com/layout/images/main-sprite.png');
  background-repeat: no-repeat;

  @include adapt_retina {
    background-image: url('../../../../css/com/layout/images/main-sprite@2x.png');
    background-size: 150px auto;
  }

  &:hover {
  }
}

.event-content-item._slides {
  top: 1px;
  width: 24px;
  height: 16px;
  background-position: 0 -250px;
}

.event-content-item:hover._slides {
  background-position: -50px -250px;
}

.event-content-item._video {
  top: 1px;
  width: 27px;
  height: 15px;
  background-position: 0 -200px;
}

.event-content-item._video:hover {
  background-position: -100px -200px;
}

.event-content-item._article {
  top: 2px;
  width: 16px;
  height: 19px;
  background-position: 0 -350px;
}

.event-content-item._article:hover {
  background-position: -50px -350px;
}

.event-content-item._pdf {
  top: 2px;
  width: 18px;
  height: 18px;
  background-position: 0 -300px;
}

.event-content-item._pdf:hover {
  background-position: -50px -300px;
}

.event-content-item._examples {
  top: 2px;
  width: 20px;
  height: 20px;
  background-position: -50px 0;
}

.event-content-item._examples:hover {
  background-position: 0 0;
}

.event-lang, .event-online {
  position: relative;
  display: inline-block;
  top: -3px;
  padding: 0 4px;
  margin-right: 8px;
  background-color: #a8a8a8;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.event-online {
  background-color: #68B357;
}

.event-speaker {
  font-size: 14px;
  padding-top: 10px;
  color: #666;

  &._detailed {
    padding-top: 0;
  }
}

.event-description {
  padding-top: 20px;
  
  &._detailed {
    background-color: #ccc;
  }

  .event._normal & {
    display: none;
  }

  .event._detailed & {
    display: block;
  }
}

.event-back-link {
  color: $base-link-color;
  cursor: pointer;

  &:hover {
    color: $base-link-hover-color;
  }

  .text {
    text-decoration: underline;
  }
}