<nav role="navigation" class="docs-nav">
    {% for item in nav.docs %}
        <div class="nav-item-wrap">
            {% if item.is_active() %}
                <a href="{{ baseurl }}{{ item.url }}" class="nav-item is_active">
                        <span class="nav-item-text">
                            {{ item.title }}
                        </span>
                </a>
            {% else %}
                <a href="{{ baseurl }}{{ item.url }}" class="nav-item">
                    <span class="nav-item-text">
                        {{ item.title }}
                    </span>
                </a>

            {% endif %}
        </div>
    {% endfor %}
</nav>