<nav class="global-nav">
    <ul class="nav-links">
        <li class="nav-item nav-item-platforms" data-tab-id="Platforms">
            <span class="nav-item-link">Platforms</span>
            <div class="platforms-menu platforms-menu-is-hidden">
                <ul class="platforms-menu-list">
                    <li class="platforms-menu-item"><a class="platforms-menu-item-link"
                                                       href="https://www.jetbrains.com/lp/mobilecrossplatform/"
                                                       target="_blank">Mobile cross-platform</a></li>
                    <li class="platforms-menu-item">
                        <a class="platforms-menu-item-link" href="https://kotlinlang.org/lp/server-side/"
                           target="_blank">
                            Server-side
                        </a></li>
                    <li class="platforms-menu-item">
                        <a class="platforms-menu-item-link"
                           href="https://kotlinlang.org/docs/reference/native-overview.html"
                           target="_blank">
                            Native
                        </a></li>
                    <li class="platforms-menu-item">
                        <a class="platforms-menu-item-link"
                           href="https://kotlinlang.org/docs/reference/js-overview.html"
                           target="_blank">Web development
                        </a></li>
                    <li class="platforms-menu-item">
                        <a class="platforms-menu-item-link"
                           href="https://kotlinlang.org/docs/reference/data-science-overview.html"
                           target="_blank">
                            Data science
                        </a></li>
                    <li class="platforms-menu-item">
                        <a class="platforms-menu-item-link platforms-menu-item-link-external"
                           href="https://kotlinlang.org/docs/reference/android-overview.html"
                           target="_blank">
                            Android ↗</a>
                    </li>
                </ul>
            </div>
        </li>
        {% for item in nav.main.content %}
            {% set domain_link = get_domain(item.url) %}
            <li class="nav-item" data-tab-id="{{ item.title }}"><a href="{{ item.url }}"
                                                                   class="nav-item-link {% if item.is_active %} nav-item-link-is_active{% endif %} {% if domain_link %} nav-item-link-external{% endif %}"
                    {% if domain_link %} target="_blank" {% endif %}>
                {{ item.title }}
            </a>
            </li>
        {% endfor %}

    </ul>
    <div class="search-button">
        <div class="icon"></div>
    </div>
</nav>
