{#
<div class="global-nav banner-container">
    <a class="banner-text" href="https://surveys.jetbrains.com/s3/kotlin-multiplatform-survey?utm_source=Twitter&utm_medium=Social&utm_campaign=The%20first%20KMP%20Survey%20" target="_blank">
        <div class="banner-item title">
            Take part in the first Kotlin Multiplatform user survey!
        </div>
        <div class="banner-item underline">
            Take Part!
        </div>
    </a>
    <div class="close-head-banner"></div>
</div>
#}
