{% macro side_tree_nav(nav) %}
    <nav role="navigation" class="side-tree-nav">
        {% for category in nav %}
            <div class="tree-item tree-branch js-item js-branch {% if category.is_active() %}_opened{% else %}_closed{% endif %}"
                 data-id="{{ category.title }}">

                <div class="tree-item-title tree-branch-title js-item-title js-branch-title">
                    <div class="marker"></div>
                    <div class="text">{{ category.title }}</div>
                </div>

                {% for item in category.items %}
                    <div class="tree-item tree-leaf js-item js-leaf">
                        {% if item.is_active() %}
                            <div class="tree-item-title tree-leaf-title js-item-title js-leaf-title is_active">
                                <div class="marker"></div>
                                <div class="text">{{ item.title }}</div>
                            </div>
                        {% else %}
                            <a href="{{ baseurl }}{{ item.url }}"
                               class="tree-item-title tree-leaf-title js-item-title js-leaf-title"
                            >
                                <span class="marker"></span>
                                <span class="text">{{ item.title }}</span>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </nav>
{% endmacro %}