@import '../../../css/_config';
@import '../../../css/_utils';
@import '../../../css/com/_bits/_pre';
@import '../../../css/com/_bits/_code';
@import '../../../css/com/_syntax-highlight/_syntax-highlight_dark';

$overview-section-width: 840px;

%kotlin-overview-pre-text {
    font-size: 14px;
    color: #8c8c8c;
    text-transform: uppercase;
}

%kotlin-overview-section-background-image {
    &%default {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi/PTpEwMY8PLyMsFZnz9/ZoKzgAzG////Q1hAABBgAFeiDto+NxIZAAAAAElFTkSuQmCC');
        background-repeat: repeat;
    }

    &%blue-paper {
        background-color: #557799;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpiTGxc8P///1+//zJgA2yszCxA6a/ffzHgAL///GXCpRsOmBgIgWGlAhhq+FUABBgAqVoTbokugwMAAAAASUVORK5CYII=');
    }
}

%kotlin-overview-popup {
    $popup-text-color: #fff;
    @extend %kotlin-overview-section-background-image%blue-paper;
    @include transition(all 0.5s);
    position: absolute;
    z-index: 2;
    top: 20px;
    bottom: auto;
    left: 0;
    right: 0;
    width: 860px;
    margin: auto;
    border-radius: 3px;
    box-shadow:
        1px 1px 6px 0 rgba(0, 0, 0, 0.2),
        inset 0 1px 1px 0 rgba(255,255,255, 0.3)
    ;
    text-align: left;

    &%_fixed {
        bottom: 20px;
    }

    &._hidden {
        visibility: hidden;
        opacity: 0;
    }
    &._hidden + %kotlin-overview-popup-overlay {
        visibility: hidden;
        opacity: 0;
    }

    .popup-content {
        margin: $unit*6 $unit*5 $unit*2 $unit*4;
        color: $popup-text-color;
        font-family: $font-family-sans-serif;
        font-size: 15px;
        line-height: 22px;

        h3 {
            border-bottom: 1px solid #fff;
            margin-bottom: $unit*3;
            padding-bottom: 6px;
            font-size: 24px;
            line-height: 27px;
            color: #fff;
        }

        h4 {
            font-size: 18px;
            line-height: 21px;
            color: #fff;
            margin-bottom: $unit*3;
        }
        p + h4 {
            margin-top: $unit*3;
        }

        a {
            color: $popup-text-color;
            text-decoration: underline;

            &:hover {
                color: #fff;
            }
        }

        p {
            margin-bottom: $unit*2;
        }

        ul {
            margin-bottom: $unit*2;

            li {
                margin-top: $unit;
                margin-left: 15px;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    position: absolute;
                    margin-left: -15px;
                    content: '-';
                }
            }
        }

        pre {
            @extend %pre;
            margin-bottom: $unit*2;
        }

        pre .code {
            @extend %code-block;
        }

        pre .code._highlighted {
            @extend %syntax-highlight_dark;
        }

        .image-block {
            background-color: #2B2B2B;
        }
    }
    &%_fixed .popup-content {
        position: absolute;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        top: 0;
        left: 0;
        right: -$unit*3;
        bottom: 0;
    }

    .popup-close-button {
        @include user-select(none);
        position: absolute;
        cursor: pointer;
        top: 5px;
        right: 5px;
        height: 0;
        color: #fff;
        opacity: 0.4;

        &:hover {
            opacity: 0.8;
        }

        &:after {
            display: inline-block;
            overflow: hidden;
            padding: 0 $unit;
            font-size: 70px;
            line-height: 56px;
            height: 35px;
            content: '\02df';
        }
    }
}

.ie9 %kotlin-overview-popup .popup-close-button {
    &:after {
        line-height: 64px;
    }
}

%kotlin-overview-popup-overlay {
    @include transition(all 0.5s);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}