@import '../../../css/_config';
@import '../../../css/_utils';
@import '../../../css/com/_bits/_pre';
@import '../../../css/com/_bits/_code';
@import '../../../css/com/_syntax-highlight/_syntax-highlight_dark';

.page__index-new .global-header-panel {
  background-color: #2b2b2b;
}

.kto-overview-section {
  font-family: Inter-UI, Arial, sans-serif;
  color: #27282C;

  padding-top: 40px;
}

.kto-overview-section_mode_dark {
  background-color: #2b2b2b;
  color: #F4F4F4;
}

.kto-overview-section a {
  color: #6B70FC;
  text-decoration: none;
}

.kto-overview-section a:hover {
  text-decoration: underline;
}

.kto-overview-section a.kto-button,
.kto-overview-section a.kto-button:hover,
.kto-overview-section a.kto-button:active,
.kto-overview-section a.kto-button:visited,
.kto-overview-section a.kto-button:any-link {
  text-decoration: none;
}

.kto-overview-section__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
}

@import "kotlin-intro-section";
@import "kotlin-banner-section";
@import "kotlin-news-section";
@import "kotlin-jump-section";
@import "kotlin-code-examples-section";
@import "kotlin-why-section";
@import "kotlin-highlights-section";
