@import "static/js/components/kto-link";

.kotlin-news-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: var(--l-space);
  margin-right: calc(-1*var(--s-space));
}

.kotlin-news-section__chunk {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  margin-top: calc(-1*var(--m-space));
}

.kotlin-news-section__item,
.kotlin-news-section__item:any-link {
  display: flex;
  flex-direction: column;

  flex: 1 1;
  min-width: 230px;
  margin-top: var(--m-space);
  margin-right: var(--s-space);

  box-sizing: border-box;
  text-decoration: none;
}

.kotlin-news-section__title {
  @include kto-link;
  @include kto-link_theme_dark;
}

.kotlin-news-section__item .kto-text_size_m {
  color: #fff;
  margin-top: var(--xs-space);
}

.kotlin-news-section__item .kto-text_size_s {
  color: rgba(255, 255, 255, 0.5);
}
