.kotlin-banner-section {
  padding-top: 64px;
}

.kotlin-banner-section__link {
  display: block;
}

.kotlin-banner-section__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 30px;
}