.kotlin-why-section {
  margin-top: 0;
  padding-top: var(--xxl-space);
}

.kotlin-why-section__section {
  margin-bottom: var(--xxl-space);
}

.kotlin-why-section .kto-heading_size_hero {
  margin-bottom: var(--l-space);
}

.kotlin-why-section .kto-text_size_m {
  margin-bottom: var(--m-space);
}

.kotlin-why-section__media {
  margin-bottom: var(--l-space);
}

.kotlin-why-section__media_type_why {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.kotlin-why-section .CodeMirror pre.CodeMirror-line {
  font-size: 16px;
  line-height: 24px;
}
