.kotlin-banner-section {
  padding-top: var(--xxl-space);
  padding-bottom: var(--xxxl-space);
}

.kotlin-banner-section__link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.kotlin-banner-section__header {
  margin-bottom: var(--m-space);
}