@import "../../../../components/-vars-media";

.teach-sticky-menu {
  position: sticky;
  top: 0;
  z-index: 901;
}

@media (max-width: $breakpoint-xs) {
  .teach-sticky-menu__button {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
