{% set restyled=True %}
{% extends 'base.html' %}

{% block content %}
    <article role="main" class="page-content">
        <h1 class="kto-header kto-header_size_l">Kotlin for Education</h1>

        <p>
            Kotlin is a powerful real-world language suitable for teaching a wide range of computer science courses.
            Kotlin is loved  by educators and students alike.
        </p>

        <h2 class="kto-header kto-header_size_m">Why Teach Kotlin</h2>

        <ul class="edu-feature-list">
            <li class="edu-feature-list__item edu-feature-list__item_type_android">
                <b class="edu-feature-list__title">The language of Android</b>
                <p class="edu-feature-list__para">Revamp your course with the first-choice language for <a>Android development</a></p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_recognize">
                <b class="edu-feature-list__title">Academically recognized</b>
                <p class="edu-feature-list__para">22 of the top 100 universities in the Times Higher Education Rankings 2020 include Kotlin in their courses.</p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_popular">
                <b class="edu-feature-list__title">Popular in the industry</b>
                <p class="edu-feature-list__para">Kotlin is used by Twitter, Reddit, Pinterest, Uber, Coursera, Evernote, Slack, and Trello, just to name a few.</p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_easy">
                <b class="edu-feature-list__title">Easy to teach fundamental concepts</b>
                <p class="edu-feature-list__para">Kotlin makes it easy to teach algorithmic problem-solving, data structures, machine learning, compilers, databases, and many other concepts.</p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_paradigms">
                <b class="edu-feature-list__title">Supports multiple paradigms</b>
                <p class="edu-feature-list__para">Functional, imperative, object-oriented,  and procedural programming can all be practiced with Kotlin.</p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_interoperable">
                <b class="edu-feature-list__title">Interoperable</b>
                <p class="edu-feature-list__para">Seamless interoperability with the JVM ecosystem means that Kotlin can make use of numerous existing libraries.</p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_modern">
                <b class="edu-feature-list__title">Modern and concise language design</b>
                <p class="edu-feature-list__para">Kotlin's syntactic simplicity makes it beginner-friendly, while at the same time, it offers sophisticated features that ambitious students can aspire to learn.</p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_supports">
                <b class="edu-feature-list__title">Supports coding safety</b>
                <p class="edu-feature-list__para">Kotlin promotes writing programs correctly with static type checking, automatic  memory management, and null safety.</p>
            </li>
            <li class="edu-feature-list__item edu-feature-list__item_type_tooling">
                <b class="edu-feature-list__title">Tooling and learning materials</b>
                <p class="edu-feature-list__para">IntelliJ IDEA Ultimate supports Kotlin as a first-class citizen and is <a>free for educators and students</a>.
                    The variety of teaching open source resources from the community is ever-evolving.</p>
            </li>
        </ul>

        <h2 class="kto-header kto-header_size_m">Kotlin Courses Around the World</h2>

        <h2 class="kto-header kto-header_size_m">Story Highlights</h2>

        <h2 class="kto-header kto-header_size_m">Start Teaching Kotlin with These Resources</h2>
    </article>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css')|autoversion }}">
{% endblock %}
