.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  margin-bottom: 36px;
}

.text {
  white-space: pre-line;
  color: #fff;
  text-align: center;
}