.kto-text {
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.kto-text__size_m {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}

.kto-text__size_s {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.kto-text__size_xs {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

.kto-code {
  font-family: 'JetBrains Mono', 'Droid Sans Mono', 'Courier New', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
