.kto-tabs {
  display: flex;
  border-bottom: 1px solid rgba(39, 40, 44, 0.2);
}

.kto-tabs > .kto-tabs__item {
  color: #27282C;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  &, &:any-link {
    text-decoration: none;
  }

  padding: 12px 0;
  margin-right: 24px;
  margin-bottom: -1px;

  border-bottom: 1px solid transparent;

  &_active {
    border-bottom-color: #585DEF;
  }
}