.kto-header {
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  color: #27282C;

  margin-bottom: 32px;
}

.kto-header_size_m {
  font-size: 31px;
  line-height: 42px;
}

.kto-header_size_l {
  font-size: 45px;
  line-height: 52px;
}
