@mixin kto-link {
  position: relative;

  &, &:hover {
    text-decoration: none;
  }
}

.kto-link {
  @include kto-link;
}

@mixin kto-link_theme_dark {
  color: #fff;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  &::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #ffffff;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: height .3s;
    z-index: -1;
  }


  &:hover {
    color: #27282C;
    &::before {
      height: 100%;
    }
  }
}

@mixin kto-link-standalone {
  text-decoration: underline;

}

.kto-link_theme_dark {
  @include kto-link_theme_dark;
}

