.kto-quote {
  background: url("quote.svg") left top no-repeat;
  background-size: 32px 27px;

  padding: 0 0 0 64px;
}

.kto-quote__text {
  font-size: 24px;
  line-height: 36px;

  margin: 0;
  padding: 0 0 25px;
}

.kto-quote__author {
  font-size: 14px;
  line-height: 24px;
  color: rgba(39, 40, 44, 0.7);
  padding: 0;
}
