@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints/media.pcss";

/* Grid layout */
.gridNav {
    display: none;
}

@media (--ktl-ds-min) {
    .grid {
        display: flex;
    }

    .gridContent {
        max-width: 70%;
    }

    .gridNav {
        display: block;
        margin-left: 96px;
    }
}

/* Navigation */
.nav {
    position: sticky;
    top: 96px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navLink {
    text-decoration: none;
    color: var(--ktl-color-primary-light-theme);
}

.navItem:not(:last-child) {
    margin-bottom: 16px;
}

.navLink:hover {
    text-decoration: none;
    color: inherit;
}

/* Quote sections */
.quoteSectionInfo {
    display: none;
}

.quoteSectionInfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (--ktl-tm-min) {
    .quoteSectionGrid {
        display: flex;
    }

    .quoteSectionContent {
        max-width: 70%;
    }

    .quoteSectionInfo {
        display: block;
        margin-left: 32px;
    }
}

/* Links */
.link {
    text-decoration: none;
    color: rgba(39, 40, 44, 0.5);
    transition: color 0.3s;
}

.link:hover {
    text-decoration: none;
    color: rgba(39, 40, 44, 1);
}

.link .rs-link {
    --rs-link-color: rgba(39, 40, 44, 0.5);
    --rs-underline-color: rgba(39, 40, 44, 0.5);
}

.link:hover .rs-link {
    --rs-link-color: rgba(39, 40, 44, 1);
    --rs-underline-color: rgba(39, 40, 44, 1);
}

/* Anchor target offset for fixed header */
.anchorTarget {
    scroll-margin-top: 64px;
}

/* No list style */
.noListStyle {
    list-style: none;
    padding-left: 0;
}

.noListStyle li {
    list-style: none;
    padding-left: 0;
    &:before {
        display: none;
    }
}

