@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.wrapper {
  margin: 72px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;

  @media (--ktl-ds-up) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: #000;
  border-color: #8C38FF !important;
}

.cardHeader {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.cardHeaderText {
  margin-left: 24px;
}

.image {
  height: 64px;
  width: 64px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.name, .role {
  margin: 0;
}

.text p {
  margin: 24px 0 0;
}
