@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints/media.pcss";

.code {
    display: none;
}

.codeBlockWrapper {
    display: block;
    @media (--ktl-tm) {
        margin-left: -16px;
    }
}
