@import '../../config';
@import '../../utils';
@import '../_bits/_header';
@import '../_bits/_table';

.events-list {
}

.events-list-title {
    @extend %h2;
    margin: $vertical-rhythm-unit*2 0 $vertical-rhythm-unit;
}


.events-table {
    @extend %table;
    border-top: none;
    margin: 0;

    tr:hover {
        background-color: #F4F4F4;
    }

    .events-table-cell {
        &._title {}
        &._date {}
        &._subject {}
        &._content {}
    }

    .events-table-header-row {
        border-top: none;

        &:hover {
            background-color: transparent;
        }
    }

    .event-title {
        padding-right: 3px;
    }

    .event-url {

    }

    .event-subject {
        font-weight: bold;
    }

    .event-speaker {

    }

    .event-location {
        font-size: 12px;
        white-space: nowrap;
    }

    .event-date {
        font-size: 11px;
        color: #999;
        white-space: nowrap;
    }

    .event-content {

    }

    .event-content-list {
    }

    .event-content-item-title {

    }

    .event-content-item-url {

    }

    .event-content-link {
        display: inline-block;
        padding: 2px 2px;
        font-size: 0;

        &:hover {
            opacity: 0.7;
        }
    }

    .event-content-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;

        &._slides {background-image: url('images/slides.png');}
        &._video {background-image: url('images/video.png');}
    }
}