@import '../../config';
@import '../../utils';


.page-link-to-github {
    position: relative;
    display: inline-block;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    color: #828282;
    font-size: 12px;
    padding: 4px 10px;
    text-decoration: none;

    &:hover {
        color: $base-color;
        border-color: $base-color;
    }

    .github-icon {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../layout/images/main-sprite.png');
        background-repeat: no-repeat;
        background-position: -50px 0;

        @include adapt_retina {
            background-image: url('../layout/images/main-sprite@2x.png');
            background-size: 150px auto;
        }
    }
    &:hover .github-icon {
        background-position: 0 0;
    }

    .text {
        padding-left: 27px;
    }
}