@import '../../../css/_utils';

.search-button {
  z-index: 1;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.8;
  padding: 5px;
  .icon {
    background: url('../../../css/com/layout/images/main-sprite.png') no-repeat 0 -550px;
    width: 23px;
    height: 23px;

    @include adapt_retina {
      background-image: url('../../../css/com/layout/images/main-sprite@2x.png');
      background-size: 150px auto;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.search-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: white;
  min-width: 100%;
  z-index: 100;

  .search-popup__content {
    margin: 40px 170px 100px;
  }

  .search-popup__controls {
    display: flex;
  }

  .ais-search-box--input {
    flex-grow: 1;
    font-size: 70px;
    border-width: 0;
    font-weight: bold;
    margin-bottom: 40px;
    caret-color: #888fa3;

    &:focus {
      outline: none;
    }
  }

  .search-popup__close {
    width: 36px;
    height: 36px;
    background: url("./icons/button_close.svg");
  }

  .search-result {
    display: flex;
    padding: 15px 15px;
    margin-left: 130px;
    margin-right: 130px;

    &:hover {
      border: 1px solid #e9f0f4;
      border-radius: 2px;
      box-shadow: 0 5px 7px rgba(34, 31, 58, 0.1);

      .search-result__title,
      .search-result__delimiter,
      .search-result__type {
        color: #25a4f2;
      }
    }
  }

  em {
    font-style: normal;
    background: #e9f0f4;
  }

  .search-result__type,
  .search-result__title,
  .search-result__delimiter{
    font-size: 16px;
    font-weight: bold;
    color: #221f3a;
  }

  .search-result__delimiter {
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-result__type {
    width: 150px;
  }

  .search-result__title {
    margin-bottom: 10px;
  }

  .search-result__details {
    color: #888fa3;
    font-size: 14px;
    line-height: 20px;
  }

  a {
    text-decoration: none;
  }

}

