@import "../../_config";
@import "../../util/_grid";

html {
  @media (max-width: 1030px) {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.g-layout {
  margin-left: auto;
  margin-right: auto;
  width: $grid-width;

  @media (max-width: 1000px) {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.g-grid {
  @include grid-row;

  .api-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .api-layout_button-box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .api-stdlib-page {
      padding-left: 30px;
    }

    .scroll-button-top {
      background-image: url("../layout/images/arrow-top.svg");
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
      width: 34px;
      height: 34px;

      &:hover,
      &:focus {
        background-image: url("../layout/images/arrow-top.svg");
      }
    }

    .scroll-button-back,
    .scroll-button-top {
      display: none;
      color: #27282C;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      border: 1px solid rgba(39, 40, 44, 0.4);
      border-radius: 24px;
      padding: 4px 12px;
      outline: none;
      text-decoration: none;

      &:hover,
      &:focus {
        border-color: rgba(39, 40, 44, 0.7);
        background-color: #F5F5F5;
        color: #27282C;
        cursor: pointer;
      }
    }

    .scroll-button-top_visible {
      display: flex;
      position: sticky;
      top: 90vh;
      left: 0;
    }

    .scroll-button-back_visible {
      display: flex;
      position: sticky;
      top: 30px;
      left: 0;
    }
  }
}

@for $i from 1 through 12 {
  .g-#{$i} {
    @include grid-col;
    @include grid-span($i, $is-fluid: true);
  }
}

