@import "../../_config";
@import "../../util/_grid";

html {
    @media (max-width: 1030px) {
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.g-layout {
    margin-left: auto;
    margin-right: auto;
    width: $grid-width;

    @media (max-width: 1000px) {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.g-grid {
    @include grid-row;
}

@for $i from 1 through 12 {
    .g-#{$i} {
        @include grid-col;
        @include grid-span($i, $is-fluid: true);
    }
}

