@import '../../config';

%blockquote {

    &.note {
        padding: 20px 40px;
        background-color: #FFFFE3;
        background-image: url(data:image/gif;base64,R0lGODlhEAAQAOYAAAIGEe7kANGuIOvNhLaTDfDgUN2/enJ0QPbSOPjw38+qR7yeN/DiwzU2P9rGAvTfqvPpF+PUuvHibOG+XuLQqcmtffDjlPHPRbaOKN3NoCYnOP//AI6IGt3cRsulQ0A3Hvf3KtrOIPbkWPXoQfDeiefUdxASIfLlK+zadsCZKLSMGP/7HdOuV/fu2PPnpfn1AO3cWs6mNN3DadSsO/3jMu/fh+/euNi2Svz1CLyWEsOdP//oR+jTgvbuBvrlZ/z25fbuIb+YIOjTpLuUG8KbNffmpfbpsffqyfbmnf7yJuXJI9OwMfHjVvbrQLidEuzce9itQvrxGfHhlMehQM+tJ+vZhzg8RRAUK+vmMuzbYePHb/LouN61SP//Cffrpv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUUAF8ALAAAAAAQABAAAAeWgF+Cg4SFhl8tCh42h4VcW0YejYMPWi5SJQaTXzNIS1Q+MQmNAzwXAFdKTCyHPzMWCCYaISMCDIYTVU87Hw0rJ0ALhUc3NRIiHAdJEDgOGYRQUihZBVgdED0vG0ODQjIkKDAjBE442hsBFYJTLk9ZMDQfVl0b9RsE617GTE1RIPb1VAiioINIihRBhuRYuBBDhE0QIwYCADs=);
        background-repeat: no-repeat;
        background-position: 15px 24px;
        font-family: $font-family-sans-serif;

        p:last-child {
            margin-bottom: 0;
        }

        code {
            padding: 0;
            background-color: transparent;
        }
    }
}