@import '../../_config';
@import '_pre';

%code-block {
    display: block;
    padding: 15px 20px;
    font-family: $font-family-mono;
}

%code-span {
    font-family: $font-family-mono;

    &%_decorated {
        padding: 0 5px;
        border-radius: 4px;
        background-color: #efefef;
    }
}