@import '../../_config';
@import '../../_utils';
@import '../_bits/_header';
@import '../_bits/_button';
@import '_lib';

.kotlin-overview-section {
    padding-top: $unit*4;
    padding-bottom: $unit*4;

    .section-header {
        margin-bottom: 5px;
        font-family: $font-family-serif;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
    }

    .section-description {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: $unit*2;
        text-align: center;
    }

    .section-content {

    }

    .overview-popup {
        @extend %kotlin-overview-popup;
        @extend %kotlin-overview-popup%_fixed;
    }
}

.kotlin-overview-section._features {
    $item-width: 240px;
    $item-margin: 24px;
    $item-count: 4;
    $carousel-width: (($item-width + $item-margin) * $item-count) - $item-margin;
    @extend %kotlin-overview-section-background-image%default;
    position: relative;
    text-align: center;
    overflow: hidden;

    .section-header {
        margin-bottom: 30px;
    }

    .section-description {
        margin-bottom: $unit*5;
    }

    .kotlin-features-carousel-wrap {
        position: relative;
        display: inline-block;
        padding: 0 50px;
        margin: auto;
        white-space: nowrap;
    }

    .kotlin-features-carousel {
        overflow: hidden;
        width: $carousel-width;
        padding: 0 8px;

        @media (max-width: 1165px) {
            width: $carousel-width - ($item-width + $item-margin);
        }

        @media (max-width: 930px) {
            width: $carousel-width - (($item-width + $item-margin) * 2);
        }
    }

    .kotlin-features-carousel-nav {
        &._prev {
            @extend %kotlin-overview-carousel%nav-prev;
        }

        &._next {
            @extend %kotlin-overview-carousel%nav-next;
        }
    }

    .kotlin-features-list {
        @include clearfix;
        display: inline-block;
        position: relative;
        left: 0;
        font-size: 0;
        margin: 0 auto;
        text-align: center;

        .kotlin-feature {
            position: relative;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
            width: $item-width;
            margin-right: $item-margin;
            margin-bottom: 10px;
            padding: 0;
            min-height: 340px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.12);
            font-size: $base-font-size;
            white-space: normal;
            vertical-align: top;

            &:hover {
                //box-shadow: 0 1px 2px 0px rgba(132, 181, 230, 1);
                box-shadow: 0 1px 9px 1px #84b5e6;
                cursor: pointer;
            }

            &._tooling {
            }
            &._concise {
            }
            &._expressive {
            }
            &._safe {
            }
            &._versatile {
            }
            &._interoperable {
            }
        }

        .feature-image {
            @extend %kotlin-overview-section-background-image%blue-paper;
            position: relative;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: #557799;
            background-repeat: repeat;
            height: 165px;
            margin: 0 0 $unit*3;

            &:after {
                @include linear-gradient($from: rgba(255, 255, 255, 1), $to: rgba(255, 255, 255, 0));
                position: absolute;
                opacity: 0.3;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
            }
        }

        .feature-icon {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: url('images/kotlin-features-sprite.png') no-repeat 200% 200%;

            @include adapt_retina {
                background-image: url('images/kotlin-features-sprite@2x.png');
                background-size: 100px 600px;
            }

            &._tooling {
                width: 47px;
                height: 47px;
                background-position: 0 0;
            }
            &._concise {
                width: 31px;
                height: 56px;
                background-position: 0 -100px;
            }
            &._expressive {
                width: 79px;
                height: 55px;
                background-position: 0 -200px;
            }
            &._safe {
                width: 39px;
                height: 59px;
                background-position: 0 -300px;
            }
            &._versatile {
                width: 58px;
                height: 57px;
                background-position: 0 -400px;
            }
            &._interoperable {
                width: 55px;
                height: 72px;
                background-position: 0 -500px;
            }
        }

        .feature-title-pre-text {
            @extend %kotlin-overview-pre-text;
        }

        .feature-title {
            font-size: 24px;
            line-height: 27px;
            font-family: $font-family-serif;
            margin-bottom: $unit;
        }

        .feature-description {
            max-width: 210px;
            margin: 0 auto $unit;
            color: #000;
            text-align: center;
        }

        .feature-example-link {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            color: $base-link-color;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $base-link-hover-color;
            }
        }
    }

    .overview-popup {
        @extend %kotlin-overview-popup;
        @extend %kotlin-overview-popup%_fixed;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhBJREFUeNqElluSAjEMA5ngS3H/e8EGPIiu9lRtPqYCecmy5OR4PB7Hcdxut9en7c7xbf1P95/PZ0Y5c63F5d1nK226+71XpvYE9jO0d8+ffcBem9HuVA+sT+OAWmLizwAiAX1wIBaRdr+HCZynMmLCz5x8zwMCXGxkx0T9+jZmomE1pqztmDo9ldk5g3B6fZ9B6gic35yU5UtckxxNZQIUqHTBDFWEmC2iPKpFIlbyGaKEUNJvp6RJ/IX5OTJQsp5GYcSR7DuCqW5RNFtvSurZiTlOPmb2IowsIGO0lUapi5+TZw6zhtJUDmdhyD6bmVD63m2CmmuyF4MgDmZVE34+iFQaQg/H23SWTCsF03TvAzJ1Vj1VViJNBZOgZ9WqhE9/E6x8xPWy3mWZKlHfx8gTkmBslThUMFyuVWG47yzdvTX9qBzIfaW6psR2J8YmAtXHy1tk/19SWBiI0YSuNSZyOFlCWrxvZy2TMKJjpiqkXWq3JnFBqjPCg6qeiFJhLp0pgXJ986DbiVfCpSGWVNThs3iwyLAOcijUCd+Z5NQJKZX2JoJ/rwSSVmJ5VjH6M7mJVGZpoenOHIg1XmQid3/v93vWzyfhtQ+UmUTNhwLfZ5Nohu7X34HWeGep4dspJpCxVYJijkVVyA3JqqQcpQWHUPJb88nGefLE5Zts/snJFeUJ+EzjvNwVR4oY8f0JMADafXyiN4WApQAAAABJRU5ErkJggg==');
        background-repeat: repeat;

        @media (max-width: 1050px) {
            bottom: auto;
            min-height: 500px;
        }
    }

    .overview-popup_versatile {
        .logos-list {
            font-size: 0;
        }

        .logos-list-item {
            position: relative;
            display: inline-block;
            font-size: $base-font-size;
            width: 50%;
            margin-bottom: 27px;
            vertical-align: top;

            &:last-child {
                margin-bottom: 0;
            }

            .logo {
                position: relative;
                float: left;
                margin-right: 20px;
                background: url('images/logos-sprite.png') no-repeat;

                @include adapt_retina {
                    background-image: url('images/logos-sprite@2x.png');
                    background-size: 100px 500px;
                }

                &._android {
                    top: -5px;
                    width: 65px;
                    height: 77px;
                    background-position: 0 0;
                }
                &._tomcat {
                    width: 91px;
                    height: 64px;
                    background-position: 0 -100px;
                }
                &._js {
                    width: 66px;
                    height: 66px;
                    background-position: 0 -200px;
                }
                &._javaee {
                    top: -19px;
                    width: 51px;
                    height: 90px;
                    margin-left: 20px;
                    margin-right: 39px;
                    background-position: 0 -300px;
                }
                &._html5 {
                    top: -10px;
                    width: 58px;
                    height: 82px;
                    background-position: 0 -400px;
                }
            }

            .description {
                display: block;
                margin-right: 40px;
            }
        }
    }

    .overview-popup-overlay {
        @extend %kotlin-overview-popup-overlay;
    }
}

.kotlin-overview-section._code-examples {
    @include clearfix;
    position: relative;
    padding-top: 0;
    padding-bottom: $unit*5;
    color: #fff;
    background-color: #393939;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhBJREFUeNqElluSAjEMA5ngS3H/e8EGPIiu9lRtPqYCecmy5OR4PB7Hcdxut9en7c7xbf1P95/PZ0Y5c63F5d1nK226+71XpvYE9jO0d8+ffcBem9HuVA+sT+OAWmLizwAiAX1wIBaRdr+HCZynMmLCz5x8zwMCXGxkx0T9+jZmomE1pqztmDo9ldk5g3B6fZ9B6gic35yU5UtckxxNZQIUqHTBDFWEmC2iPKpFIlbyGaKEUNJvp6RJ/IX5OTJQsp5GYcSR7DuCqW5RNFtvSurZiTlOPmb2IowsIGO0lUapi5+TZw6zhtJUDmdhyD6bmVD63m2CmmuyF4MgDmZVE34+iFQaQg/H23SWTCsF03TvAzJ1Vj1VViJNBZOgZ9WqhE9/E6x8xPWy3mWZKlHfx8gTkmBslThUMFyuVWG47yzdvTX9qBzIfaW6psR2J8YmAtXHy1tk/19SWBiI0YSuNSZyOFlCWrxvZy2TMKJjpiqkXWq3JnFBqjPCg6qeiFJhLp0pgXJ986DbiVfCpSGWVNThs3iwyLAOcijUCd+Z5NQJKZX2JoJ/rwSSVmJ5VjH6M7mJVGZpoenOHIg1XmQid3/v93vWzyfhtQ+UmUTNhwLfZ5Nohu7X34HWeGep4dspJpCxVYJijkVVyA3JqqQcpQWHUPJb88nGefLE5Zts/snJFeUJ+EzjvNwVR4oY8f0JMADafXyiN4WApQAAAABJRU5ErkJggg==');
    background-repeat: repeat;

    .section-content {
        text-align: center;
    }

    .more-link-wrap {
        @include clearfix;
        max-width: $overview-section-width;
        padding-right: $grid-spacing / 2;
        margin: 0 auto;
    }

    .more-link {
        float: right;
        font-size: 18px;
        color: $base-link-hover-color;

        &:hover {
            color: #fff;
        }
    }
}

.kotlin-overview-code-example {
    $legend-width: 180px;
    $legend-spacing: 10px;

    display: inline-block;
    position: relative;
    max-width: $overview-section-width;
    margin: $unit*4 auto $unit*5;

    &.is_hidden {
        display: none;
    }

    .code-line {
        @include clearfix;
        position: relative;
        text-align: left;
    }

    .code {
        float: left;
        margin-right: $legend-spacing - 2px;
        font-family: 'Droid Sans Mono', $font-family-mono;
        font-size: 30px;
        line-height: 37px;
        color: #9ebdd9;
        white-space: pre;

        .generic-code {
            color: #9ebdd9;
        }
        .keyword {
            color: #ff8b17;
        }
        .class-name {
            color: #9ebdd9;
        }
        .func-name {
            color: #ffcf7f;
        }
        .buildin-func-name {
            color: #b1c4d8;
            font-weight: bold;
            font-style: italic;
        }
        .string-literal {
            color: #78a35f;
        }
        .var-name {
            color: #a165cb;
        }
        .number {
            color: #3489ca;
        }
        .string-literal-var-substitution {
            color: #ff8b17;
        }
    }

    .code-legend {
        position: relative;
        white-space: normal;

        @media (max-width: 900px) {
            display: none !important;
        }

        &.align_left {
            position: absolute;
            display: block;
            right: 100%;
        }

        &.align_right {
            display: table;
            margin-right: $legend-width;

            &:after {
                content: '. .';
                display: block;
                word-spacing: 99in;
                height: 0;
                overflow: hidden;
                font-size: 0;
                line-height: 0;
            }
        }
    }
    .ie & .code-legend.align_right:after {
        font-size: 1px;
    }

    .code-legend-line {
        position: absolute;
        top: 21px;
        height: 1px;
        background-color: #fff;
        opacity: 0.2;
    }
    .code-legend.align_left .code-legend-line {
        right: 0;
        width: 30px;
        margin-right: $legend-spacing;
    }
    .code-legend.align_right .code-legend-line {
        left: 0;
        right: 0;
    }

    .code-legend-text {
        position: absolute;
        z-index: 1;
        top: 11px;
        width: $legend-width;

        a {
            color: #fff;

            &:hover {
                color: $base-link-hover-color;
            }
        }
    }
    .code-legend.align_left .code-legend-text {
        right: 100%;
        margin-right: 30px + $legend-spacing*2;
        text-align: right;
    }
    .code-legend.align_right .code-legend-text {
        left: 100%;
        margin-left: $legend-spacing;
    }

    .code-legend-line-marker {
        position: absolute;
        //right: 100%;
        top: 5px;
        width: 33px;
        height: 33px;
        border: 1px solid #fff;
        border-radius: 100%;
        opacity: 0.2;
    }
}

.kotlin-overview-code-example-tabs {
    position: relative;
    margin-bottom: $unit*4;
    background-color: #3c3d3e;
    border-top: 1px solid #343537;
    border-bottom: 3px solid #4f4f4e;
    padding-bottom: 2px;
    box-shadow: inset 0 1px 0 0 #5e5f60,
    inset 0 -3px 10px 0px rgba(0, 0, 0, 0.4),
    0 1px 0 0 #444548;
    font-size: 0;

    &:before {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        border-top: 1px solid #585858;
        border-bottom: 1px solid #525251;
        background-color: #5d5d5d;
        content: '';
    }

    .tab {
        @include user-select(none);
        position: relative;
        z-index: 2;
        display: inline-block;
        cursor: pointer;
        padding: 0 15px;
        line-height: 36px;
        height: 34px;
        border: 1px solid #343537;
        margin: -1px 0 0 -1px;
        background-color: #4c5052;
        box-shadow: inset 1px 1px 0 #494d4f,
        inset -1px -1px 0 #494d4f;
        font-size: $base-font-size;
        color: #d3d3d3;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);

        &:hover {
            background-color: #575D5F;
            color: #fff;
        }

        &.is_active {
            @include linear-gradient($from: #646464, $to: #4f4f4e);
            cursor: default;
            box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.2),
            inset -4px 0 1px -2px rgba(255, 255, 255, 0.2);
            background-color: #4F4F4E;
            border-width: 0;
            margin: 0;
            padding-right: 16px;
            padding-bottom: 1px;
            color: #fff;

            &:after {
                position: absolute;
                top: 100%;
                left: 1px;
                right: 2px;
                height: 2px;
                background-color: #4f4f4e;
                content: '';
            }

            &:last-child {
                border-right-width: 1px;
                box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.2),
                inset -3px 0 1px -2px rgba(255, 255, 255, 0.2);
            }
        }
    }

    .tab-text {
    }
}

.kotlin-overview-section._video-overview {
    $video-height: auto;

    position: relative;
    overflow: hidden;
    padding: 0;
    background-color: #fff;

    .video-player-wrap {
        @include transition(background-color 0.5s);
        height: $video-height;
        background-image: url('images/video-ajax-loader.gif');
        background-repeat: no-repeat;
        background-position: 200% 200%;
        text-align: center;

        &.is_showing-video {
            background-color: #000;
            background-position: center center;
        }

        .video-thumb-link {
            @include transition(all 0.3);
            display: inline-block;
            position: relative;
            margin: 30px auto;
            text-align: center;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        &.is_showing-video .video-thumb-link {
            @include animation(overview-video-scale 0.5s);
        }

        .video-thumb {
            opacity: 0.3;
            max-width: 100%;
            height: auto;
            margin: 0;
            vertical-align: top;
        }
        .video-thumb-link .video-thumb {
            opacity: 1;
        }

        .video-description {
            //opacity: 0.6;
            position: absolute;
            left: 0;
            bottom: 50%;
            width: 100%;
            margin-bottom: 40px;
            color: #fff;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

            .title {
                display: block;
                font-size: 45px;
                font-family: $font-family-serif;
                line-height: 50px;
                margin-bottom: $unit;
            }

            .description {

            }
        }
        .video-thumb-link:hover .video-description {
            opacity: 1;
        }

        .video-thumb-cover {
            @include transition(background-color 0.3s);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.15);
        }
        .video-thumb-link:hover .video-thumb-cover {
            background-color: rgba(0, 0, 0, 0.001);
        }

        .video-player-play-button {
            @include user-select(none);
            position: absolute;
            //opacity: 0.6;
            left: 50%;
            top: 50%;
            width: 69px;
            height: 69px;
            margin-top: -35px;
            margin-left: -35px;
            background: url('../layout/images/main-sprite.png') no-repeat;
            background-position: 0 -100px;
            cursor: pointer;

            @include adapt_retina {
                background-image: url('../layout/images/main-sprite@2x.png');
                background-size: 150px auto;
            }
        }
        a:hover .video-player-play-button {
            opacity: 1;
        }
    }

    .video-player {
        display: none;
        height: $video-height;

    }
}

.kotlin-overview-section._get-kotlin {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    background-color: #003356;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpi5LKO/f///+8/fxmwAVYWZhag9PefvxhwgD9//zLh0g0HTAyEwLBSAQw1/CoAAgwAba4SlNFFbukAAAAASUVORK5CYII=);
    background-repeat: repeat;

    .section-header {
        color: #fff;
    }

    .kotlin-version {
        margin-top: -7px;
        margin-bottom: $unit*2;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }

    .section-description {
        margin-bottom: $unit*4;
        color: #fff;
    }

    .get-kotlin-options-list {
        text-align: center;

        .option-item {
            @include grid-col;
            position: relative;
            width: 240px;
            padding: 10px 15px 30px;
            min-height: 360px;
            margin-left: $grid-spacing / 2;
            margin-right: $grid-spacing / 2;
            margin-bottom: $grid-spacing;
            background-color: #fff;
            border-radius: 4px;

            &:hover {
                box-shadow: 0px 0px 9px 3px #84b5e6;
            }

            &._standalone-compiler {
            }
            &._intellij-idea {
            }
        }

        .option-image {
            position: relative;
            display: block;
            margin: 15px auto 20px;
            width: 104px;
            height: 104px;
            background-color: #F2F2F2;
            border-radius: 50px;

            .jetbrains-logo._logo-intellij-idea._size-2 {
                margin: 22px;
            }
        }

        .option-image:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            margin: auto;
            background: url('images/get-kotlin-sprite.png') no-repeat 200% 200%;
            content: '';

            @include adapt_retina {
                background-image: url('images/get-kotlin-sprite@2x.png');
                background-size: 100px 250px;

            }
        }
        .option-image._standalone-compiler:after {
            width: 50px;
            height: 58px;
            background-position: 0 0;
        }

        .option-image._source-code:after {
            width: 50px;
            height: 47px;
            background-position: 0 -150px;
        }

        .option-image._try-online:after {
            width: 54px;
            height: 44px;
            background-position: 0 -200px;
        }

        .option-title-pre-text {
            @extend %kotlin-overview-pre-text;
        }

        .option-title {
            font-size: 21px;
            line-height: 27px;
            margin-bottom: 8px;
            white-space: nowrap;
        }

        .option-description {
            margin-bottom: 10px;

        }

        .option-link-wrap {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
        }

        .option-link {
            @extend %button_default;

        }
    }
}

.kotlin-overview-section._community {
    padding-top: $unit*6;
    padding-bottom: $unit*6;
    background-color: #2e2e2e;
    color: #fff;

    .section-header {
        font-size: 18px;
        line-height: 22px;
        font-family: $font-family-sans-serif;
        margin-bottom: $unit*4;
    }

    .links-list {
        font-size: 0;
        text-align: center;
        margin-bottom: -40px;
    }

    .links-list-item {
        display: inline-block;
        margin: 0 40px 40px;
        font-size: $base-font-size;

        .link {
            display: block;
            text-align: center;
            text-decoration: none;
        }

        .link-icon {
            position: relative;
            display: block;
            margin-bottom: 9px;
            width: 104px;
            height: 104px;
            background-color: #F2F2F2;
            border-radius: 50px;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                margin: auto;
                background-image: url('images/kotlin-community-sprite.png');
                background-repeat: no-repeat;
                background-position: 200% 200%;
                content: '';

                @include adapt_retina {
                    background-image: url('images/kotlin-community-sprite@2x.png');
                    background-size: 100px 200px;
                }
            }
            &._blog:after {
                width: 48px;
                height: 35px;
                background-position: 0 0;
                top: -2px;
                left: -3px;
            }

            &._forum:after {
                width: 59px;
                height: 42px;
                background-position: 0 -50px;
            }

            &._twitter:after {
                width: 48px;
                height: 40px;
                background-position: 0 -100px;
            }

            &._issue-tracker:after {
                display: none;
            }

            .jetbrains-logo._logo-youtrack._size-2 {
                margin: 22px;
            }
        }

        /*
        .link:hover .link-icon._blog {
            background-color: #FEF3E1;
        }

        .link:hover .link-icon._forum {
            background-color: #F4FFE2;
        }

        .link:hover .link-icon._twitter {
            background-color: #EAF9FD;
        }

        .link:hover .link-icon._issue-tracker {
            background-color: #DEEEFF;
        }
        */

        .link-text {
            color: #8c8c8c;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }

        .link:hover .link-text {
            color: $base-link-hover-color;
        }

        /*
        .link:hover .link-icon._forum + .link-text {
            color: #6CB800;
        }

        .link:hover .link-icon._twitter + .link-text {
            color: #2AA9E0;
        }

        .link:hover .link-icon._issue-tracker + .link-text {
            color: #0068F1;
        }
        */

    }
}

.kotlin-overview-section._testimonials {
    $item-width: 280px;
    $item-margin: 24px;
    $item-count: 3;
    $carousel-width: (($item-width + $item-margin) * $item-count) - $item-margin;
    @extend %kotlin-overview-section-background-image%default;

    .section-header {
        font-family: $font-family-sans-serif;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: $unit*4;
    }

    .testimonials-carousel-wrap {
        position: relative;
        margin: 0 auto;
        padding: 0 50px;
        width: $carousel-width;

        @media (max-width: 1023px) {
            width: $carousel-width - ($item-width + $item-margin);
        }

        @media (max-width: 600px) {
            width: $carousel-width - ($item-width + $item-margin) * 2;
        }
    }

    .testimonials-carousel {
        overflow: hidden;
    }

    .testimonials-carousel-nav {
        top: 85px !important;

        &._prev {
            @extend %kotlin-overview-carousel%nav-prev;
        }

        &._next {
            @extend %kotlin-overview-carousel%nav-next;
        }
    }

    .testimonials-list {
        //@include grid('.testimonials-list-item', 3, 40px);
        position: relative;
        white-space: nowrap;
        font-size: 0;
    }

    .testimonials-list-item {
        $corner-height: 24px;
        $quote-height: 150px;
        width: $item-width;
        margin-right: $item-margin;
        display: inline-block;
        font-size: $base-font-size;
        white-space: normal;

        .testimonial-quote {
            position: relative;
            box-sizing: border-box;
            display: block;
            margin: 5px 3px (5px + $corner-height);
            padding: 0 30px;
            min-height: $quote-height;
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            background-color: #fff;
            line-height: $quote-height;

            .text {
                display: inline-block;
                color: #666;
                font-style: italic;
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
                vertical-align: middle;
            }

            &:before,
            &:after {
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -$corner-height;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px $corner-height 0 $corner-height;
                border-color: transparent;
                content: '';
            }

            &:before {
                margin-top: 2px;
                border-top-color: #000;
                opacity: 0.08;
            }

            &:after {
                border-top-color: #fff;
            }
        }

        .testimonial-company {
            text-align: center;
            font-size: 20px;
            line-height: 50px;
            font-style: italic;
            font-weight: 300;
        }

        .testimonial-company-link {
            text-decoration: none;
        }
    }
}

@include animation-keyframes(overview-video-scale) {
    0% {
        @include transform(scale(1));
        opacity: 1;
    }

    100% {
        @include transform(scale(2));
        opacity: 0;
    }
}