/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
.keyword {
  color: #0000C0;
  padding: 5px;
  font-style: normal; }

.error {
  background-color: #ff0000; }

.warning {
  background-color: #ffff00; }

.key {
  background-color: #dfeef4; }

ul.list li {
  position: relative;
  margin: 0 0 10px; }

ul.list li:before {
  position: absolute;
  top: 0.7em;
  left: -10px;
  width: 4px;
  height: 4px;
  background: #627383;
  border-radius: 50%;
  content: ''; }

.pre._code {
  margin-bottom: 20px;
  padding: 10px 28px 10px;
  display: block;
  max-width: 75%;
  white-space: pre-wrap;
  font-size: 13px;
  line-height: 22px;
  background: #f1f6f8;
  border: 1px solid #cae0e9;
  border-radius: 12px; }

.kotlin, .java {
  margin-bottom: 20px;
  padding: 10px 28px 10px;
  display: block;
  max-width: 75%;
  white-space: pre-wrap;
  font-size: 13px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  line-height: 22px;
  background: #f1f6f8;
  border: 1px solid #cae0e9;
  border-radius: 12px; }

ul.navigation li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  border-top: solid 1px #dceaee; }

#toc {
  margin-top: 60px;
  margin-left: -540px;
  top: 0;
  left: 50%;
  position: fixed;
  width: 300px; }

#toc._scroll {
  margin-top: 10px; }

#toc a {
  padding: 10px;
  display: block;
  text-decoration: none;
  border-top: solid 1px #dceaee; }

#toc .toc-h3 a {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: none; }

#toc .toc-h3 a:before {
  margin-right: 3px;
  padding-left: 15px;
  content: "\2014";
  color: #d0cfcf; }

#toc .toc-active {
  background: #f2fcff;
  color: #222; }

/* - Common */
/* + Helpers */
.float-left {
  float: left; }

.float-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/* - Helpers */
/* + Clearfixes */
.container:after,
.btn-group:after,
.row:after {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  content: ''; }
