@import '../config';

@mixin selector-label {
  display: inline-block;
  font-weight: bold;
  padding-right: 5px;
}

@mixin selector-selector {
  display: inline-block;
}


.filter-panel {
  box-sizing: border-box;

  margin-right: -20px;
  padding: 15px 0;

  background-color: #fff;
  border-bottom: 1px solid $panel-border-color;
}

.filter-panel .dropdown-selected-value {
  background-color: transparent;

}

.filter-panel-time-selector {
  margin-bottom: 25px;
}

.filter-panel-language-selector {
  display: inline-block;

  max-width: 180px;
  margin-right: 10px;

  .label {@include selector-label;}
  .selector {@include selector-selector;}
}

.filter-panel-material-selector {
  display: inline-block;

  .label {@include selector-label;}
  .selector {@include selector-selector;}
}