<div class="filter-panel">
  <div class="filter-panel-time-selector js-time-selector"></div>

  <div class="filter-panel-language-selector">
    <div class="label">Language:</div><div class="selector js-language-selector"></div>
  </div>

  <div class="filter-panel-material-selector">
    <div class="label">Materials:</div><div class="selector js-material-selector"></div>
  </div>
</div>