@import 'config';
@import '../../../css/config';
@import '../../../css/utils';
@import '../../../css/com/_bits/header';
@import '../../../css/com/_bits/table';

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.events {
  display: flex;
  flex-direction: row;

  border-top: 1px solid $panel-border-color;
}

.events-list-col {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;

  box-sizing: border-box;
  padding-right: 20px;

  .list {
    padding-top: 0;

    &._hidden {
      display: none;
    }
  }
}

.events-map-col {
  //position: relative;

  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.events-map-panel {
  position: relative;

  width: 100%;
  height: 700px;
  box-sizing: border-box;

  .filter-panel {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .map {
    position: absolute;

    width: 100%;
    height: 100%;
  }

  &._fixed {
    //bottom: 0;
    //height: auto;
  }
}