@import "@rescui/typography/lib/font-jb-sans-auto.css";
@import "@jetbrains/kotlin-web-site-ui/out/components/common/index.css";

:root {
    --rs-color-primary-light-theme: var(--ktl-color-primary-light-theme);
    --rs-color-primary-t-dim-light-theme: rgba(127, 82, 255, 0.8);
}

html {
    min-width: 320px;
}

img {
    max-width: 100%;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: inherit;
}

body._no-scroll {
    overflow: hidden;
}

html,
body,
#__next {
    height: 100%;
}

body {
    /* Fix for mobile menu in safari*/
    right: 0;
    &.dark-theme {
        background: #19191C;
    }
}

:focus-visible {
    outline: none;
    box-shadow: none;
}

[data-test="input__inner"] {
    &:focus[data-focus-method=key] {
        outline: none;
        box-shadow: none;
    }
}
