@import "@rescui/typography/lib/font-jb-sans-auto.css";
@import "@jetbrains/kotlin-web-site-ui/out/components/common/index.css";

:root {
    --rs-color-primary-light-theme: var(--ktl-color-primary-light-theme);
    --rs-color-primary-t-dim-light-theme: rgba(127, 82, 255, 0.8);
}

html {
    min-width: 320px;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: inherit;
}

body._no-scroll {
    overflow: hidden;
}

body {
    /* Fix for mobile menu in safari*/
    right: 0;
    &.dark-theme {
        background: #19191C;
    }
}

:focus-visible {
    outline: none;
    box-shadow: none;
}

[data-test="input__inner"] {
    &:focus[data-focus-method=key] {
        outline: none;
        box-shadow: none;
    }
}

/* Legacy anchor link styles for education pages */
.kto-anchor-link {
    color: inherit;
    text-decoration: none;
}

.kto-anchor-link:any-link {
    color: inherit;
    text-decoration: none;
}

.kto-anchor-link::after {
    display: inline-block;
    content: '';
    background: center;
    background-size: 40px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

.kto-anchor-link:hover {
    text-decoration: none;
    color: inherit;
}

.kto-anchor-link:hover::after {
    background-image: url('/static/js/components/anchor.svg');
}

.kto-anchor-link--small::after {
    background-size: 32px;
    margin-left: 20px;
    height: 32px;
    width: 32px;
}
