@import "@rescui/typography/lib/font-jb-sans-auto.css";
@import "@jetbrains/kotlin-web-site-ui/out/components/common/index.css";

:root {
    --rs-color-primary-light-theme: var(--ktl-color-primary-light-theme);
    --rs-color-primary-t-dim-light-theme: rgba(127, 82, 255, 0.8);
}

html {
    min-width: 320px;
}

img {
    max-width: 100%;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: inherit;
}

body._no-scroll {
    overflow: hidden;
}

body {
    background: #19191C;
}
