@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints/media.pcss";

.evenSection {
    background: #fff;
    padding-top: var(--ktl-box-page-l);
}

.videoPlayer {
    max-width: 556px;
}

.ctaBlock {
    margin-top: 96px;
}

@media (--ktl-ts) {
    .ctaBlock {
        margin-top: 24px;
    }
}