{% extends 'base.html' %}
{% from 'inc/nav/side-tree-nav.html' import side_tree_nav %}

{% block scripts %}
    <script src="{{ url_for('static', filename='api.js')|autoversion }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='api.css')|autoversion }}">
{% endblock %}

{% block content %}
    <div class="g-grid">
        <aside class="g-3">
            <div class="js-side-tree-nav">
                {{ side_tree_nav(nav.reference.content) }}
            </div>
        </aside>

        <article role="main" class="page-content g-9">
            {{ page.content | safe }}
        </article>
    </div>
{% endblock %}