<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'inc/head.html' %}
    {% block styles %}{% endblock %}

    {% if page and page.title %}
        {% set title=page.title + ' - Kotlin Programming Language' %}
    {% else %}
        {% set title='Kotlin Programming Language' %}
    {% endif %}

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='common.css')|autoversion }}"/>
</head>
<body class="{% block body_class %}{% endblock %} {% if restyled %}page-restyled{% else %}page-old-styled {% endif %}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P98" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="global-layout">
    {% include 'inc/header.html' %}
    {% block page_outer_content %}
        <div class="g-layout global-content">
            {% include 'inc/nav/docs-nav.html' %}

            {% block content %}
                {{ page.html | safe }}
            {% endblock %}
        </div>
    {% endblock %}
    {% block page_after_content %}{% endblock %}
</div>

{% include 'inc/footer.html' %}
{% include 'inc/search-popup.html' %}

<script src="{{ url_for('static', filename='common.js')|autoversion }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>