<html>
<head>
    {% include 'inc/head.html' %}
    <script src="{{ url_for('static', filename='default.js') }}"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
</head>
<body>
{% include 'inc/analytics.html' %}

<div class="global-layout">

    {% include 'inc/header.html' %}

    <div class="g-layout global-content">
        {% block content %}
            {{ page.html | safe }}
        {% endblock %}
    </div>

</div>

{% include 'inc/footer.html' %}
</body>
</html>