<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="file:///{{ static_folder }}/css/reset.css"/>
    <link rel="stylesheet" href="file:///{{ static_folder }}/css/com/page-content/page-content.css"/>
</head>
<body>

{% for section in content %}
    {% if section.content %}
        <section>
            <h1 id="{{ section.id | lower }}" class="section-title">
                {{ section['title'] }}
            </h1>

            {% for page in section.content %}
                <article id="{{ page.id | lower }}" class="page-content">
                    {{ page['content'] | safe }}
                </article>
            {% endfor %}
        </section>
    {% endif %}
{% endfor %}

</body>
</html>