@import '../../_config';
@import '../../_utils';
@import '../_bits/_header';
@import '../_bits/_list';
@import '../_bits/_code';
@import '../_bits/_pre';
@import '../_bits/_table';
@import '../_bits/_blockquote';
@import '../_bits/_hr';
@import '../_syntax-highlight/_syntax-highlight_light';
@import '../_syntax-highlight/_syntax-highlight_dark';

// header
h1 {
    @extend %header;
    @extend %h1;
}

h2 {
    @extend %header;
    @extend %h2;
}

h3 {
    @extend %header;
    @extend %h3;
}

h4 {
    @extend %header;
    @extend %h4;
}

h5 {
    @extend %header;
    @extend %h5;
}

// list
ul {
    @extend %list%ul;
    line-height: 24px;
}

ol {
    @extend %list%ol;
    line-height: 24px;
}

// paragraph
p {
    margin-bottom: $vertical-rhythm-unit;
    line-height: 24px;

    @media print {
        page-break-inside: avoid;
    }
}

// images
img {
    max-width: 100%;
    display: block;
}

// pre
pre {
    @extend %pre;
    margin-bottom: $vertical-rhythm-unit;
    page-break-inside: avoid;
}

// code
code {
    @extend %code-span;
}

.multi-language-span > code,
p > code,
li > code {
    @extend %code-span%_decorated;
}

.code._highlighted {
    @extend %syntax-highlight_light;
}

pre {
    .code {
        @extend %code-block;
    }
}

.code {
    &._highlighted {
        pre {
            @extend %syntax-highlight_light;
        }
    }
}

// blockquote
blockquote {
    @extend %blockquote;
    margin-bottom: $vertical-rhythm-unit;
    page-break-inside: avoid;
}

// table
table {
    @extend %table;
}

// misc
hr {
    @extend %hr
}

kbd {
    display: inline;
    padding: 0 4px;
    line-height: 1.2;
    border: 1px solid #b5b5b5;
    color: #828282;
}

// user defined
.keyword {
    font-family: $font-family-mono;
    font-style: normal;
    color: #0000C0;
}

.keyword {
    font-family: $font-family-mono;
    font-style: normal;
    color: #0000C0;
}

.summarizedTypeName {
    background-color: lightcyan;
    font-style: italic;
}

.parameterName {
    font-weight: bold;
}

.signature {
    background-color: #efefef;
    padding: 4px;
}

.signature :target {
    background-color: #FFFFCC;
}

.overload-group {
    padding-bottom: 50px;
}

.error {
    color: #ff0000;
    padding: 0 4px;
}

.warning {
    background-color: #ffec68;
    padding: 0 4px;
}

.details-group {
    margin-bottom: $vertical-rhythm-unit;
    margin-left: $vertical-rhythm-unit*2;
}
