$unit: 8px !global;
$vertical-rhythm-unit: 15px !global;

$base-font-size: 14px !global;
$base-line-height: 20px !global;
$base-border-radius: 12px !global;

$footer-height: 90px !global;

// dirs
$root-path: '/kotlin-web-site/css' !global;
$dir-com: '#{$root-path}/components' !global;
$dir-blocks: '#{$root-path}/blocks' !global;