$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif !global;
$font-family-serif: 'GraublauSlab Regular', Georgia, serif !global;
$font-family-serif-bold: 'GraublauSlab Semibold', Georgia, serif !global;
$font-family-mono: 'Liberation Mono', Consolas, Menlo, Courier, monospace !global;