@mixin user-select($selection) {
    -webkit-touch-callout: $selection;
    -webkit-user-select: $selection;
    -moz-user-select: $selection;
    -ms-user-select: $selection;
    user-select: $selection;
}


@mixin box-sizing($box-sizing: border-box) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

