.root {
  .navigation {
    /* KTL-1420: Drop-down menu for the changing version is under the TOC */
    position: relative;
    z-index: 10;

    @media (min-width: 760px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (min-width: 940px) {
      min-height: 70px; /* KTL-1147 */
      box-sizing: border-box;
    }

    &, #pages-search {
      background: none #1b1b1b;
    }
  }

  .navigation > .library-name {
    margin-right: 0;
  }

  .library-name > .library-name--link {
    margin-left: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: 940px) {
    .filter-section .platform-tag {
      font-size: 16px;
      border-radius: 24px;
      padding: 8px 24px;
    }
  }

  #searchBar {
    @media(min-width: 760px) {
      display: none;
    }
  }

  .navigation-controls--theme {
    /* this is the last icon in pane have much more spacing for click then
       the last icon in global header. It did for same right border for both panes */
    margin-right: -8px;
  }
}
