.root {
  .navigation {
    /* KTL-1420: Drop-down menu for the changing version is under the TOC */
    position: relative;
    z-index: 10;

    @media (min-width: 940px) {
      min-height: 70px; /* KTL-1147 */
      box-sizing: border-box;
    }
  }

  .library-name--link::before {
    display: none;
  }

  #searchBar {
    @media(min-width: 760px) {
      display: none;
    }
  }

  .navigation-controls--btn_theme {
    /* this is the last icon in pane have much more spacing for click then
       the last icon in global header. It did for same right border for both panes */
    @media(min-width: 760px) {
      margin-right: -8px;
    }
  }
}

.core-api #searchBar {
  display: none !important;
}
