
.app-feedback-popup {
  position: fixed;
  z-index: 2;
  right: 22px;
  bottom: 22px;
  overflow-x: hidden;
  box-sizing: border-box;
  min-width: auto;
  max-width: 442px;
  max-height: calc(100vh - 16px);
  margin-top: 12px;
  padding: 22px 32px;
  border: 1px solid rgba(25, 25, 28, .2);
  text-align: left;
  background-color: #f4f4f4;
}

@media screen and (max-width: 640px) {
  .app-feedback-popup {
    top: 0;
    right: 8px;
    bottom: auto;
    left: 8px;
    overflow-y: scroll
  }
}

.feedback, .feedback__popup {
  font-family: JetBrains Sans, Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif !important;
  color: rgba(25, 25, 28, .7);
}

.feedback {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 24px 32px;
  border-radius: 4px;
  background-color: #f4f4f4;
  line-height: 36px;
  margin: 64px var(--horizontal-spacing-for-content);
}

@media print {
  .feedback {
    display: none
  }
}

@media screen and (max-width: 640px) {
  .feedback {
    margin: 32px 0;
    padding: 16px;
  }
}

.feedback__popup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 538px;
  line-height: 36px
}

@media print {
  .feedback__popup {
    display: none
  }
}

.theme-dark .feedback, .theme-dark .feedback__popup {
  background-color: #252528;
  color: hsla(0, 0%, 100%, 0.8);
}

.feedback__popup a {
  border-bottom: 1px solid #d1d1d2;
  text-decoration: none;
  color: inherit;
  line-height: 16px
}

.theme-dark .feedback__popup a {
  border-color: hsla(0, 0%, 100%, .2);
}

.feedback__popup a:hover {
  border-bottom-color: unset
}

.feedback__popup a:hover, .feedback__popup a:visited {
  color: rgba(25, 25, 28, .7);
}

.theme-dark .feedback__popup a:hover {
  border-bottom-color: unset
}

.theme-dark .feedback__popup a:hover, .theme-dark .feedback__popup a:visited {
  color: hsla(0, 0%, 100%, .7);
}

.feedback__block {
  display: none
}

.feedback__block--active {
  display: block
}

.feedback__text {
  display: flex;
  align-items: flex-start
}

.feedback__button, .feedback__text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.feedback__button:not(:last-child) {
  margin-right: 16px;
}

@media screen and (max-width: 640px) {
  .feedback__button:not(:last-child) {
    margin-right: 8px;
  }
}

.feedback__head {
  letter-spacing: normal;
  font-size: 20px;
  font-weight: 530;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: .7em;
  padding-right: 24px;
  color: #19191c;
  line-height: 1.5
}

.theme-dark .feedback__head {
  color: #fff;
}

.feedback__legend {
  padding: 3px 0
}

.feedback__close-button {
  position: absolute;
  top: 0;
  right: -9px
}

.feedback__field {
  align-self: stretch;
  margin-bottom: 14px
}

.feedback__description {
  font-size: 11px;
  line-height: 1.5
}

.feedback__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #f45c4a;
  font-size: 11px;
  line-height: 1;
  gap: 15px
}

._main_joawza_17 {
  letter-spacing: .0015em;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_joawza_1 ._main_joawza_17 {
  letter-spacing: normal
}

._main_joawza_17:focus[data-focus-method=key] {
  box-shadow: 0 0 0 4px rgba(107, 87, 255, .8);
}

._main_joawza_17 {
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  transition: color .1s, background-color .1s, border-color .1s
}

._main_joawza_17, ._main_joawza_17:active, ._main_joawza_17:focus, ._main_joawza_17:hover {
  outline: none;
  text-decoration: none
}

.theme-dark ._main_joawza_17:focus[data-focus-method=key] {
  box-shadow: 0 0 0 4px rgba(132, 115, 255, .8);
}

[class*=wt-col] {
  flex-basis: calc(8.33333% * var(--wt-col-count) - var(--wt-horizontal-layout-gutter) * 2);
  max-width: calc(8.33333% * var(--wt-col-count) - var(--wt-horizontal-layout-gutter) * 2);
  box-sizing: border-box
}

[class*=wt-col], [class*=wt-col].wt-row {
  margin-right: var(--wt-horizontal-layout-gutter);
  margin-left: var(--wt-horizontal-layout-gutter)
}

.wt-row {
  --wt-horizontal-layout-gutter: 0px;
  flex-wrap: wrap;
  margin-right: calc(var(--wt-horizontal-layout-gutter) * -1);
  margin-left: calc(var(--wt-horizontal-layout-gutter) * -1);
  box-sizing: border-box
}

.wt-row, .wt-row_wide {
  display: flex
}

.wt-row_wrap {
  flex-wrap: wrap
}

.wt-row_justify_start {
  justify-content: flex-start
}

.wt-row_direction_column > * {
  flex: 1
}

.wt-row_direction_column-reverse > * {
  flex: 1
}

.wt-row_size_xs {
  --wt-horizontal-layout-gutter: 6px
}

._modeOutline_joawza_356 {
  color: #19191c;
  position: relative;
  border-style: solid;
  border-color: rgba(25, 25, 28, .3)
}

._modeOutline_joawza_356:focus {
  color: #19191c;
  border-color: rgba(25, 25, 28, .3)
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  ._modeOutline_joawza_356:hover {
    color: #19191c;
    background: rgba(25, 25, 28, .1);
    border-color: rgba(25, 25, 28, .3)
  }
}

._modeOutline_joawza_356:active {
  color: #19191c;
  background: rgba(25, 25, 28, .1);
  border-color: #19191c
}

._modeOutline_joawza_356._disabled_joawza_61 {
  color: rgba(25, 25, 28, .5);
  background: transparent;
  border-color: rgba(25, 25, 28, .2)
}

.theme-dark ._modeOutline_joawza_356 {
  color: #fff;
  border-color: hsla(0, 0%, 100%, .3)
}

.theme-dark ._modeOutline_joawza_356:focus {
  color: #fff;
  border-color: hsla(0, 0%, 100%, .4)
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._modeOutline_joawza_356:hover {
    color: #fff;
    background: hsla(0, 0%, 100%, .1);
    border-color: hsla(0, 0%, 100%, .4)
  }
}

.theme-dark ._modeOutline_joawza_356:active {
  color: #fff;
  background: hsla(0, 0%, 100%, .1);
  border-color: #fff
}

.theme-dark ._modeOutline_joawza_356._disabled_joawza_61 {
  color: hsla(0, 0%, 100%, .5);
  background: transparent;
  border-color: hsla(0, 0%, 100%, .2)
}

._sizeS_joawza_92._modeOutline_joawza_356 {
  padding: 5px 15px;
  border-width: 1px
}

._sizeS_joawza_92._modeOutline_joawza_356._withoutText_joawza_113 {
  padding: 5px;
  border-width: 1px
}

._sizeS_joawza_92._modeOutline_joawza_356:active {
  padding: 4px 14px;
  border-width: 2px
}

._sizeS_joawza_92 {
  letter-spacing: .0045em;
  font-size: 13px;
  line-height: 20px;
}

._rs-reset-letter-spacing_joawza_1 ._sizeS_joawza_92 {
  letter-spacing: normal
}

._sizeS_joawza_92 {
  border-radius: 24px;
}

._sizeS_joawza_92 {
  padding: 6px 16px;
  border-width: 0
}

._sizeS_joawza_92._withoutText_joawza_113 {
  padding: 6px;
  border-width: 0
}

._sizeS_joawza_92._modeOutline_joawza_356 {
  padding: 5px 15px;
  border-width: 1px
}

._sizeS_joawza_92._modeOutline_joawza_356._withoutText_joawza_113 {
  padding: 5px;
  border-width: 1px
}

._sizeS_joawza_92._modeOutline_joawza_356:active {
  padding: 4px 14px;
  border-width: 2px
}

._sizeS_joawza_92._modeOutline_joawza_356._withoutText_joawza_113:active {
  padding: 4px;
  border-width: 2px
}

._sizeS_joawza_92 ._icon_joawza_525, ._sizeXs_joawza_85 ._icon_joawza_525 {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0 8px 0 -2px
}

._sizeS_joawza_92._alignIconRight_joawza_81 ._icon_joawza_525, ._sizeXs_joawza_85._alignIconRight_joawza_81 ._icon_joawza_525 {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0 -2px 0 8px
}

._alignIconLeft_joawza_77 {
  flex-direction: row
}

.theme-dark ._main_joawza_17:focus[data-focus-method=key] {
  box-shadow: 0 0 0 4px rgba(132, 115, 255, .8);
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17 {
  color: #fff;
  background: #8473ff;
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._modeClassic_joawza_135._main_joawza_17:hover {
    color: #fff;
    background: rgba(132, 115, 255, .8);
  }
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17:active {
  color: #fff;
  background: #8473ff;
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17:active:focus:not(:hover)[data-focus-method=key] {
  background: rgba(132, 115, 255, .8);
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17._disabled_joawza_61 {
  color: hsla(0, 0%, 100%, .5);
  background: hsla(0, 0%, 100%, .2)
}

.theme-dark ._modeOutline_joawza_356._main_joawza_17 {
  color: #fff;
  border-color: hsla(0, 0%, 100%, .3)
}

.theme-dark ._modeOutline_joawza_356._main_joawza_17:focus {
  color: #fff;
  border-color: hsla(0, 0%, 100%, .4)
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._modeOutline_joawza_356._main_joawza_17:hover {
    color: #fff;
    background: hsla(0, 0%, 100%, .1);
    border-color: hsla(0, 0%, 100%, .4)
  }
}

.theme-dark ._modeOutline_joawza_356._main_joawza_17:active {
  color: #fff;
  background: hsla(0, 0%, 100%, .1);
  border-color: #fff
}

.theme-dark ._modeOutline_joawza_356._main_joawza_17._disabled_joawza_61 {
  color: hsla(0, 0%, 100%, .5);
  background: transparent;
  border-color: hsla(0, 0%, 100%, .2)
}

._modeClear_joawza_434 {
  color: #19191c;
  background: transparent
}

._modeClear_joawza_434:focus {
  color: #19191c;
  background: transparent
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  ._modeClear_joawza_434:hover {
    color: #19191c;
    background: rgba(25, 25, 28, .1)
  }
}

._modeClear_joawza_434:active {
  color: #19191c;
  background: rgba(25, 25, 28, .2)
}

._modeClear_joawza_434._disabled_joawza_61 {
  color: rgba(25, 25, 28, .5);
  background: transparent
}

.theme-dark ._modeClear_joawza_434._main_joawza_17 {
  color: #fff;
  background: transparent
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._modeClear_joawza_434._main_joawza_17:hover {
    color: #fff;
    background: hsla(0, 0%, 100%, .1)
  }
}

.theme-dark ._modeClear_joawza_434._main_joawza_17:active {
  color: #fff;
  background: hsla(0, 0%, 100%, .2)
}

.theme-dark ._modeClear_joawza_434._main_joawza_17._disabled_joawza_61 {
  color: hsla(0, 0%, 100%, .5)
}

._withIcon_joawza_119, ._withoutText_joawza_113 {
  display: inline-flex;
  justify-content: center;
  align-items: center
}

._sizeS_joawza_92._withoutText_joawza_113 {
  padding: 6px;
  border-width: 0
}

._sizeS_joawza_92._modeOutline_joawza_356._withoutText_joawza_113 {
  padding: 5px;
  border-width: 1px
}

._sizeS_joawza_92._modeOutline_joawza_356._withoutText_joawza_113:active {
  padding: 4px;
  border-width: 2px
}

._withoutText_joawza_113 ._icon_joawza_525, ._withoutText_joawza_113._alignIconRight_joawza_81 ._icon_joawza_525 {
  margin: 0
}

.wt-col-inline {
  --wt-col-count: 0;
  max-width: 100%;
  flex-basis: auto
}

.wt-icon {
  fill: currentcolor
}

.wt-icon_size_s {
  width: 24px;
  height: 24px
}

@keyframes wt-icon-rotate {
  to {
    transform: rotate(1turn)
  }
}

._icon_joawza_525 {
  fill: currentColor
}

._sizeS_joawza_92 ._icon_joawza_525, ._sizeXs_joawza_85 ._icon_joawza_525 {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0 8px 0 -2px
}

._sizeM_joawza_99 ._icon_joawza_525 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin: 0 8px 0 -2px
}

._sizeL_joawza_106 ._icon_joawza_525 {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  margin: 0 16px 0 -2px
}

._sizeS_joawza_92._alignIconRight_joawza_81 ._icon_joawza_525, ._sizeXs_joawza_85._alignIconRight_joawza_81 ._icon_joawza_525 {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0 -2px 0 8px
}

._sizeM_joawza_99._alignIconRight_joawza_81 ._icon_joawza_525 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin: 0 -2px 0 8px
}

._sizeL_joawza_106._alignIconRight_joawza_81 ._icon_joawza_525 {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  margin: 0 -2px 0 16px
}

._withoutText_joawza_113 ._icon_joawza_525, ._withoutText_joawza_113._alignIconRight_joawza_81 ._icon_joawza_525 {
  margin: 0
}

._labelWrapper_hvg13z_44 {
  display: block
}

._labelWrapper_hvg13z_44._error_hvg13z_108 ._inner_hvg13z_61, ._labelWrapper_hvg13z_44._error_hvg13z_108 ._inner_hvg13z_61:hover, ._labelWrapper_hvg13z_44._error_hvg13z_108._focused_hvg13z_90 ._inner_hvg13z_61 {
  border-width: 2px;
  border-color: #f45c4a
}

._sizeM_hvg13z_98 ._inner_hvg13z_61 {
  padding: 7px;
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_hvg13z_1 ._sizeM_hvg13z_98 ._inner_hvg13z_61 {
  letter-spacing: normal
}

._sizeM_hvg13z_98._error_hvg13z_108 ._inner_hvg13z_61, ._sizeM_hvg13z_98._focused_hvg13z_90 ._inner_hvg13z_61 {
  padding: 6px
}

._sizeM_hvg13z_98 ._errorMessage_hvg13z_256, ._sizeM_hvg13z_98 ._note_hvg13z_257 {
  letter-spacing: .0045em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 13px;
  line-height: 20px;
}

._rs-reset-letter-spacing_hvg13z_1 ._sizeM_hvg13z_98 ._errorMessage_hvg13z_256, ._rs-reset-letter-spacing_hvg13z_1 ._sizeM_hvg13z_98 ._note_hvg13z_257 {
  letter-spacing: normal
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
    scrollbar-color: #a3a3a4 #e8e8e8;
    scrollbar-width: thin
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar {
    width: 7px;
    height: 8px
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-corner {
    background-color: transparent
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-track {
    background-color: #e8e8e8;
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 7px;
    background: #a3a3a4;
  }
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
  color: #19191c;
  border-color: rgba(25, 25, 28, .2);
  background-color: #fff
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61:hover {
    border-color: rgba(25, 25, 28, .5)
  }
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._focused_hvg13z_90 ._inner_hvg13z_61 {
  border-color: #19191c
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._focused_hvg13z_90._keyFocused_hvg13z_144 ._inner_hvg13z_61 {
  box-shadow: 0 0 0 4px #8979ff;
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61 {
  color: #fff;
  background-color: #19191c
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._disabled_hvg13z_56 ._inner_hvg13z_61 {
  border-color: rgba(25, 25, 28, .2);
  background-color: #f4f4f4;
  color: rgba(25, 25, 28, .5);
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
    scrollbar-color: #8c8c8e #5e5e60;
    scrollbar-width: thin
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar {
    width: 7px;
    height: 8px
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-corner {
    background-color: transparent
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-track {
    background-color: #5e5e60;
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 7px;
    background: #8c8c8e;
  }
}

.theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
  color: #fff;
  border-color: hsla(0, 0%, 100%, .2);
  background-color: #303033
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61:hover {
    border-color: hsla(0, 0%, 100%, .5);
    background-color: #474749
  }
}

.theme-dark ._labelWrapper_hvg13z_44._focused_hvg13z_90 ._inner_hvg13z_61 {
  border-color: #fff;
  background-color: #474749
}

.theme-dark ._labelWrapper_hvg13z_44._focused_hvg13z_90._keyFocused_hvg13z_144 ._inner_hvg13z_61 {
  box-shadow: 0 0 0 4px #6f61d2;
}

.theme-dark ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61 {
  color: #19191c;
  background-color: #fff
}

.theme-dark ._labelWrapper_hvg13z_44._disabled_hvg13z_56 ._inner_hvg13z_61 {
  border-color: hsla(0, 0%, 100%, .2);
  background-color: #19191c;
  color: hsla(0, 0%, 100%, .5);
}

._wrapper_hvg13z_48 {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  cursor: text
}

._disabled_hvg13z_56 ._wrapper_hvg13z_48 {
  cursor: default
}

._inner_hvg13z_61 {
  display: block;
  flex: 1 1 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid;
  outline: none;
  resize: none;
  color: inherit;
  background: transparent;
  font: inherit
}

._inner_hvg13z_61:focus {
  outline: none
}

._inner_hvg13z_61::-moz-placeholder {
  opacity: 1
}

._inner_hvg13z_61::placeholder {
  opacity: 1
}

._focused_hvg13z_90 ._inner_hvg13z_61 {
  border-width: 2px
}

._sizeL_hvg13z_94 ._inner_hvg13z_61 {
  padding: 11px 15px;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

._sizeM_hvg13z_98 ._inner_hvg13z_61 {
  padding: 7px;
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_hvg13z_1 ._sizeM_hvg13z_98 ._inner_hvg13z_61 {
  letter-spacing: normal
}

._sizeS_hvg13z_102 ._inner_hvg13z_61 {
  padding: 5px 7px;
  letter-spacing: .0045em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 13px;
  line-height: 20px;
}

._rs-reset-letter-spacing_hvg13z_1 ._sizeS_hvg13z_102 ._inner_hvg13z_61 {
  letter-spacing: normal
}

._sizeL_hvg13z_94._error_hvg13z_108 ._inner_hvg13z_61, ._sizeL_hvg13z_94._focused_hvg13z_90 ._inner_hvg13z_61 {
  padding: 10px 14px
}

._sizeM_hvg13z_98._error_hvg13z_108 ._inner_hvg13z_61, ._sizeM_hvg13z_98._focused_hvg13z_90 ._inner_hvg13z_61 {
  padding: 6px
}

._sizeS_hvg13z_102._error_hvg13z_108 ._inner_hvg13z_61, ._sizeS_hvg13z_102._focused_hvg13z_90 ._inner_hvg13z_61 {
  padding: 4px 6px
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
    scrollbar-color: #a3a3a4 #e8e8e8;
    scrollbar-width: thin
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar {
    width: 7px;
    height: 8px
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-corner {
    background-color: transparent
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-track {
    background-color: #e8e8e8;
  }
}

@media (hover: hover) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 7px;
    background: #a3a3a4;
  }
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
  color: #19191c;
  border-color: rgba(25, 25, 28, .2);
  background-color: #fff
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61:hover {
    border-color: rgba(25, 25, 28, .5)
  }
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._focused_hvg13z_90 ._inner_hvg13z_61 {
  border-color: #19191c
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._focused_hvg13z_90._keyFocused_hvg13z_144 ._inner_hvg13z_61 {
  box-shadow: 0 0 0 4px #8979ff;
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61 {
  color: #fff;
  background-color: #19191c
}

html:not(.theme-dark) ._labelWrapper_hvg13z_44._disabled_hvg13z_56 ._inner_hvg13z_61 {
  border-color: rgba(25, 25, 28, .2);
  background-color: #f4f4f4;
  color: rgba(25, 25, 28, .5);
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
    scrollbar-color: #8c8c8e #5e5e60;
    scrollbar-width: thin
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar {
    width: 7px;
    height: 8px
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-corner {
    background-color: transparent
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-track {
    background-color: #5e5e60;
  }
}

@media (hover: hover) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 7px;
    background: #8c8c8e;
  }
}

.theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61 {
  color: #fff;
  border-color: hsla(0, 0%, 100%, .2);
  background-color: #303033
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61:hover {
    border-color: hsla(0, 0%, 100%, .5);
    background-color: #474749
  }
}

.theme-dark ._labelWrapper_hvg13z_44._focused_hvg13z_90 ._inner_hvg13z_61 {
  border-color: #fff;
  background-color: #474749
}

.theme-dark ._labelWrapper_hvg13z_44._focused_hvg13z_90._keyFocused_hvg13z_144 ._inner_hvg13z_61 {
  box-shadow: 0 0 0 4px #6f61d2;
}

.theme-dark ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61 {
  color: #19191c;
  background-color: #fff
}

.theme-dark ._labelWrapper_hvg13z_44._disabled_hvg13z_56 ._inner_hvg13z_61 {
  border-color: hsla(0, 0%, 100%, .2);
  background-color: #19191c;
  color: hsla(0, 0%, 100%, .5);
}

._labelWrapper_hvg13z_44._error_hvg13z_108 ._inner_hvg13z_61, ._labelWrapper_hvg13z_44._error_hvg13z_108 ._inner_hvg13z_61:hover, ._labelWrapper_hvg13z_44._error_hvg13z_108._focused_hvg13z_90 ._inner_hvg13z_61 {
  border-width: 2px;
  border-color: #f45c4a
}

.theme-dark ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61::-moz-placeholder,
html:not(.theme-dark) ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-moz-placeholder {
  color: rgba(25, 25, 28, .5);
}

.theme-dark ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61::placeholder, ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::placeholder {
  color: rgba(25, 25, 28, .5);
}

.theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::-moz-placeholder,
html:not(.theme-dark) ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61::-moz-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme-dark ._labelWrapper_hvg13z_44 ._inner_hvg13z_61::placeholder,
html:not(.theme-dark) ._labelWrapper_hvg13z_44._rock_hvg13z_148._focused_hvg13z_90 ._inner_hvg13z_61::placeholder {
  color: hsla(0, 0%, 100%, .5);
}

._container_1fowpgw_10 {
  display: block
}

html:not(.theme-dark) ._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  border-color: rgba(25, 25, 28, .2);
  background-color: #fff
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._filled_1fowpgw_27 ._wrapper_1fowpgw_14 {
  border-color: rgba(25, 25, 28, .3)
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27:hover ._wrapper_1fowpgw_14 {
    border-color: rgba(25, 25, 28, .5);
    background-color: #fff
  }
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  border-width: 2px;
  border-color: #19191c
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._classic_1fowpgw_44._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #fff
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._rock_1fowpgw_48._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #19191c
}

.theme-dark ._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  border-color: hsla(0, 0%, 100%, .2);
  background-color: #303033
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._filled_1fowpgw_27 ._wrapper_1fowpgw_14 {
  border-color: hsla(0, 0%, 100%, .3)
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27:hover ._wrapper_1fowpgw_14 {
    border-color: hsla(0, 0%, 100%, .5);
    background-color: #474749
  }
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  border-width: 2px;
  border-color: #fff
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._classic_1fowpgw_44._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #474749
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._rock_1fowpgw_48._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #fff
}

html:not(.theme-dark) ._disabled_1fowpgw_103._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  background-color: #f4f4f4
}

.theme-dark ._disabled_1fowpgw_103._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  background-color: #19191c
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill,
html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:active,
html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:focus,
html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:hover {
  -webkit-text-fill-color: #19191c;
  -webkit-box-shadow: 0 0 0 1000px #fff inset
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill,
.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:active,
.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:focus,
.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:hover,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:active,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:focus,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:hover {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #19191c inset
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill,
.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:active,
.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:focus,
.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:hover {
  -webkit-text-fill-color: #19191c;
  -webkit-box-shadow: 0 0 0 1000px #fff inset
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171 {
  color: #19191c
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171::-moz-placeholder {
  color: rgba(25, 25, 28, .5)
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171::placeholder {
  color: rgba(25, 25, 28, .5)
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171 {
  color-scheme: dark;
  color: #fff
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171::-moz-placeholder {
  color: hsla(0, 0%, 100%, .5)
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171::placeholder {
  color: hsla(0, 0%, 100%, .5)
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:disabled,
html:not(.theme-dark) ._container_1fowpgw_10._disabled_1fowpgw_103 ._inner_1fowpgw_171 {
  color: rgba(25, 25, 28, .7)
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:disabled,
.theme-dark ._container_1fowpgw_10._disabled_1fowpgw_103 ._inner_1fowpgw_171 {
  color: hsla(0, 0%, 100%, .7)
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171 {
  color: #19191c
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::-moz-placeholder {
  color: rgba(25, 25, 28, .7)
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::placeholder {
  color: rgba(25, 25, 28, .7)
}

._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171 {
  color: #fff
}

._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::-moz-placeholder,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::-moz-placeholder {
  color: hsla(0, 0%, 100%, .7)
}

._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::placeholder,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::placeholder {
  color: hsla(0, 0%, 100%, .7)
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._classic_1fowpgw_44._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #fff
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._classic_1fowpgw_44._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #474749
}

._sizeM_1fowpgw_125 ._field_1fowpgw_161 {
  padding: 7px
}

._sizeM_1fowpgw_125._enabled_1fowpgw_27._error_1fowpgw_83 ._field_1fowpgw_161, ._sizeM_1fowpgw_125._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 6px
}

._sizeM_1fowpgw_125._rock_1fowpgw_48._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 8px
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171 {
  height: 24px;
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171 {
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeM_1fowpgw_125 ._inner_1fowpgw_171 {
  letter-spacing: normal
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171::-moz-placeholder {
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171::placeholder {
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeM_1fowpgw_125 ._inner_1fowpgw_171::-moz-placeholder {
  letter-spacing: normal
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeM_1fowpgw_125 ._inner_1fowpgw_171::placeholder {
  letter-spacing: normal
}

._sizeM_1fowpgw_125 ._errorMessage_1fowpgw_596, ._sizeS_1fowpgw_129 ._errorMessage_1fowpgw_596 {
  letter-spacing: .0045em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 13px;
  line-height: 20px;
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeM_1fowpgw_125 ._errorMessage_1fowpgw_596, ._rs-reset-letter-spacing_1fowpgw_1 ._sizeS_1fowpgw_129 ._errorMessage_1fowpgw_596 {
  letter-spacing: normal
}

._sizeM_1fowpgw_125 ._errorMessage_1fowpgw_596, ._sizeS_1fowpgw_129 ._errorMessage_1fowpgw_596 {
  color: #f45c4a
}

._wrapper_1fowpgw_14 {
  display: flex;
  border: 1px solid;
  cursor: text
}

html:not(.theme-dark) ._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  border-color: rgba(25, 25, 28, .2);
  background-color: #fff
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._filled_1fowpgw_27 ._wrapper_1fowpgw_14 {
  border-color: rgba(25, 25, 28, .3)
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27:hover ._wrapper_1fowpgw_14 {
    border-color: rgba(25, 25, 28, .5);
    background-color: #fff
  }
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  border-width: 2px;
  border-color: #19191c
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._classic_1fowpgw_44._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #fff
}

html:not(.theme-dark) ._container_1fowpgw_10._enabled_1fowpgw_27._rock_1fowpgw_48._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #19191c
}

.theme-dark ._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  border-color: hsla(0, 0%, 100%, .2);
  background-color: #303033
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._filled_1fowpgw_27 ._wrapper_1fowpgw_14 {
  border-color: hsla(0, 0%, 100%, .3)
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27:hover ._wrapper_1fowpgw_14 {
    border-color: hsla(0, 0%, 100%, .5);
    background-color: #474749
  }
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  border-width: 2px;
  border-color: #fff
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._classic_1fowpgw_44._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #474749
}

.theme-dark ._container_1fowpgw_10._enabled_1fowpgw_27._rock_1fowpgw_48._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background-color: #fff
}

._enabled_1fowpgw_27._error_1fowpgw_83 ._wrapper_1fowpgw_14 {
  border-width: 2px;
  border-color: #f45c4a
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  ._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27:hover ._wrapper_1fowpgw_14 {
    border-color: #f45c4a
  }
}

._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27._filled_1fowpgw_27 ._wrapper_1fowpgw_14, ._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  border-color: #f45c4a
}

._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27._rock_1fowpgw_48._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background: #f45c4a
}

._disabled_1fowpgw_103 ._wrapper_1fowpgw_14 {
  cursor: auto
}

html:not(.theme-dark) ._disabled_1fowpgw_103._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  background-color: #f4f4f4
}

.theme-dark ._disabled_1fowpgw_103._container_1fowpgw_10 ._wrapper_1fowpgw_14 {
  background-color: #19191c
}

._rock_1fowpgw_48._enabled_1fowpgw_27._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  border-width: 0
}

._field_1fowpgw_161 {
  display: flex;
  flex: 1 1 auto;
  min-width: 0
}

._sizeL_1fowpgw_121 ._field_1fowpgw_161 {
  padding: 11px 15px
}

._sizeM_1fowpgw_125 ._field_1fowpgw_161 {
  padding: 7px
}

._sizeS_1fowpgw_129 ._field_1fowpgw_161 {
  padding: 5px 7px
}

._sizeL_1fowpgw_121._enabled_1fowpgw_27._error_1fowpgw_83 ._field_1fowpgw_161, ._sizeL_1fowpgw_121._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 10px 14px
}

._sizeM_1fowpgw_125._enabled_1fowpgw_27._error_1fowpgw_83 ._field_1fowpgw_161, ._sizeM_1fowpgw_125._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 6px
}

._sizeS_1fowpgw_129._enabled_1fowpgw_27._error_1fowpgw_83 ._field_1fowpgw_161, ._sizeS_1fowpgw_129._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 4px 6px
}

._sizeL_1fowpgw_121._rock_1fowpgw_48._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 12px 16px
}

._sizeM_1fowpgw_125._rock_1fowpgw_48._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 8px
}

._sizeS_1fowpgw_129._rock_1fowpgw_48._focused_1fowpgw_39 ._field_1fowpgw_161 {
  padding: 6px 8px
}

._inner_1fowpgw_171 {
  display: block;
  flex: 1 1 0;
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

._inner_1fowpgw_171:focus {
  outline: none
}

._inner_1fowpgw_171::-moz-placeholder {
  opacity: 1
}

._inner_1fowpgw_171::placeholder {
  opacity: 1
}

._inner_1fowpgw_171::-ms-clear {
  display: none;
  width: 0;
  height: 0
}

._inner_1fowpgw_171:-moz-ui-invalid, ._inner_1fowpgw_171:-moz-ui-invalid:-moz-focusring {
  box-shadow: none
}

._inner_1fowpgw_171:-webkit-autofill, ._inner_1fowpgw_171:-webkit-autofill:active, ._inner_1fowpgw_171:-webkit-autofill:focus, ._inner_1fowpgw_171:-webkit-autofill:hover {
  transition-delay: 9999s
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill,
html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:active,
html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:focus,
html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:hover {
  -webkit-text-fill-color: #19191c;
  -webkit-box-shadow: 0 0 0 1000px #fff inset
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill,
.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:active,
.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:focus,
.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:-webkit-autofill:hover,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:active,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:focus,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:hover {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #19191c inset
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill,
.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:active,
.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:focus,
.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:hover {
  -webkit-text-fill-color: #19191c;
  -webkit-box-shadow: 0 0 0 1000px #fff inset
}

._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill, ._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:active, ._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:focus, ._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171:-webkit-autofill:hover {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #19191c inset
}

._sizeL_1fowpgw_121 ._inner_1fowpgw_171 {
  height: 28px;
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171 {
  height: 24px;
}

._sizeS_1fowpgw_129 ._inner_1fowpgw_171 {
  height: 20px;
}

._sizeL_1fowpgw_121 ._inner_1fowpgw_171 {
  font-feature-settings: "kern", "liga", "calt";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

._sizeL_1fowpgw_121 ._inner_1fowpgw_171::-moz-placeholder {
  font-feature-settings: "kern", "liga", "calt";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

._sizeL_1fowpgw_121 ._inner_1fowpgw_171::placeholder {
  font-feature-settings: "kern", "liga", "calt";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171 {
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeM_1fowpgw_125 ._inner_1fowpgw_171 {
  letter-spacing: normal
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171::-moz-placeholder {
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._sizeM_1fowpgw_125 ._inner_1fowpgw_171::placeholder {
  letter-spacing: .0015em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeM_1fowpgw_125 ._inner_1fowpgw_171::-moz-placeholder {
  letter-spacing: normal
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeM_1fowpgw_125 ._inner_1fowpgw_171::placeholder {
  letter-spacing: normal
}

._sizeS_1fowpgw_129 ._inner_1fowpgw_171 {
  letter-spacing: .0045em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 13px;
  line-height: 20px;
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeS_1fowpgw_129 ._inner_1fowpgw_171 {
  letter-spacing: normal
}

._sizeS_1fowpgw_129 ._inner_1fowpgw_171::-moz-placeholder {
  letter-spacing: .0045em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 13px;
  line-height: 20px;
}

._sizeS_1fowpgw_129 ._inner_1fowpgw_171::placeholder {
  letter-spacing: .0045em;
  font-feature-settings: "kern", "liga", "calt";
  font-size: 13px;
  line-height: 20px;
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeS_1fowpgw_129 ._inner_1fowpgw_171::-moz-placeholder {
  letter-spacing: normal
}

._rs-reset-letter-spacing_1fowpgw_1 ._sizeS_1fowpgw_129 ._inner_1fowpgw_171::placeholder {
  letter-spacing: normal
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171 {
  color: #19191c
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171::-moz-placeholder {
  color: rgba(25, 25, 28, .5)
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171::placeholder {
  color: rgba(25, 25, 28, .5)
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171 {
  color-scheme: dark;
  color: #fff
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171::-moz-placeholder {
  color: hsla(0, 0%, 100%, .5)
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171::placeholder {
  color: hsla(0, 0%, 100%, .5)
}

html:not(.theme-dark) ._container_1fowpgw_10 ._inner_1fowpgw_171:disabled,
html:not(.theme-dark) ._container_1fowpgw_10._disabled_1fowpgw_103 ._inner_1fowpgw_171 {
  color: rgba(25, 25, 28, .7)
}

.theme-dark ._container_1fowpgw_10 ._inner_1fowpgw_171:disabled,
.theme-dark ._container_1fowpgw_10._disabled_1fowpgw_103 ._inner_1fowpgw_171 {
  color: hsla(0, 0%, 100%, .7)
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171 {
  color: #19191c
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::-moz-placeholder {
  color: rgba(25, 25, 28, .7)
}

.theme-dark ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::placeholder {
  color: rgba(25, 25, 28, .7)
}

._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171 {
  color: #fff
}

._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::-moz-placeholder,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::-moz-placeholder {
  color: hsla(0, 0%, 100%, .7)
}

._enabled_1fowpgw_27._error_1fowpgw_83._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::placeholder,
html:not(.theme-dark) ._container_1fowpgw_10._rock_1fowpgw_48._focused_1fowpgw_39 ._inner_1fowpgw_171::placeholder {
  color: hsla(0, 0%, 100%, .7)
}

._offSystemMicroelements_1fowpgw_345 ._inner_1fowpgw_171 {
  -moz-appearance: textfield
}

._offSystemMicroelements_1fowpgw_345 ._inner_1fowpgw_171::-webkit-inner-spin-button, ._offSystemMicroelements_1fowpgw_345 ._inner_1fowpgw_171::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0
}

._sizeM_joawza_99 {
  letter-spacing: .0015em;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

._rs-reset-letter-spacing_joawza_1 ._sizeM_joawza_99 {
  letter-spacing: normal
}

._sizeM_joawza_99 {
  border-radius: 24px;
}

._sizeM_joawza_99 {
  padding: 8px 24px;
  border-width: 0
}

._sizeM_joawza_99._withoutText_joawza_113 {
  padding: 8px;
  border-width: 0
}

._sizeM_joawza_99._modeOutline_joawza_356 {
  padding: 7px 23px;
  border-width: 1px
}

._sizeM_joawza_99._modeOutline_joawza_356._withoutText_joawza_113 {
  padding: 7px;
  border-width: 1px
}

._sizeM_joawza_99._modeOutline_joawza_356:active {
  padding: 6px 22px;
  border-width: 2px
}

._sizeM_joawza_99._modeOutline_joawza_356._withoutText_joawza_113:active {
  padding: 6px;
  border-width: 2px
}

._modeClassic_joawza_135 {
  color: #fff;
  background: #6b57ff;
}

._modeClassic_joawza_135:focus {
  color: #fff;
  background: #6b57ff;
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  ._modeClassic_joawza_135:hover {
    color: #fff;
    background: rgba(107, 87, 255, .8);
  }
}

._modeClassic_joawza_135:active {
  color: #fff;
  background: #6b57ff;
}

._modeClassic_joawza_135:active:focus:not(:hover)[data-focus-method=key] {
  background: rgba(107, 87, 255, .8);
}

._modeClassic_joawza_135._disabled_joawza_61 {
  color: rgba(25, 25, 28, .5);
  background: rgba(25, 25, 28, .2)
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17 {
  color: #fff;
  background: #8473ff;
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  .theme-dark ._modeClassic_joawza_135._main_joawza_17:hover {
    color: #fff;
    background: rgba(132, 115, 255, .8);
  }
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17:active {
  color: #fff;
  background: #8473ff;
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17:active:focus:not(:hover)[data-focus-method=key] {
  background: rgba(132, 115, 255, .8);
}

.theme-dark ._modeClassic_joawza_135._main_joawza_17._disabled_joawza_61 {
  color: hsla(0, 0%, 100%, .5);
  background: hsla(0, 0%, 100%, .2)
}

._container_1fowpgw_10._enabled_1fowpgw_27._error_1fowpgw_83 ._wrapper_1fowpgw_14 {
  border-width: 2px;
  border-color: #f45c4a
}

@media (-ms-high-contrast: none), (hover: hover), screen and (-ms-high-contrast: active) {
  ._container_1fowpgw_10._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27:hover ._wrapper_1fowpgw_14 {
    border-color: #f45c4a
  }
}

._container_1fowpgw_10._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27._filled_1fowpgw_27 ._wrapper_1fowpgw_14,
._container_1fowpgw_10._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  border-color: #f45c4a
}

._container_1fowpgw_10._enabled_1fowpgw_27._error_1fowpgw_83._enabled_1fowpgw_27._rock_1fowpgw_48._focused_1fowpgw_39 ._wrapper_1fowpgw_14 {
  background: #f45c4a
}

.app-feedback-popup_close {
  display: none;
}