#main {
    max-width: 100%;
    display: block;
    flex: 1;
}

#ktl-main {
    width: 100%;
    max-width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 759px) {
    #ktl-main {
        max-width: 100%;
    }

    #leftColumn.open ~ #ktl-main #searchBar {
        display: none;
    }

    #leftColumn.open ~ #ktl-main #leftToggler {
        margin-left: 280px;
    }

    #leftColumn.open ~ #ktl-main .icon-toggler::before {
        content: "\2630";
        padding-right: 0.5em;
        margin-left: -0.5em;
    }
}