.root {
  --horizontal-spacing-for-content: 32px;

  @media (max-width: 640px) {
    --horizontal-spacing-for-content: 16px;
  }

  display: flex;
  flex-direction: column;

  /* Fix global dokka styles */
  .ktl-dokka-header nav > ul {
    position: inherit;
  }

  /* / Fix global dokka styles */

  @media (max-width: 759px) {
    #leftColumn.open ~ #ktl-main #searchBar {
      display: none;
    }
  }

  #main {
    box-sizing: border-box;
  }

  .main-content {
    flex-grow: 1;
  }
}

/* Fallback for older Dokka (before 2.1.0) */
.toc--skip-link:not(:focus) {
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;

  border: 0 !important;
}
