@mixin clearfix {
    &:after {
        display: block;
        clear: both;
        height: 0;
        content: '';
    }
}


@mixin enable-hardware-acceleration {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}