%syntax-highlight_light {
    color: #000;
    background: #f7f7f7;

    span.cm-comment {color: #808080;}
    span.cm-string, .cm-string-2 {color: #009C00;}
    span.cm-number {color: #0000FF;}
    span.cm-variable { color: #000; }
    span.cm-variable-2 { color: #000; }
    span.cm-variable-3 { color: #000; }
    span.cm-def { color: #000; }
    span.cm-keyword {color: #0037B3;  font-weight: bold;}
    span.cm-operator {color: #000;}
    span.cm-atom { color: #0037B3;  font-weight: bold;}
    span.cm-meta { color: #808000; }
    span.cm-tag { color: #001EAA; }
    span.cm-attribute { color: #0000FF; }
    span.cm-qualifier { color: #000; }
    span.cm-property { color: #000; }
    span.cm-builtin { color: #0037B3; }
}