%syntax-highlight_dark {
    color: #A9B7C6;
    background-color: #27282C;

    span.cm-comment {color: #808080;}
    span.cm-string, .cm-string-2 {color: #A5C261;}
    span.cm-number {color: #2aa198;}
    span.cm-variable { color: #A9B7C6; }
    span.cm-variable-2 { color: #A9B7C6; }
    span.cm-variable-3 { color: #A9B7C6; }
    span.cm-def { color: #A9B7C6; }
    span.cm-keyword {color: #CC7832; font-weight: bold;}
    span.cm-operator {color: #A9B7C6;}
    span.cm-atom { color: #CC7832; font-weight: bold; }
    span.cm-meta { color: #808000; }
    span.cm-tag { color: #E8BF6A; }
    span.cm-attribute { color: #BABABA; }
    span.cm-qualifier { color: #93a1a1; }
    span.cm-property { color: #93a1a1; }
    span.cm-builtin { color: #0037B3; }
}