.title {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* --- Cards --- */
.cards {
    display: grid;
}

.card:not(.active) {
    display: none;
}

.card {
    grid-column: 1;
    grid-row: 1;

    @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
        transition: opacity .3s;

        @supports (transition: display 1s allow-discrete) {
            transition: opacity 1s, display 1s allow-discrete;
        }
    }
}

.card.active {
    @media (prefers-reduced-motion: no-preference) {
        opacity: 1;

        @supports (transition: display 1s allow-discrete) {
            @starting-style {
                opacity: 0;
            }
        }
    }
}
