@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.tabs {
    margin-block: 32px 8px;

    & > div {
        gap: 8px;

        @media (--ktl-ml-more) {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            flex-grow: 1;
        }
    }

    [role="tab"] {
        box-sizing: content-box;
        padding: 16px 24px;

        &:not(:hover) {
            background-color: #000000;
        }

        &, &::before {
            border-color: #7E42FF;
        }

        &[data-test~="chip-selected"] {
            background-color: rgb(126, 66, 255, 80%);

            &::before {
                border-width: 3px;
            }

            &:hover {
                background-color: rgb(126, 66, 255, 60%);
            }

            border-color: #7E42FF;
        }

        @media (--ktl-ml-more) {
            flex: 1;

            & > span {
                white-space: initial;
            }
        }
        @media (--ktl-ts-less) {
            width: 100%;
        }
    }
}

/* --- Cards --- */
.cards {
    display: grid;
}

.card:not(.active) {
    visibility: hidden;

    @media (--ktl-ds-less) {
        display: none;
    }
}

.card {
    grid-column: 1;
    grid-row: 1;
    align-items: start;

    @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
        transition: opacity .3s;

        @supports (transition: visibility 1s allow-discrete) {
            transition: opacity 1s, display 1s allow-discrete, visibility 1s allow-discrete;
        }
    }
}

.card.active {
    @media (prefers-reduced-motion: no-preference) {
        opacity: 1;

        @supports (transition: visibility 1s allow-discrete) {
            @starting-style {
                opacity: 0;
            }
        }
    }
}
