<div class="dropdown js-dropdown">
  <div class="dropdown-selected-value js-selected-value">{{ dropdown.items[dropdown.selectedIndex] }}</div>
  <div class="dropdown-items">
    {% for value, label in dropdown.items %}
      <div class="dropdown-item js-item" data-value="{{ value }}">{{ label }}</div>
    {% endfor %}
  </div>
</div>