$unit: 8px;
$vertical-rhythm-unit: 15px;

$base-font-size: 14px;
$base-line-height: 20px;
$base-border-radius: 12px;

$footer-height: 90px;

// dirs
$root-path: '/kotlin-web-site/css';
$dir-com: '#{$root-path}/components';
$dir-blocks: '#{$root-path}/blocks';