$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-serif: 'GraublauSlab Regular', Georgia, serif;
$font-family-serif-bold: 'GraublauSlab Semibold', Georgia, serif;
$font-family-mono: Consolas, Menlo, Courier, monospace;