@import '../../_config';
@import '../../_utils';
@import '../_bits/_header';


.section-title {
    @extend %h1;
    @extend %h1%_section-title;
}

.page-title {
    @extend %h1;
}

.page-content {
    position: relative;
    margin-top: 0;

    @media print {
        page-break-after: always
    }
    
    @at-root .os_linux.ua_chrome & {
        margin-left: -1px;
    }

    // Page link to GitHub
    @import '../page-link-to-github/page-link-to-github';

    .page-link-to-github {
        float: right;
        top: 4px;
    }


    a {
        @media print {
            color: $base-link-color !important;
        }
    }


    // Page elements
    @import '../_page-content/_page-content';


    .api-docs-table {
        border: 1px solid #dcdcdc;
    }

    .api-docs-table p:last-child,
    .api-docs-table pre:last-child {
        margin-bottom: 0;
    }

    .api-docs-breadcrumbs {
        margin-bottom: 25px;
    }
}

ul li::before {
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}