/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
.section-title, .page-content h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 33px; }
  .section-title:first-of-type, .page-content h1:first-of-type {
    margin-top: 0;
    margin-bottom: 30px; }
  @media print {
    .section-title, .page-content h1 {
      page-break-before: always;
      page-break-after: avoid; } }
  .section-title {
    padding-top: 240px;
    margin-bottom: 45px;
    font-size: 80px;
    line-height: 90px;
    font-weight: bold; }

.page-content h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 27px; }
  .page-content h2:first-of-type {
    margin-top: 0; }
  @media print {
    .page-content h2 {
      page-break-after: avoid; } }

.page-content h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 22px; }
  @media print {
    .page-content h3 {
      page-break-after: avoid; } }

.page-content h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold; }
  @media print {
    .page-content h4 {
      page-break-after: avoid; } }

.page-content h5 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal; }
  @media print {
    .page-content h5 {
      page-break-after: avoid; } }

.page-content {
  position: relative;
  margin-top: 0;
  /**
   * @param {string} $selector
   * @param {integer} $cols-span
   * @param {px} $spacing (optional)
   * @param {px} $grid-width (optional)
   * @param {integer} $cols-count (optional)
   * @param {boolean} $is-fluid (optional)
  */
  /**
   * @param {integer} $grid-spacing (optional)
   */
  /**
   *
   * @param {integer} $span
   * @param {px} $spacing (optional)
   * @param {px} $grid-width (optional)
   * @param {integer} $cols-count (optional)
   * @param {boolean} $grid-is-fluid (optional)
  */
  /**
   * Grid column
   * @param {px} $font-size (optional)
  */
  /**
   * @param {string} $selector
   * @param {integer} $cols-span
   * @param {px} $spacing (optional)
   * @param {px} $grid-width (optional)
   * @param {integer} $cols-count (optional)
   * @param {boolean} $is-fluid (optional)
  */
  /**
   * @param {integer} $grid-spacing (optional)
   */
  /**
   *
   * @param {integer} $span
   * @param {px} $spacing (optional)
   * @param {px} $grid-width (optional)
   * @param {integer} $cols-count (optional)
   * @param {boolean} $grid-is-fluid (optional)
  */
  /**
   * Grid column
   * @param {px} $font-size (optional)
  */ }
  @media print {
    .page-content {
      page-break-after: always; } }
  .page-content .page-link-to-github {
    position: relative;
    display: inline-block;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    color: #828282;
    font-size: 12px;
    padding: 4px 10px;
    text-decoration: none; }
    .page-content .page-link-to-github:hover {
      color: #333333;
      border-color: #333333; }
    .page-content .page-link-to-github .github-icon {
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url("../layout/images/main-sprite.png");
      background-repeat: no-repeat;
      background-position: -50px 0; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .page-content .page-link-to-github .github-icon {
          background-image: url("../layout/images/main-sprite@2x.png");
          background-size: 150px auto; } }
    .page-content .page-link-to-github:hover .github-icon {
      background-position: 0 0; }
    .page-content .page-link-to-github .text {
      padding-left: 27px; }
  .page-content .page-link-to-github {
    float: right;
    top: 4px; }
  .page-content .section-title, .page-content h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 33px; }
    .page-content .section-title:first-of-type, .page-content h1:first-of-type {
      margin-top: 0;
      margin-bottom: 30px; }
    @media print {
      .page-content .section-title, .page-content h1 {
        page-break-before: always;
        page-break-after: avoid; } }
    .page-content .section-title {
      padding-top: 240px;
      margin-bottom: 45px;
      font-size: 80px;
      line-height: 90px;
      font-weight: bold; }
  .page-content h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 27px; }
    .page-content h2:first-of-type {
      margin-top: 0; }
    @media print {
      .page-content h2 {
        page-break-after: avoid; } }
  .page-content h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 22px; }
    @media print {
      .page-content h3 {
        page-break-after: avoid; } }
  .page-content h4 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold; }
    @media print {
      .page-content h4 {
        page-break-after: avoid; } }
  .page-content h5 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal; }
    @media print {
      .page-content h5 {
        page-break-after: avoid; } }
  .page-content ul {
    margin-bottom: 15px;
    margin-left: 30px; }
    .page-content ul > li {
      margin-bottom: 7.5px;
      list-style: none; }
      .page-content ul > li:last-child {
        margin-bottom: 0; }
      .page-content ul > li:before {
        position: absolute;
        margin-top: -1px;
        margin-left: -20px;
        color: #666;
        content: '\2014'; }
    .page-content ul ul,
    .page-content ul ol {
      margin-top: 7.5px; }
  .page-content ol {
    margin-bottom: 15px;
    margin-left: 30px; }
    .page-content ol > li {
      list-style: decimal;
      margin-bottom: 7.5px; }
      .page-content ol > li:last-child {
        margin-bottom: 0; }
    .page-content ol ul,
    .page-content ol ol {
      margin-top: 7.5px; }
  .page-content pre {
    font-family: Consolas, Menlo, Courier, monospace;
    line-height: 22px; }
  .page-content pre code {
    display: block;
    padding: 15px 20px;
    font-family: Consolas, Menlo, Courier, monospace; }
  .page-content code {
    font-family: Consolas, Menlo, Courier, monospace; }
    .page-content p > code,
    .page-content li > code {
      padding: 0 5px;
      border-radius: 4px;
      background-color: #efefef; }
  .page-content pre {
    font-family: Consolas, Menlo, Courier, monospace;
    line-height: 22px; }
  .page-content table {
    margin-bottom: 30px; }
    .page-content table.zebra tbody tr:nth-child(odd) {
      background-color: #f5f5f5; }
    .page-content table.wide {
      min-width: 100%; }
    .page-content table thead {
      background-color: #F7F7F7;
      border-bottom-width: 2px; }
    .page-content table tfoot {
      color: #ccc; }
      .page-content table tfoot tr {
        border-bottom: none; }
    .page-content table tr {
      border-bottom: 1px solid #dcdcdc; }
    .page-content table th {
      padding-top: 10px;
      padding-bottom: 6px;
      text-align: left;
      font-weight: bold; }
    .page-content table th,
    .page-content table td {
      padding: 6px 10px;
      vertical-align: top; }
      .page-content table th:first-child,
      .page-content table td:first-child {
        padding-left: 12px; }
      .page-content table th:last-child,
      .page-content table td:last-child {
        padding-right: 12px; }
  .page-content blockquote.note {
    padding: 20px 40px;
    background-color: #FFFFE3;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAOYAAAIGEe7kANGuIOvNhLaTDfDgUN2/enJ0QPbSOPjw38+qR7yeN/DiwzU2P9rGAvTfqvPpF+PUuvHibOG+XuLQqcmtffDjlPHPRbaOKN3NoCYnOP//AI6IGt3cRsulQ0A3Hvf3KtrOIPbkWPXoQfDeiefUdxASIfLlK+zadsCZKLSMGP/7HdOuV/fu2PPnpfn1AO3cWs6mNN3DadSsO/3jMu/fh+/euNi2Svz1CLyWEsOdP//oR+jTgvbuBvrlZ/z25fbuIb+YIOjTpLuUG8KbNffmpfbpsffqyfbmnf7yJuXJI9OwMfHjVvbrQLidEuzce9itQvrxGfHhlMehQM+tJ+vZhzg8RRAUK+vmMuzbYePHb/LouN61SP//Cffrpv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUUAF8ALAAAAAAQABAAAAeWgF+Cg4SFhl8tCh42h4VcW0YejYMPWi5SJQaTXzNIS1Q+MQmNAzwXAFdKTCyHPzMWCCYaISMCDIYTVU87Hw0rJ0ALhUc3NRIiHAdJEDgOGYRQUihZBVgdED0vG0ODQjIkKDAjBE442hsBFYJTLk9ZMDQfVl0b9RsE617GTE1RIPb1VAiioINIihRBhuRYuBBDhE0QIwYCADs=);
    background-repeat: no-repeat;
    background-position: 15px 24px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; }
    .page-content blockquote.note p:last-child {
      margin-bottom: 0; }
    .page-content blockquote.note code {
      padding: 0;
      background-color: transparent; }
  .page-content pre code._highlighted {
    color: #000;
    background: #f7f7f7;
    /* Common */
    /* Line Numbers */
    /* Operator */
    /* Punctuation */
    /* Operator.Word */
    /* Text.Whitespace */
    /* Generic */
    /* Generic */
    /* Generic.Deleted */
    /* Generic.Emph */
    /* Generic.Error */
    /* Generic.Heading */
    /* Generic.Inserted */
    /* Generic.Output */
    /* Generic.Prompt */
    /* Generic.Strong */
    /* Generic.Subheading */
    /* Generic.Traceback */
    /* Keyword */
    /* Literal */
    /* Literal */
    /* Literal.Date */
    /* Literal.Number.Oct */
    /* Literal.String.Backtick */
    /* Literal.String.Double */
    /* Literal.String.Escape */
    /* Literal.String.Heredoc */
    /* Literal.String.Interpol */
    /* Literal.String.Other */
    /* Literal.String.Regex */
    /* Name */
    /* Name */
    /* Name.Attribute */
    /* Name.Builtin */
    /* Name.Class */
    /* Name.Constant */
    /* Name.Decorator */
    /* Name.Entity */
    /* Name.Exception */
    /* Name.Function */
    /* Name.Label */
    /* Name.Namespace */
    /* Name.Other */
    /* Name.Property */
    /* Name.Tag */
    /* Name.Variable */
    /* Name.Builtin.Pseudo */
    /* Name.Variable.Class */
    /* Name.Variable.Global */
    /* Name.Variable.Instance */
    /* Comment */
    /* Comment.Preproc */
    /* Comment.Special */
    /* Error */
    /* Error */ }
    .page-content pre code._highlighted .lineno {
      color: #586e75; }
    .page-content pre code._highlighted .o {
      color: #000; }
    .page-content pre code._highlighted .p {
      color: #000; }
    .page-content pre code._highlighted .ow {
      color: #859900; }
    .page-content pre code._highlighted .w {
      color: #93a1a1; }
    .page-content pre code._highlighted .g {
      color: #93a1a1; }
    .page-content pre code._highlighted .gd {
      color: #2aa198; }
    .page-content pre code._highlighted .ge {
      color: #93a1a1;
      font-style: italic; }
    .page-content pre code._highlighted .gr {
      color: #dc322f; }
    .page-content pre code._highlighted .gh {
      color: #cb4b16; }
    .page-content pre code._highlighted .gi {
      color: #859900; }
    .page-content pre code._highlighted .go {
      color: #93a1a1; }
    .page-content pre code._highlighted .gp {
      color: #93a1a1; }
    .page-content pre code._highlighted .gs {
      color: #93a1a1;
      font-weight: bold; }
    .page-content pre code._highlighted .gu {
      color: #cb4b16; }
    .page-content pre code._highlighted .gt {
      color: #93a1a1; }
    .page-content pre code._highlighted .k,
    .page-content pre code._highlighted .kc,
    .page-content pre code._highlighted .kt,
    .page-content pre code._highlighted .kd,
    .page-content pre code._highlighted .kn,
    .page-content pre code._highlighted .kr {
      color: #0037B3;
      font-weight: bold; }
    .page-content pre code._highlighted .l {
      color: #93a1a1; }
    .page-content pre code._highlighted .ld {
      color: #93a1a1; }
    .page-content pre code._highlighted .m,
    .page-content pre code._highlighted .mf,
    .page-content pre code._highlighted .mh,
    .page-content pre code._highlighted .mi,
    .page-content pre code._highlighted .il {
      color: #0000FF; }
    .page-content pre code._highlighted .s,
    .page-content pre code._highlighted .sc,
    .page-content pre code._highlighted .sd,
    .page-content pre code._highlighted .s1,
    .page-content pre code._highlighted .ss {
      color: #009C00; }
    .page-content pre code._highlighted .mo {
      color: #2aa198; }
    .page-content pre code._highlighted .sb {
      color: #586e75; }
    .page-content pre code._highlighted .s2 {
      color: #2aa198; }
    .page-content pre code._highlighted .se {
      color: #cb4b16; }
    .page-content pre code._highlighted .sh {
      color: #93a1a1; }
    .page-content pre code._highlighted .si {
      color: #2aa198; }
    .page-content pre code._highlighted .sx {
      color: #2aa198; }
    .page-content pre code._highlighted .sr {
      color: #dc322f; }
    .page-content pre code._highlighted .n {
      color: #000; }
    .page-content pre code._highlighted .na {
      color: #0000FF; }
    .page-content pre code._highlighted .nb {
      color: #0037B3; }
    .page-content pre code._highlighted .nc {
      color: #000; }
    .page-content pre code._highlighted .no {
      color: #660E7A; }
    .page-content pre code._highlighted .nd {
      color: #808000; }
    .page-content pre code._highlighted .ni {
      color: #cb4b16; }
    .page-content pre code._highlighted .ne {
      color: #cb4b16; }
    .page-content pre code._highlighted .nf {
      color: #000; }
    .page-content pre code._highlighted .nl {
      color: #93a1a1; }
    .page-content pre code._highlighted .nn {
      color: #000; }
    .page-content pre code._highlighted .nx {
      color: #93a1a1; }
    .page-content pre code._highlighted .py {
      color: #93a1a1; }
    .page-content pre code._highlighted .nt {
      color: #001EAA; }
    .page-content pre code._highlighted .nv {
      color: #000; }
    .page-content pre code._highlighted .bp {
      color: #000; }
    .page-content pre code._highlighted .vc {
      color: #660E7A; }
    .page-content pre code._highlighted .vg {
      color: #660E7A; }
    .page-content pre code._highlighted .vi {
      color: #660E7A; }
    .page-content pre code._highlighted .c,
    .page-content pre code._highlighted .cm,
    .page-content pre code._highlighted .c1 {
      color: #808080; }
    .page-content pre code._highlighted .cp {
      color: #859900; }
    .page-content pre code._highlighted .cs {
      color: #859900; }
    .page-content pre code._highlighted .err {
      color: #93a1a1; }
  .page-content ul {
    line-height: 24px; }
  .page-content ol {
    line-height: 24px; }
  .page-content p {
    margin-bottom: 15px;
    line-height: 24px; }
    @media print {
      .page-content p {
        page-break-inside: avoid; } }
  .page-content img {
    max-width: 100%; }
  .page-content pre {
    margin-bottom: 15px;
    page-break-inside: avoid; }
  .page-content blockquote {
    margin-bottom: 15px;
    page-break-inside: avoid; }
  .page-content hr {
    height: 2px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #dcdcdc;
    margin: 30px 0 30px; }
  .page-content kbd {
    display: inline;
    padding: 0 4px;
    line-height: 1.2;
    border: 1px solid #b5b5b5;
    color: #828282; }
  .page-content .keyword {
    font-family: Consolas, Menlo, Courier, monospace;
    font-style: normal;
    color: #0000C0; }
  .page-content .error {
    color: #ff0000;
    padding: 0 4px; }
  .page-content .warning {
    background-color: #ffec68;
    padding: 0 4px; }
