.technology {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.technology svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: unset;
  container: unset;
}
