<!DOCTYPE html>
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<html>
<head>
    {% include meta-inf.html %}
    {% if page.entry-point %}
        <link rel="stylesheet" href="/_assets/{{page.entry-point}}.css"/>
        <script src="/_assets/{{page.entry-point}}.js"></script>
    {% endif %}
    <link rel="stylesheet" href="/_assets/common.css"/>
    <script src="/_assets/common.js"></script>
</head>
<body>
{% include analytics.html %}

<div class="global-layout">

    {% include header.html active=page.main_nav_id %}

    <div class="g-layout global-content">
        {{ content }}
    </div>

</div>

{% include footer.html %}
</body>
</html>