<!DOCTYPE html>
    {% include browser.html %}
<html>
<head>
    {% include head.html %}
</head>
<body class="page_docs">

<div class="global-layout">
    {% include header.html %}

    <div class="global-content">

        <div class="g-grid">

            <div class="g-12">
                {% include docs-nav.html nav='learn' current_section='docs' %}
            </div>

            <div class="page-sidebar g-3">
                {% include docs-pages-list-nav.html %}
            </div>

            <div class="page-content g-9">
                <h1 class="page-title">{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>

    </div>

</div>

{% include footer.html %}
{% include scripts.html %}
</body>
</html>