<!DOCTYPE html>
    {% include browser.html %}
<html>
    <head>
        {% include head.html %}
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ page.title }}</a></h1>
          </div>
          <div> {{ page.description }}</div>

            {{ content }}

          <div id="related">
              <h4>Related</h4>


                {% for related in page.related %}

              {% for post in site.posts %}

              {% if related.title == post.title %}

              <p><a href="{{ post.url }}">{{ post.title }}</a></p>
              {% endif %}
            {% endfor %}
              {% endfor %}

          </div>

        </div>
    {% include footer.html %}
    {% include scripts.html %}
    </body>
</html>
