---
layout: base
main_nav_id: docs
---

<div class="g-grid">

    <div class="g-12">
        {% include nav/docs.html current_section='reference' %}
    </div>

    <div class="g-3">
        {% include nav/reference.html %}
    </div>

    <div class="page-content g-9">
        <a href="https://github.com/JetBrains/kotlin-web-site/edit/dev/{{ page.path }}"
           class="page-link-to-github"
           target="_blank">
                <i class="github-icon"></i>
                <span class="text">Edit Page</span>
        </a>
        {{ content }}
    </div>
</div>


<script type="text/javascript" src="{{ site.baseurl }}/scripts/nav.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    ui.nav.init('tree', '.page-tree-nav');
});
</script>