---
layout: base
main_nav_id: docs
---

<div class="g-grid">

    <div class="g-12">
        {% include nav/docs-main.html active='tutorials' %}
    </div>

    <div class="g-3">
        <div id="tutorials-nav">
            {% include nav/docs.html nav='tutorials' %}
        </div>
    </div>

    <div class="page-content g-9">
        {% include edit-on-github-link.html %}

        {{ content }}
    </div>
</div>


<script>
(function(){
    var navItems = {{ site.data.nav.tutorials | json }};

    require(['jquery', 'com/nav/navTree'], function ($, NavTree) {
        $(document).ready(function() {
            new NavTree(document.getElementById('tutorials-nav'), navItems);
        });
    });

})();
</script>