.content {
  padding: 24px 0 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  grid-template-areas:
    "group1 group1"
    "group2 group3";
  @media (width <= 1000px) {
    display: block;
    grid-template-columns: unset;
    grid-template-areas: unset;
  }
}

.group:first-child {
  grid-area: group1;
}

.group:not(:last-child) {
  margin-bottom: 32px;
}

.groupTitle {
  margin: 0 0 8px;
}

.checkboxes {
  display: flex;
  align-items: center;
  gap: 8px 24px;
}

.checkbox {
  display: flex;
  align-items: center;

  & span + span {
    display: flex;
    gap: 8px;
  }
}
