@import '../../config';

%table {
    border-top: 1px solid #dcdcdc;
    margin-bottom: $vertical-rhythm-unit*2;

    &.zebra {
        tbody tr:nth-child(odd) {
            background-color: #f5f5f5;
        }
    }

    &.wide {
        min-width: 100%;
    }

    tr {
        //border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }

    th,
    td {
        padding: 8px 15px;
        vertical-align: top;
    }

    th {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        font-weight: bold;
    }
}