@import '../../config';
@import '../../utils';
@import '../_bits/_header';
@import '../_bits/_list';
@import '../_bits/_code';
@import '../_bits/_pre';
@import '../_bits/_table';
@import '../_bits/_blockquote';
@import '../_syntax-highlight/_syntax-highlight_light';
@import '../_syntax-highlight/_syntax-highlight_dark';


// header
h1 {
    @extend %h1;
}

h2 {
    @extend %h2;

}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}


// list
ul {
    @extend %list%ul;
    line-height: 24px;
}

ol {
    @extend %list%ol;
    line-height: 24px;
}


// paragraph
p {
    margin-bottom: $vertical-rhythm-unit;
    line-height: 24px;

    @media print {
        page-break-inside: avoid;
    }
}


// images
img {
    max-width: 100%;
}


// pre
pre {
    @extend %pre;
    margin-bottom: $vertical-rhythm-unit;
    page-break-inside: avoid;
}


// code
code {
    @extend %code-span;
}

p > code,
li > code {
    @extend %code-span%_decorated;
}

pre code {
    @extend %code-block;

    &._highlighted {
        @extend %syntax-highlight_light;
    }
}


// blockquote
blockquote {
    @extend %blockquote;
    margin-bottom: $vertical-rhythm-unit;
    page-break-inside: avoid;
}


// table
table {
    @extend %table;
}


// misc
hr {
    height: 2px;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #dcdcdc;
    margin: $vertical-rhythm-unit*2 0 $vertical-rhythm-unit*2;
}

kbd {
    display: inline;
    padding: 0 4px;
    line-height: 1.2;
    border: 1px solid #b5b5b5;
    color: #828282;
}


// user defined
.keyword {
    font-family: $font-family-mono;
    font-style: normal;
    color: #0000C0;
}

.error {
    color: #ff0000;
    padding: 0 4px;
}

.warning {
    background-color: #ffec68;
    padding: 0 4px;
}