/**
 * @param {string} $selector
 * @param {integer} $cols-span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $is-fluid (optional)
*/
/**
 * @param {integer} $grid-spacing (optional)
 */
/**
 *
 * @param {integer} $span
 * @param {px} $spacing (optional)
 * @param {px} $grid-width (optional)
 * @param {integer} $cols-count (optional)
 * @param {boolean} $grid-is-fluid (optional)
*/
/**
 * Grid column
 * @param {px} $font-size (optional)
*/
.video-gallery .video-item {
  display: block;
  margin-right: -24px;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0; }
.video-gallery .video-item-title {
  display: block;
  position: relative;
  text-decoration: none;
  margin-left: 0;
  margin-right: 24px;
  padding-left: 36px;
  padding-bottom: 6px;
  padding-top: 6px; }
  .video-gallery .video-item-title .text {
    display: block; }
  .video-gallery .video-item-title .text::before {
    display: none; }
  .video-gallery .video-item-title .marker {
    position: absolute;
    display: inline-block;
    top: 9px;
    left: 2px;
    width: 27px;
    height: 15px;
    background: url("../layout/images/main-sprite.png") no-repeat 0 -200px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .video-gallery .video-item-title .marker {
        background-image: url("../layout/images/main-sprite@2x.png");
        background-size: 150px auto; } }
  .video-gallery .video-item-title .duration {
    display: inline-block;
    font-size: 12px;
    color: #a0a0a0; }
.video-gallery .video-item-title:hover {
  background-color: transparent; }
  .video-gallery .video-item-title:hover .marker {
    background-position: -50px -200px; }
.video-gallery .video-item-title.is_active {
  cursor: default; }
  .video-gallery .video-item-title.is_active .marker {
    background-position: -100px -200px; }
.video-gallery .tree-branch .video-item-title {
  margin-left: -24px;
  margin-right: 12px;
  padding-left: 48px; }
  .video-gallery .tree-branch .video-item-title .marker {
    top: 9px;
    left: 12px; }
.video-gallery .tree-branch .tree-branch .video-item-title {
  margin-left: -36px;
  margin-right: 0;
  padding-right: 12px;
  padding-left: 60px;
  padding-bottom: 5px;
  padding-top: 5px; }
  .video-gallery .tree-branch .tree-branch .video-item-title .marker {
    top: 7px;
    left: 24px; }

.video-gallery-description {
  margin-top: 5px; }
