@import '../../config';
@import '../../utils';

$branch-padding: 12px;
$item-padding: 5px;

.video-gallery {

    .video-item {
        display: block;
        margin-right: -($branch-padding * 2);
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .video-item-title {
        display: block;
        position: relative;
        text-decoration: none;
        margin-left: 0;
        margin-right: $branch-padding * 2;
        padding-left: $branch-padding * 3;
        padding-bottom: 6px;
        padding-top: 6px;

        &.is_external:hover {
            cursor: pointer;
        }

        .text {
            display: inline;
        }

        &.is_external .text {
            padding-right: 5px;
            font-weight: normal;
            color: $base-link-color;
        }

        &.is_external:hover .text {
            color: $base-link-hover-color;
        }

        .text::before {
            display: none;
        }

        .marker {
            position: absolute;
            display: inline-block;
            top: 9px;
            left: 2px;
            width: 27px;
            height: 15px;
            background: url('../layout/images/main-sprite.png') no-repeat 0 -200px;

            @include adapt_retina {
                background-image: url('../layout/images/main-sprite@2x.png');
                background-size: 150px auto;
            }
        }

        &.is_external .marker {
            width: 16px;
            height: 16px;
            background-position: 0 -500px;
        }

        &.is_active.is_external .marker {
            background-position: 0 -500px;
        }

        .duration {
            display: inline-block;
            font-size: 12px;
            color: #a0a0a0;
        }
    }

    .video-item-title:hover {
        background-color: transparent;

        .marker {
            background-position: -50px -200px;
        }
        &.is_external .marker {
            background-position: -50px -500px;
        }
    }

    .video-item-title.is_active {
        cursor: default;

        .marker {
            background-position: -100px -200px;
        }
    }

    .video-item:last-child .video-item-title {
        //padding-bottom: $item-padding * 2;
    }

    .tree-branch .video-item-title {
        margin-left: -($branch-padding * 2);
        margin-right: $branch-padding;
        padding-left: $branch-padding * 4;

        .marker {
            top: 9px;
            left: $branch-padding;
        }
        &.is_external .marker {
            left: 18px;
        }
    }

    .tree-branch .tree-branch .video-item-title {
        margin-left: -($branch-padding * 3);
        margin-right: 0;
        padding-right: $branch-padding;
        padding-left: $branch-padding * 5;
        padding-bottom: $item-padding;
        padding-top: $item-padding;

        .marker {
            top: 2px + $item-padding;
            left: $branch-padding * 2;
        }
        &.is_external .marker {
            left: 18px;
        }
    }

}

.video-gallery-description {
    margin-top: 5px;
}