/* Slide up banner */
.jb-slideup-promotion {
    position: fixed;
    z-index: 1;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 10px;
    transition: all 0.5s;
    margin-left: -1px;
}

.jb-slideup-promotion.is_hidden {
    bottom: -200px;
}

.jb-slideup-promotion__body {
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    background-repeat: no-repeat;
}

.jb-slideup-promotion__close-button {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

.jb-slideup-promotion__link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* + cookies-notify */
.jb-slideup-promotion.id_cookies {
    position: fixed;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 1001;
    width: auto;
    height: auto;
    opacity: 1;
    }
.jb-slideup-promotion.id_cookies.is_hidden {
    bottom: -450px;
    opacity: 0;
    }
    .id_cookies .jb-slideup-promotion__body {
        position: static;
        -webkit-transform: none;
                transform: none;
        }
    .id_cookies .jb-promotion__close-button {
        z-index: 5;
        background-color: #000;
        }
        .id_cookies .jb-promotion__close-button:before {
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            background: transparent url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-388.5%20313.5%2014%2014%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M-388.5%20327.281v-1.181l5.709-5.709-5.709-5.709v-1.182h1.181l5.709%205.709%205.708-5.709h1.182v1.182l-5.708%205.709%205.708%205.709v1.182h-1.182l-5.708-5.709-5.709%205.709h-1.181z%22%2F%3E%3C%2Fsvg%3E") no-repeat 50%/.6em;
            content: '';
            color: #fff;
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            -webkit-transition: background-color .4s;
                    transition: background-color .4s;
            }
        .id_cookies .jb-promotion__close-button:hover:before {
            background-color: red;
            }

.cookies-notify {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 23px 23px 0;
    width: 380px;
    height: 110px;
    background: #000;
    color: #ccc;
    font: 12px/1.2 Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;;
    -webkit-transition: height .4s;
            transition: height .4s;
    }
    .cookies-notify:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 15px;
        box-shadow: inset #000 0 5px 10px;
        content: '';
        }
    .cookies-notify__paragraph {
        margin: 0 0 1em;
        }
    .cookies-notify__link {
        color: inherit;
        text-decoration: underline;
        }

.jquery-console-focus span.jquery-console-cursor {
    background: #eee;
    color: #eee;
    font-weight: bold;
    }
    .win .jquery-console-focus span.jquery-console-cursor {
        background: transparent;
        border-bottom: 2px solid;
        -webkit-animation: blink 1s steps(2, start) infinite;
                animation: blink 1s steps(2, start) infinite;
        }
    @keyframes blink {
        to      { visibility: hidden }
    }
    @-webkit-keyframes blink {
        to      { visibility: hidden }
    }
.jquery-console-inner { padding-bottom: 1em }
.jquery-console-message { margin-bottom: 1em; }
.jquery-console-message-error {}
.jquery-console-message-success {}
/* - cookies-notify */