<footer role="contentinfo" class="global-footer">
    <div class="global-footer-terms">
        <div class="g-footer-layout">

            <div class="footer-info-block">
                <ul class="terms-social">
                    <li class="terms-social__item">
                        <a target="_blank" class="link visually-hidden" href="{{ config.GITHUB_URL }}">
                            <img src="{{ url_for('asset', path='github-logo.svg') }}" alt="GitHub logo"/></a>
                    </li>
                    <li class="terms-social__item terms-social__item_twitter">
                        <a target="_blank" class="link" href="{{ config.TWITTER_URL }}">
                            <img src="{{ url_for('asset', path='twitter-logo.svg') }}" alt="Twitter logo" height="16"/>
                        </a>
                    </li>
                    <li class="terms-social__item terms-social__item_slack">
                        <a target="_blank" class="link" href="{{ config.SLACK_URL }}">
                            <img src="{{ url_for('asset', path='slack-logo.svg') }}" alt="Slack logo"/>
                        </a>
                    </li>
                    <li class="terms-social__item terms-social__item_reddit">
                        <a target="_blank" class="link" href="{{ config.REDDIT_URL }}">
                            <img src="{{ url_for('asset', path='reddit-logo.svg') }}" alt="Reddit logo"/>
                        </a>
                    </li>
                    <li class="terms-social__item terms-social__item_bug-stackoverflow">
                        <a target="_blank" class="link" href="{{ config.STACK_OVERFLOW_URL }}">
                            <img src="{{ url_for('asset', path='stackoverflow-logo.svg') }}" alt="Stack Overflow logo"/>
                        </a>
                    </li>
                    <li class="terms-social__item terms-social__item_bug-youtube">
                        <a target="_blank" class="link" href="{{ config.YOUTUBE_URL }}">
                            <img src="{{ url_for('asset', path='youtube-logo.svg') }}" alt="Stack Overflow logo"/>
                        </a>
                    </li>
                </ul>

                <div class="global-footer-row">
                    <a class="terms-kit" href="/docs/contribute.html">Contributing to Kotlin</a>
                    <span class="divider"></span>
                    <a class="terms-kit" href="/docs/releases.html">Releases</a>
                    <span class="divider"></span>
                    <a class="terms-kit" href={{ url_for('asset', path='kotlin-media-kit.pdf') }}>Press Kit</a>
                    <span class="divider"></span>
                    <a class="terms-kit" href="/docs/security.html">Security</a>
                    <span class="divider"></span>
                    <a class="terms-kit"
                       target="_blank"
                       href="https://blog.jetbrains.com/kotlin/">Blog</a>
                    <span class="divider"></span>
                    <a class="terms-kit"
                       target="_blank"
                       href="https://youtrack.jetbrains.com/issues/KT">Issue Tracker</a>
                </div>

                <div class="license-footer-row">
                    <div class="terms-foundation">
                        <span>Kotlin™ is protected under the
                            <a class="terms-foundation_link"
                               href="https://kotlinlang.org/foundation/kotlin-foundation.html">
                        Kotlin Foundation
                            </a> and licensed under the <a class="terms-foundation_link"
                                                           href="https://github.com/JetBrains/kotlin-web-site/blob/master/LICENSE">
                                Apache 2 license.</a> <span class="terms-sponsor-mobile">Supported and developed by <a
                                    href="http://jetbrains.com"
                                    class="terms-foundation_link"
                                    target="_blank">JetBrains</a></span>
                        </span>
                    </div>

                    <div class="jetbrains-link-mobile">
                        <a href="http://jetbrains.com" target="_blank"></a>
                    </div>
                </div>
            </div>

            <div class="sponsored-block">
                <div class="terms-sponsor">
                    <a href="http://jetbrains.com" target="_blank">
                        <div class="jetbrains-link"></div>
                    </a>
                    <span>Supported and developed by <a href="http://jetbrains.com"
                                                        class="terms-foundation_link"
                                                        target="_blank">JetBrains</a></span>
                </div>
            </div>

        </div>
    </div>

</footer>
