<header class="global-header">

    <div class="global-header-panel">
        <div class="g-layout">
            <a class="global-header-logo" href="{{ baseurl }}/">Kotlin</a>
            {% include 'inc/nav/global-nav.html' %}
        </div>
        <a class="conference-banner" href="https://kotlinconf.com/?utm_source=kotlinlang&utm_medium=web&utm_campaign=superearlybird">
            <div class="conference-banner__img"></div>
        </a>
    </div>

    <div class="g-layout">
        {% if is_index_page %}
            <div class="kotlin-info">
                <div class="kotlin-info-description">
                    Statically typed programming language<br>
                    for the JVM, Android and the browser
                </div>
                <div class="kotlin-info-description-extra">
                    100% interoperable with Java™
                </div>
                <a href="http://try.kotlinlang.org" class="get-kotlin-button">
                    Try Kotlin
                </a>
            <span class="release-banner">
                Kotlin 1.1 Is Here!
                <a class="release-banner__link"
                   href="http://blog.jetbrains.com/kotlin/2017/03/kotlin-1-1/">
                    read more</a>
            </span>
            </div>
        {% endif %}
    </div>
</header>
