{% if is_index_page %}
    <div class="global-header-panel banner-nav">
        <div class="g-layout">
            {% include 'inc/nav/header-banner-nav.html' %}
        </div>
    </div>
{% endif %}
<header class="global-header">
    <div class="global-header-panel">
        <div class="g-layout">
            <a class="global-header-logo" href="{{ baseurl }}/">Kotlin</a>
            {% include 'inc/nav/global-nav.html' %}
        </div>
    </div>

    {% if is_index_page %}
        <div class="banner-main">
            <div class="g-layout">
                <div class="kotlin-info">
                    <a href="https://blog.jetbrains.com/kotlin/2018/10/kotlin-1-3/" class="kotlin-info-button"></a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="g-layout">
        {% if is_index_page %}
            <h2 class="banner-header">Kotlin 1.3 <a href="/docs/reference/whatsnew13.html"
                                                    class="kotlin-whats">Released</a>
            </h2>
            <div class="kotlin-slides">
                <div class="slides-container">
                    <div class="slide-item slide-1">
                        <a href="/docs/reference/native-overview.html">Kotlin/Native
                            <div class="slide-footer">reached beta</div>
                        </a>
                    </div>
                    <div class="slide-item slide-2">
                        <a href="/docs/reference/coroutines-overview.html">Coroutines
                            <div class="slide-footer">are now stable</div>
                        </a>
                    </div>
                    <div class="slide-item slide-3">

                        <a href="/docs/reference/multiplatform.html">Multiplatform
                            <div class="slide-footer">code reuse</div>
                        </a>
                    </div>
                    <div class="slide-item slide-4">
                        <a href="/docs/reference/">Learning Kits
                            <div class="slide-footer">start easily</div>
                        </a>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
</header>