<div class="search-popup" tabindex="1000">
    <div class="search-popup__content">
        <div class="search-popup__controls">
            <div class="search-popup__input"></div>
            <div class="search-popup__close">
                <div class="search-popup__close-icon-wrapper">
                    <div class="search-popup__close-icon"></div>
                </div>
                <div class="search-popup__close-text">esc</div>
            </div>
        </div>
        <div class="search-popup__results"></div>
    </div>
</div>