@import "@jetbrains/kotlin-web-site-ui/out/components/breakpoints-v2/media.pcss";

.reportBlock {
    /*margin-top: 96px;*/
    padding: 12px;
    border-radius: 48px;
    background: linear-gradient(180deg, #997BED -17.32%, #D01AD8 46.61%, rgba(0, 196, 255, 0.70) 101.77%, rgba(39, 175, 216, 0.00) 161.59%);
    box-sizing: border-box;
    background-size: 100% 200%;
    animation: gradient-flow 3s ease-in-out infinite alternate;
}

@keyframes gradient-flow {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}

.inner {
    background: #000;
    border-radius: calc(48px - 12px);
    padding: 36px;
}

.title {
    margin: 0;
}

.text {
    margin-top: 16px;
}

.button {
    margin-top: 32px;
    width: 100%;
}

@media (--ktl-ts-min) {
    .reportBlock {
        margin-top: 144px;
    }

    .button {
        width: auto;
    }
}

@media (--ktl-ds-min) {

    .reportBlock {
        margin-top: 0;
    }

    .text {
        max-width: 872px;
    }
}
