name: Verify samples

on:
  push:
    branches: [ token-test ]
  pull_request:
    branches: [ token-test ]
jobs:
  verify_samples:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.TEST_APP_ID }}
          private-key: ${{ secrets.TEST_APP_TOKEN }}
          owner: ${{ github.repository_owner }}
          repositories: 'kotlin-compiler-server,kotlin-web-site'
      - name: Run a verifier
        uses: zoobestik/kotlin-samples-verifier@kotlinlang
        with:
          push-repository: 'https://github.com/JetBrains/kotlin-compiler-server'
          tag-filter: '#tag="code" & kotlin-runnable="true" & !validate="false"'
          push-path: 'src/test/resources/test-compile-data/jvm/kotlin-web-site'
          username: 'x-access-token'
          password: '${{ steps.app-token.outputs.token }}'
          report-error-only: true
