.item {
    border-radius: 16px;
    background: rgba(126, 66, 255, 0.30);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    padding: 16px;
    min-height: 80px;
    box-sizing: border-box;
    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &:nth-child(2) {
        background: rgba(126, 66, 255, 0.50);
        margin-left: 32px;
    }

    &:nth-child(3) {
        background: rgba(126, 66, 255, 0.70);
        margin-left: 64px;
    }

    &:nth-child(4) {
        background: rgba(126, 66, 255, 0.90);
        margin-left: 96px;
    }
}

.icon {
    flex-shrink: 0;
    margin-right: 16px;
}

.title {
    padding: 0;
    margin: 0;
}

.codeBlock {
    width: 100%;
    padding: 16px 16px 66px;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: auto;
    background-color: #282a36; /* Dracula theme background */
}

.codeBlock :global(pre) {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
}
